:-webkit-full-screen .column{width:100%;height:100%!important}:-moz-full-screen .column{width:100%;height:100%!important}:-ms-full-screen .column{width:100%;height:100%!important}:-o-full-screen .column{width:100%;height:100%!important}:full-screen .column{width:100%;height:100%!important}