/*
 The MIT License (MIT)

 Copyright (c) 2017 Karl James Velarde

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
 */

.tree-control .item-close:before,
.tree-control .tree-input span.selected-items .selected-item-close:before {
    content: 'x'
}

.tree-control .tree-input {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #c6c6c6;
    padding: 1px 8px;
    font-size: 14px;
    min-height: 38px!important;
    border-radius: 4px;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    white-space: normal;
    background-color: #fff;
    background-image: linear-gradient(#fff, #f7f7f7)
}

.tree-control .tree-input:hover {
    background-image: linear-gradient(#fff, #e9e9e9)
}

.tree-control .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 1px 12px!important;
    vertical-align: middle;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 0 dotted
}

.tree-control .tree-input span.selected-items .selected-item {
    background: #f2f2f2;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    padding: 3px;
    cursor: text
}

.tree-control .tree-input span.selected-items .selected-item-close {
    width: 20px;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    padding: 2px;
    text-align: center
}

.tree-control .tree-input span.selected-items .selected-item-close:hover {
    background-color: #f2f2f2
}

.tree-control .tree-view {
    background-color: #fff;
    z-index: 999;
   /*  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
    min-width: 327px;
    max-height: 425px;
    overflow: auto;
    /* padding: 10px 5px */
}

.tree-control .tree-view ul {
    padding: 0;
    margin: 0
}

.tree-control .tree-view ul .item-details {
    display: inline-block;
    margin-left: 5px
}

.tree-control .tree-view ul .tree-checkbox {
    margin-right: 3px;
    margin-top: 0;
    color: #ddd!important;
    cursor: pointer
}

.tree-control .tree-view .active {
    background-color: #f2f2f2;
    border-radius: 3px
}

.tree-control .tree-view .selected.active {
    background-color: #46b8da
}

.tree-control .tree-view .helper-container {
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 0
}

.tree-control .tree-view .tree-container {
    padding: 8px
}

.tree-control .tree-view .item-container {
    padding: 3px;
    color: #444;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    position: relative
}

.tree-control .tree-view .item-container:hover {
	
	background-image:linear-gradient(#64c4d1, #51a0ab)!important;
    /* background-image: linear-gradient(#c1c1c1, #999)!important; */
    color: #fff!important;
    cursor: pointer;
     border: 1px solid #51a0ab!important
    /* border: 1px solid #ccc!important */
}

.tree-control .tree-view .selected {
    background-image: linear-gradient(#e9e9e9, #f1f1f1);
    color: #555;
    cursor: pointer;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #d9d9d9
}

.tree-control .clear-button,
.tree-control .tree-view .helper-button {
    display: inline;
    text-align: center;
    font-size: 13px;
    color: #666;
    background-color: #f1f1f1;
    cursor: pointer
}

.tree-control .tree-view .helper-button {
    border: 1px solid #ccc;
    height: 26px;
    border-radius: 2px;
    line-height: 1.6;
    margin: 0 0 8px
}

.tree-control .clear-button {
    position: absolute;
    height: 22px;
    width: 22px;
    line-height: 1.4;
    right: 40px;
    top: 6px;
    z-index: 50
}

.tree-control .input-filter {
    border-radius: 2px;
    border: 1px solid #ccc;
    height: 26px;
    font-size: 14px;
    width: 100%;
    padding-left: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #888;
    margin: 0 0 8px
}

.tree-control .clear-button:hover,
.tree-control .tree-view .helper-button:hover {
    border: 1px solid #ccc;
    color: #999;
    background-color: #f4f4f4
}

.tree-control .clear-button:focus,
.tree-control .input-filter:focus,
.tree-control .tree-view .helper-button:focus {
    border: 1px solid #66AFE9!important;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .035), 0 0 5px rgba(82, 168, 236, .7)!important
}

.tree-control .tree-view .line {
    max-height: 34px;
    overflow: hidden;
    position: relative
}

.tree-control .item-close {
    width: 20px;
    cursor: pointer;
    font-weight: 700;
    padding: 5px
}

.tree-control .item-close:hover {
    background-color: #f2f2f2
}

.tree-control .tree-view li {
    list-style-type: none;
    margin-left: 15px
}

.tree-control .tree-view li .expand {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #525252
}

.tree-control .tree-view li .expand-opened {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #525252
}

.tree-control .tree-view li.top-level {
    margin: 0
}
.panel-catalog .panel-body {
    padding: 5px 5px;
}

.tree-control .tree-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5
}

.tree-control .tree-view::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5
}

.tree-control .tree-view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #16a6af
}


