@charset "UTF-8";
/* Data Dashboard css */
.headerCon{
	border: 1px solid #ddd;
    padding: 16px;
}
.font-size-ds{
	font-size: 16px;
}
.grid-height{
	height: 130px !important;
	margin-top: 0px;
}
.count-css{
	font-size: 30px;
    color: #17b9e7;
}
.before-count-content{
	font-weight: 500 !important;
    color: #333 !important;
    font-size: 15px !important;
}
.grid-padding-top{
	padding-top: 15px;
	padding-bottom: 10px;
}
.grid-margin-top{
	margin-top: 10px !important;
}
.gridCardActive{
	box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999 !important;
	-ms-box-shadow:0 0 10px #999;
}
.padding-right{
	padding-right: 0px;
}
.padding-left{
	padding-left: 0px;
}
.input-height{
	height: 35px !important;
}
.newfeed label {
	cursor: not-allowed;
}
.width-col-sm-3{
	width: 20% !important;
}
/*Slider switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: #d9534f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 9px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5cb85c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 4px;
    width: 39px;
}

.slider.round:before {
    border-radius: 5px;
}

.model-add-field-btn {
    float: right;
    margin-top: 10px;
    text-align: center;
}

.model-remove-field-btn {
    float: right;
}
.breakWord{
	word-wrap: break-word;
	word-break: break-all;
}