/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.11.2 - 2015-03-17T04:08:46.478Z
 * License: MIT
 */

.ui-select-highlight {
    font-weight: bold
}

.ui-select-offscreen {
    clip: rect(0 0 0 0)!important;
    width: 1px!important;
    height: 1px!important;
    border: 0!important;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden!important;
    position: absolute!important;
    outline: 0!important;
    left: 0!important;
    top: 0!important
}

.ng-dirty.ng-invalid>a.select2-choice {
    border-color: #d44950
}

.select2-result-single {
    padding-left: 0
}

.select2-locked>.select2-search-choice-close {
    display: none
}

.select-locked>.ui-select-match-close {
    display: none
}

body>.select2-container.open {
    z-index: 9999
}

.selectize-input.selectize-focus {
    border-color: #007fbb!important
}

.selectize-control>.selectize-input>input {
    width: 100%
}

.selectize-control>.selectize-dropdown {
    width: 100%
}

.ng-dirty.ng-invalid>div.selectize-input {
    border-color: #d44950
}

.btn-default-focus {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    text-decoration: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.ui-select-bootstrap .ui-select-toggle {
    position: relative
}

.ui-select-bootstrap .ui-select-toggle>.caret {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -2px
}

.input-group>.ui-select-bootstrap.dropdown {
    position: static
}

.input-group>.ui-select-bootstrap>input.ui-select-search.form-control {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.ui-select-bootstrap>.ui-select-match>.btn {
    text-align: left!important
}

.ui-select-bootstrap>.ui-select-match>.caret {
    position: absolute;
    top: 45%;
    right: 15px
}

.ui-select-bootstrap>.ui-select-choices {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px
}

body>.ui-select-bootstrap.open {
    z-index: 1000
}

.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 5px 3px 0 3px
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    background-color: transparent!important;
    border: 0;
    outline: 0;
    height: 1.666666em;
    margin-bottom: 5px
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    font-size: 1.6em;
    align-content: center
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    outline: 0;
    margin: 0 3px 3px 0
}

.ui-select-multiple .ui-select-match-item {
    position: relative
}

.ui-select-multiple .ui-select-match-item.dropping-before:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    margin-right: 2px;
    border-left: 1px solid #428bca
}

.ui-select-multiple .ui-select-match-item.dropping-after:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    margin-left: 2px;
    border-right: 1px solid #428bca
}

.ui-select-bootstrap .ui-select-choices-row>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.ui-select-bootstrap .ui-select-choices-row>a:hover,
.ui-select-bootstrap .ui-select-choices-row>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca
}

.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff
}

.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none!important
}

.ui-select-bootstrap.ng-dirty.ng-invalid>button.btn.ui-select-match {
    border-color: #d44950
}