[treecontrol] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    font-size: 10px
}

[treecontrol] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    overflow: hidden
}

[treecontrol] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px
}

[treecontrol] li.tree-expanded i.tree-leaf-head,
[treecontrol] li.tree-collapsed i.tree-leaf-head {
    display: none
}

[treecontrol] li.tree-expanded i.tree-branch-head,
[treecontrol] li.tree-collapsed i.tree-branch-head {
    display: inline
}

[treecontrol] li.tree-leaf i.tree-branch-head {
    display: none
}

[treecontrol] li.tree-leaf i.tree-leaf-head {
    display: inline
}

[treecontrol] li i {
    cursor: pointer
}

[treecontrol] li .tree-label {
    cursor: pointer;
    display: inline
}

[treecontrol].tree-classic li.tree-expanded i.tree-branch-head {
    padding: 1px 10px
}

[treecontrol].tree-classic li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px
}

[treecontrol].tree-classic li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px
}

[treecontrol].tree-classic li .tree-selected {
    background-color: #adf
}

[treecontrol].tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-opened-2.png") no-repeat
}

[treecontrol].tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-closed-2.png") no-repeat
}

[treecontrol].tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px;
    height: 16px;
    background: none no-repeat
}

[treecontrol].tree-light li .tree-selected {
    font-weight: bold
}

[treecontrol].tree-dark li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-opened-light.png") no-repeat
}

[treecontrol].tree-dark li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-closed-light.png") no-repeat
}

[treecontrol].tree-dark li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px;
    height: 16px;
    background: none no-repeat
}

[treecontrol].tree-dark li .tree-selected {
    font-weight: bold
}

[treecontrol].tree-dark {
    color: #ddd
}

treecontrol {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none
}

treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0
}

treecontrol li {
    position: relative;
    padding: 0 0 0 10px;
    line-height: 22px;
    font-size: 13px;
    color: #333
}

treecontrol li.tree-expanded i.tree-leaf-head,
treecontrol li.tree-collapsed i.tree-leaf-head {
    display: none
}

treecontrol li.tree-expanded i.tree-branch-head,
treecontrol li.tree-collapsed i.tree-branch-head {
    display: inline
}

treecontrol li.tree-leaf i.tree-branch-head {
    display: none
}

treecontrol li.tree-leaf i.tree-leaf-head {
    display: inline
}

treecontrol li i.tree-branch-head {
    cursor: pointer
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    padding: 0
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    padding: 0
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    padding: 1px 3px
}

treecontrol.tree-classic li .tree-selected {
    background-color: #adf
}

treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-opened-2.png") no-repeat
}

treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-closed-2.png") no-repeat
}

treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px;
    height: 16px;
    background: none no-repeat
}

treecontrol.tree-light li .tree-selected {
    font-weight: bold
}

treecontrol.tree-dark li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-opened-light.png") no-repeat
}

treecontrol.tree-dark li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/node-closed-light.png") no-repeat
}

treecontrol.tree-dark li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    width: 16px;
    height: 16px;
    background: none no-repeat
}

treecontrol.tree-dark li .tree-selected {
    font-weight: bold
}

treecontrol.tree-dark {
    color: #ddd
}