.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background: #c09e5a
}

.nav-tabs>li>a {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee
}

.panel-default {
    border: 1px solid #eee;
    box-shadow: none
}

.panel-default>.panel-heading {
    background: #fff;
    border-top: 0;
    color: #555
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #eee
}

.panel-default>.panel-heading:hover,
.nav>li>a:hover,
.nav>li>a:focus {
    color: #c09e5a
}

.panel-default>.panel-heading:hover a,
.panel-default>.panel-heading:hover a:after,
.nav>li>a:hover {
    color: #c09e5a
}

.panel-title>a {
    color: #333
}

.panel-title>a:hover {
    text-decoration: none
}

.panel-body {
    background: #fdfdfd
}

.pagination>li>a {
    background: none repeat scroll 0 0 #dfe5e1;
    color: #111
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background: none repeat scroll 0 0 #c09e5a;
    border-color: #c09e5a
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background: none repeat scroll 0 0 #c09e5a;
    border-color: #c09e5a;
    color: #fff
}

.pager li>a,
.pager li>span {
    border-radius: 4px
}

.pager li>a:hover,
.pager li>a:focus {
    background: #c09e5a;
    color: #fff;
    border-color: #c09e5a
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #2b7db7
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white
}

.progress {
    background-color: #eee
}

.progress span {
    background-color: #fff;
    color: #444
}

.progress-bar {
    background-color: #c09e5a
}

.progress-bar-success {
    background-color: #5bb75b
}

.progress-bar-info {
    background-color: #49afcd
}

.progress-bar-warning {
    background-color: #faa732
}

.progress-bar-danger {
    background-color: #da4f49
}

body,
main {
    color: #777;
    background: #fefefe
}

blockquote small {
    color: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333
}

h2 i {
    color: #999
}

.subTitle {
    color: #999
}

.largeQuote {
    background: #fdfdfd;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}

.title {
    background-color: #fff;
    border-bottom: 2px solid rgba(1, 1, 1, 0.075);
    border-top: 1px solid rgba(1, 1, 1, 0.05)
}

.paralaxText .iconRounded {
    border-color: #fff
}

.paralaxText .iconRounded:hover {
    border-color: #fff;
    background: 0
}

.bgMask:after,
.bgMask:before {
    display: block;
    content: "";
    height: 22px;
    position: absolute;
    width: 100%;
    border-radius: 60%;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.5)
}

.bgMask:after {
    bottom: -22px
}

.bgMask:before {
    top: -22px
}

.bgMask {
    background: rgba(0, 0, 0, 0.5)
}

.bgMask.opacity-0 {
    background: transparent
}

.bgMask.opacity-1 {
    background: rgba(0, 0, 0, 0.1)
}

.bgMask.opacity-2 {
    background: rgba(0, 0, 0, 0.2)
}

.bgMask.opacity-3 {
    background: rgba(0, 0, 0, 0.3)
}

.bgMask.opacity-4 {
    background: rgba(0, 0, 0, 0.4)
}

.bgMask.opacity-5 {
    background: rgba(0, 0, 0, 0.5)
}

.bgMask.opacity-6 {
    background: rgba(0, 0, 0, 0.6)
}

.bgMask.opacity-7 {
    background: rgba(0, 0, 0, 0.7)
}

.bgMask.opacity-8 {
    background: rgba(0, 0, 0, 0.8)
}

.bgMask.opacity-9 {
    background: rgba(0, 0, 0, 0.9)
}

.textLight,
.textLight h1,
.textLight h2,
.textLight h3,
.textLight h4,
.textLight h5,
.textLight h6,
.textLight ul#navTrail li a,
h1.textLight,
h2.textLight,
h3.textLight,
h4.textLight,
h5.textLight,
h6.textLight,
p.textLight p {
    color: white!important
}

.paralaxText blockquote,
.paralaxText h1,
.paralaxText h2,
.paralaxText h2 small,
.paralaxText h3,
.paralaxText p,
.paralaxText i {
    color: #fff
}

a,
a:focus {
    color: #c09e5a
}

a:hover,
.scrollspyNav .active a {
    color: #c09e5a
}

ul.iconsList li a {
    color: #555
}

ul.iconsList li a:hover,
ul.iconsList i {
    color: #c09e5a
}

.btn {
    background: #111;
    color: #333;
    border: 0;
    letter-spacing: .25em
}

.btn:hover,
.btn:focus {
    background: #c09e5a;
    color: #fff
}

.btn-border {
    background: 0;
    border: 2px solid #fff;
    color: #fff
}

.btn-inverse {
    background: none repeat scroll 0 0 #555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #fff!important
}

.btn-inverse:hover {
    background: none repeat scroll 0 0 #dfe5e1;
    border-bottom: 1px solid rgba(150, 150, 150, 0.25);
    color: #111!important
}

.btn-primary {
    background: #c09e5a;
    color: #fff!important
}

.btn-primary:hover {
    background: #111;
    color: #fff!important
}

.btn-info {
    background: #49afcd;
    color: #fff
}

.btn-success {
    background: #5bb75b;
    color: #fff
}

.btn-warning {
    background: #faa732;
    color: #fff
}

.btn-danger {
    background: #da4f49;
    color: #fff!important
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
.btn-link:hover {
    background: 0;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #49afcd
}

.btnWrapper {
    border: 1px solid #ccc
}

ul.quickMenu li a,
.contactPhone {
    color: #dfe5e1
}

ul.quickMenu li a:hover {
    color: #555
}

#mainHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)
}

#mainHeader .navbar-inner {
    background: #444;
    filter: none!important
}

#mainHeader.fixedHeader {
    background: rgba(255, 255, 255, 0.95);
    background: rgba(11, 11, 11, 0.95)
}

#mainMenu .navbar-nav li {
    border-bottom: 1px solid #eee
}

#mainMenu .navbar-nav li:last-child,
#mainMenu .navbar-nav li:last-child a {
    border-bottom: none!important
}

.navbar-nav>li>a>i,
.navbar-default .navbar-nav>li>a {
    color: #aaa
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #c09e5a;
    background: 0
}

.navbar-nav>li.sep:before {
    color: #eee
}

.navbar-default .navbar-nav>li>a.active {
    color: #c09e5a
}

.navbar-nav ul li a {
    color: #999
}

.navbar-nav li.hover>a,
.navbar-nav ul li a:hover {
    color: #c09e5a
}

.navbar-nav ul li.hover>a {
    color: #fff
}

@media(min-width:1025px) {
    body.headerTransparent #mainHeader:not(.fixedHeader) {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: none
    }
    body.headerTransparent #mainHeader:not(.fixedHeader) .navbar-nav>li>a>i,
    body.headerTransparent #mainHeader:not(.fixedHeader) .navbar-default .navbar-nav>li>a {
        color: #fff
    }
    .navbar-nav ul {
        background: #111
    }
    .navbar-nav ul li a:hover,
    .navbar-nav ul li.hover>a {
        background: #c09e5a;
        color: #fff
    }
    #mainMenu .navbar-nav li {
        border-bottom: 0
    }
    #mainMenu .navbar-nav ul li a {
        border-bottom: 1px solid #222
    }
    .nekoMegaMenu {
        background: #111
    }
    .nekoMegaMenu h2 {
        color: #fff
    }
    #boxedLayout {
        background: #c09e5a
    }
    body.headerTransparent.header3 #mainHeader:not(.fixedHeader) .navbar-default .navbar-nav>li>a {
        border-color: rgba(255, 255, 255, 0.1)!important
    }
}

.header1 #preHeader {
    background-color: #333
}

.header1 #mainHeader {
    border-bottom: 0
}

.header1 ul.quickMenu li,
.header1 .contactPhone {
    border-right: 1px solid #555
}

.header1 .navbar-default .navbar-nav>li>a {
    color: #555
}

.header2 #mainHeader {
    border-bottom: 0
}

.header2 .navbar-default .navbar-nav>li>a {
    color: #555
}

.header3 #preHeader {
    border-bottom: 1px solid #eee;
    background: #fff
}

.header3 #preHeader .socialNetwork a {
    border-left: 1px solid #eee
}

.header3 #preHeader .socialNetwork li:last-child a {
    border-right: 1px solid #eee
}

.header3 ul.quickMenu li a,
.header3 .contactPhone,
.header3 #preHeader .socialNetwork i {
    color: #ccc
}

.header3 #mainHeader.fixedHeader {
    background-color: #fff
}

.header4 #mainHeader {
    border-bottom: 0
}

.header5 #preHeader {
    background: #c09e5a
}

.header5 ul.quickMenu li a,
.header5 .contactPhone,
.header5 #preHeader .socialNetwork i {
    color: #fff
}

@media(min-width:1024px) {
    .header1 .navbar-default .navbar-nav>li>a.active,
    .header1 .navbar-default .navbar-nav>li>a:hover,
    .header1 .navbar-default .navbar-nav>li.hover>a,
    .header1 #resMainMenu li.active>a {
        background: #c09e5a;
        color: #fff
    }
    .header2 .navbar-default .navbar-nav>li>a.active,
    .header2 .navbar-default .navbar-nav>li>a:hover,
    .header2 .navbar-default .navbar-nav>li.hover>a,
    .header2 #resMainMenu li.active>a {
        background: #c09e5a;
        color: #fff
    }
    .header2 .navbar-nav ul,
    .header2 .nekoMegaMenu {
        background: #c09e5a
    }
    .header2 #mainMenu .navbar-nav ul li a {
        border-color: rgba(255, 255, 255, 0.25)
    }
    .header2 .navbar-nav ul li a {
        color: #fff
    }
    .header2 .navbar-nav ul li a:hover {
        background: #fff;
        color: #c09e5a
    }
    .header3 .navbar-default .navbar-nav>li>a {
        border-left: 1px solid #eee
    }
    .header4 .navbar-default .navbar-nav>li>a {
        border-bottom: 4px solid transparent;
        color: #444
    }
    .header4 .navbar-default .navbar-nav>li>a:hover,
    .header4 .navbar-default .navbar-nav>li.hover>a,
    .header4 #resMainMenu li.active>a {
        color: #c09e5a
    }
    .header4 .navbar-default .navbar-nav>li>a.active {
        border-bottom: 4px solid #c09e5a
    }
    .header4 .navbar-nav ul,
    .header4 .nekoMegaMenu {
        background: #eee
    }
    .header4 .nekoMegaMenu h2 {
        color: #555
    }
    .header4 #mainMenu .navbar-nav ul li a {
        border: 0
    }
    .header5 .navbar-nav ul,
    .header5 .nekoMegaMenu {
        background: #c09e5a
    }
    .header5 .navbar-default .navbar-nav>li>a.active,
    .header5 .navbar-default .navbar-nav>li>a:hover,
    .header5 .navbar-default .navbar-nav>li.hover>a,
    .header5 #resMainMenu li.active>a {
        background-color: #c09e5a;
        color: #fff
    }
    .header5 .navbar-nav ul li a {
        color: #fff
    }
    .header5 .navbar-nav ul li a:hover,
    .header5 .navbar-nav ul li.hover>a {
        background: #fff;
        color: #c09e5a
    }
    .header5 #mainMenu .navbar-nav ul li a {
        border-color: rgba(255, 255, 255, 0.25)
    }
}

footer {
    color: #777;
    background: #fff;
    border-top: 1px solid #ddd
}

footer h1,
footer h2,
footer h3,
footer h4 {
    color: #777;
    font-weight: 300
}

#footerRights {
    background-color: #dfe5e1;
    color: #999;
    border-top: 1px solid #ccc
}

#noSliderWrapper {
    background-color: #c09e5a
}

.page-header {
    border-bottom: 1px solid rgba(1, 1, 1, 0.075);
    background-color: #fff
}

.page-header h1,
.page-header p {
    color: #777
}

ul#navTrail li a {
    color: #777
}

ul#navTrail li a:hover {
    color: #c09e5a
}

ul#navTrail li#navTrailLast {
    color: #c09e5a
}

nav#subnav ul li a {
    border-bottom: 1px solid #eee;
    color: #c09e5a
}

nav#subnav ul li a.active,
nav#subnav ul li a:hover {
    border-bottom-color: #c09e5a;
    color: #c09e5a
}

#superSizedSlider h1,
#fullScreenSliderWrapper h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1)
}

.owl-theme .owl-controls .owl-buttons div {
    background: #c09e5a
}

.owl-theme .owl-controls .owl-buttons div:hover {
    background: #555
}

.owl-theme .owl-controls .owl-page span {
    background: #555
}

.carouselHome .owl-theme .owl-controls .owl-page span {
    background: #fff;
    color: #555
}

.owlCaption {
    color: #fff;
    background: rgba(0, 0, 0, 0.25)
}

.owlCaption h2 {
    color: #fff!important
}

.owl-animated .caption-wrapper {
    background-color: #ccc
}

@media(min-width:768px) {
    .owl-animated .caption-wrapper {
        background-color: transparent
    }
}

.owl-animated.owl-theme .owl-controls .owl-page span {
    background: white
}

@media(max-width:768px) {
    .caption-content-position .text-light,
    .caption-content-position .text-light h1,
    .caption-content-position .text-light h2,
    .caption-content-position .text-light h3,
    .caption-content-position .text-light h4,
    .caption-content-position .text-light h5,
    .caption-content-position .text-light h6,
    .caption-content-position .text-light p {
        color: #444!important
    }
}

.camera_caption h1 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33)
}

.camera_caption h2 {
    color: #fff
}

.camera_caption .camera_wrap a {
    background: inherit
}

.post h2 a {
    color: #555
}

.post h2 a:hover {
    color: #c09e5a
}

.tagCloud a:link,
.tagCloud a:visited {
    background-color: #fff;
    color: #ccc;
    border: 1px solid #eee
}

.tagCloud a:hover {
    background-color: #c09e5a;
    color: #FFF
}

p.credits {
    color: #555;
    background: #eee
}

p.credits a {
    color: #c09e5a
}

.widget {
    border-bottom: 1px solid #eee
}

.search .btn {
    border: 1px solid #DDD
}

.search .btn:hover {
    border-color: #c09e5a
}

ul.entry-meta li a {
    background: #eee
}

ul.entry-meta li a:hover {
    background: #c09e5a;
    color: #fff
}

nav#filter a {
    border: 1px solid #ddd;
    color: #555
}

nav#filter a:hover,
nav#filter a.current {
    background-color: #c09e5a;
    color: #fff;
    border-color: #c09e5a
}

li.filterTitle {
    color: #4f6266
}

section#projectDescription {
    background-color: #f8f8f8
}

.mfp-bg {
    background-color: #111
}

.boxLink {
    background: #c09e5a;
    color: #fff;
    text-align: center;
    position: relative
}

.boxLink h2 {
    color: #fff
}

.generatedMoreLink {
    background-color: #c09e5a
}

.pinBox {
    background: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
}

.pinInfo li a {
    color: #fff
}

.imgHover figcaption {
    background: #111;
    color: #fff
}

.imgHover figcaption h3 {
    color: #fff
}

.neko-hover-1 figcaption .iconLinks a {
    background-color: #c09e5a;
    color: #fff;
    border-color: #111
}

.neko-hover-1 figcaption .iconLinks a:hover {
    background-color: #111;
    color: #c09e5a
}

.neko-hover-1 figcaption a.btn {
    background-color: #fff;
    color: #111
}

.neko-hover-1 figcaption a.btn:hover {
    background-color: #c09e5a;
    color: #fff
}

#preloader {
    background-color: #111
}

#nekoToTop {
    color: #c09e5a;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

#nekoToTop:hover {
    color: #fff;
    background: #c09e5a
}

::-moz-selection {
    background: #c09e5a;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #c09e5a;
    color: #fff;
    text-shadow: none
}

.mask {
    background: #c09e5a
}

.hoverInfo a i {
    color: #fff
}

.hoverInfo a i.iconRounded {
    border-color: #fff
}

.hoverInfo a:hover span {
    color: #c09e5a
}

.hoverInfo a:hover i.iconRounded {
    border-color: #c09e5a
}

.pricingBloc {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.pricingBloc ul li {
    color: #444!important
}

.pricingBloc ul li:nth-child(odd) {
    background-color: #fff
}

.pricingBloc ul li:nth-child(even) {
    background-color: #fff
}

.pricingBloc ul li:last-child {
    border-bottom: 0
}

.pricingBloc h2 {
    background-color: #fff;
    color: #888!important;
    border-bottom: 1px solid #eee
}

.pricingBloc h3 {
    background-color: #fff;
    color: #777
}

.pricingBloc p {
    background-color: #fff;
    color: #444!important
}

.pricingBloc.focusPlan {
    margin-top: 0;
    border-color: #d1d1d1
}

.pricingBloc.focusPlan h2 {
    color: #c09e5a!important;
    border-bottom: 0
}

.pricingBloc.focusPlan h3 {
    background-color: #c09e5a;
    color: #fff!important
}

.form-control:focus {
    border: 1px solid #c09e5a;
    background-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.form-control {
    color: #444;
    border: 1px solid #ddd;
    background-color: #fff
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7
}

label.error {
    color: #fff;
    background-color: #b94a48;
    border: 0
}

#projectQuote,
#projectQuote h3 {
    background: #ddd;
    color: #444
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #c09e5a
}

.boxContent h2,
.boxContent h3 {
    color: #337ab7
}

.boxFeature i {
    color: #c09e5a
}

.boxFocus {
    border: 1px solid #ddd
}

.iconRounded {
    color: #c09e5a;
    border: 1px solid #c09e5a
}

.boxIcon a p {
    color: #777
}

.boxIcon a:hover h2,
.boxIcon a:hover p {
    color: #1f64a4
}

.boxFeatured a {
    color: #777
}

.boxFeatured a:hover {
    color: #555
}

.boxTestimonial {
    background: #dfe5e1
}

.boxTestimonial img {
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.whiteText {
    color: white
}

.footerWidget .boxTestimonial blockquote {
    background: #333;
    color: #eee
}

.ctaBox {
    border: 2px solid rgba(0, 0, 0, 0.05)
}

.ctaBoxFullwidth {
    border: 0
}

.ctaBox blockquote {
    color: #fff
}

.color0 {
    background-color: #fff
}

.color1,
.ctaBox.color1 {
    background-color: #dfe5e1;
    color: #444
}

.color1 h1,
.color1 h2,
.color1 h3,
.color1 h4,
.color1 blockquote,
.color1 a {
    color: #444
}

.color1 a.btn {
    color: #fff
}

.color1 a.btn:hover {
    color: #fff
}

.color1 .subTitle {
    color: #999
}

.color2,
.slice.color2,
.bulle.color2,
.ctaBox.color2 {
    background-color: #c09e5a;
    color: #fff
}

.ctaBox.color2 a.btn:hover {
    background-color: #fff;
    color: #c09e5a
}

.color2 h1,
.color2 h2,
.color2 h3,
.color2 h4,
.color2 blockquote,
.color2 a,
.color2.page-header h1,
.color2.page-header p {
    color: #fff
}

.color2 a.btn {
    color: #fff
}

.color2 a.btn:hover {
    color: #fff
}

.color2 a.btn-border {
    color: #fff
}

.color2 .ctaBox {
    border-color: rgba(255, 255, 255, 0.5)
}

.color2 h1:before,
.color2 h1:after {
    color: #555
}

.color2 .iconRounded {
    background-color: #FFF;
    color: #c09e5a
}

.color3,
.slice.color3,
.bulle.color3,
.ctaBox.color3 {
    background-color: #111;
    color: #fff
}

.color3 h1,
.color3 h2,
.color3 h3,
.color3 h4,
.color3 blockquote,
.color3 a,
.color3.page-header h1,
.color3.page-header p {
    color: #fff
}

.color3 a.btn {
    color: #fff
}

.color3 a.btn:hover {
    color: #fff
}

.color3 a.btn-border {
    color: #fff
}

.color3 .ctaBox {
    border-color: rgba(255, 255, 255, 0.5)
}

.color3 h1:before,
.color3 h1:after {
    color: #555
}

.color3 .iconRounded {
    background-color: #FFF;
    color: #111
}

.color3 .boxFeatured a {
    color: #777
}

.color3 .boxFeatured a:hover {
    color: #fff
}