.requiest-demo {
    border: 1px solid #2b7db7;
    color: #fff;
    padding: 10px;
    transition: background-color .5s ease;
    padding-top: 6px;
    padding-bottom: 6px
}

.requiest-demo:hover {
    background-color: #1f64a4
}

::selection {
    background: #2b7db7!important;
    color: #fff!important;
    text-shadow: none!important
}

.requiest-demo:hover {
    background-color: #0661a1
}

.navbar-nav ul li a {
    color: #fff!important
}

.navbar-nav ul {
    background: #0f4163!important
}

.fixedHeader .navbar-brand {
    padding: 11px 0!important
}

.fixedHeader .navbar-brand img {
    max-height: 38px!important
}

#mainHeader.fixedHeader {
    background: #002137!important
}

#mapWrapperSatellite {
    height: 300px!important
}

#mainMenu .navbar-nav ul li a {
    border-bottom: 1px solid #002137!important
}

.navbar-nav ul li a:hover,
.navbar-nav ul li.hover>a {
    background: #2b7db7!important;
    color: #fff!important
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #39adff!important;
    background: none!important;
    font-weight: 500!important
}

.menuFooterColor {
    color: #777!important
}

.foofterMenucolor {
    color: #2b7db7
}

.foofterMenucolor:hover {
    color: #000
}

.iconRounded {
    border: 1px solid #2b7db7!important;
    color: #2b7db7!important;
    background-color: #fff!important
}

.iconRounded:hover {
    color: #2b7db7!important
}

.iconRounded:hover {
    background-color: #fff!important
}

.bgMask {
    background: rgba(0, 0, 0, 0.2)!important
}

.navbar-nav>li>a>i,
.navbar-default .navbar-nav>li>a {
    color: #fff!important
}

.owl-theme .owl-controls {
    margin-top: 22px!important;
    margin-bottom: 20px!important
}

.home-Page-Hedings {
    font-size: 35px!important
}

.image-3 {
    background-image: url('../images/theme-pics/parallax-3.jpg')!important
}

.image-2 {
    background-image: url('../images/theme-pics/parallax-2.jpg')!important
}

.image-1 {
    background-image: url('../images/theme-pics/parallax-1.jpg')!important
}

.image-4 {
    background-image: url('../images/theme-pics/parallax-4.jpg')!important
}

.image-5 {
    background-image: url('../images/theme-pics/parallax-5.jpg')!important
}

.image-6 {
    background-image: url('../images/theme-pics/parallax-6.jpg')!important
}

.image-7 {
    background-image: url('../images/theme-pics/parallax-7.jpg')!important
}

.image-8 {
    background-image: url('../images/theme-pics/parallax-8.jpg')!important
}

.image-9 {
    background-image: url('../images/theme-pics/solutions_overview.jpg')!important
}

.image-10 {
    background-image: url('../images/theme-pics/why_augmentiq.jpg')!important
}

.image-11 {
    background-image: url('../images/theme-pics/parallax-11.jpg')!important
}

.footer-bag {
    background-image: url('../images/theme-pics/footerbg.jpg')!important
}

.col12Padding {
    padding: 0!important
}

.sectionPadding {
    padding-top: 30px!important;
    padding-bottom: 30px!important
}

.btn:hover,
.btn:focus {
    background: #2b7db7!important;
    color: #fff
}

.h1FontSize {
    font-size: 40px!important
}

.subHeadingColor {
    color: #fff!important
}

.btn-primary {
    background: #2b7db7!important;
    color: #333!important
}

.btn:hover,
.btn:focus {
    background: #1f64a4!important
}

.btn-big {
    padding-bottom: 20px;
    text-align: center
}

.form-group {
    margin-bottom: 25px!important
}

label {
    margin-bottom: 8px!important
}

.form-control:focus {
    border: 1px solid #66afe9!important
}

.btn {
    background: #fff!important;
    border: 1px solid #2b7db7
}

.strong-font {
    font-size: 17px!important;
    color: #333!important
}

.col-padiing {
    padding-bottom: 30px
}

a,
a:focus {
    color: #337ab7!important;
    cursor: pointer
}

a:hover,
.scrollspyNav .active a {
    color: #23527c!important;
    cursor: pointer
}

.hoverColor {
    color: #2b7db7
}

h2 {
    text-transform: none!important
}

.hedings {
    font-size: 27px;
    margin-bottom: 0!important
}

.sub-heding {
    color: #777!important
}

.hedings-mar-bot {
    font-size: 27px!important;
    margin: 0 0 .40em 0!important
}

nav#subnav ul li a.active,
nav#subnav ul li a:hover {
    border-bottom-color: #337ab7!important
}

.new-menu>li.active>a,
.new-menu>li.active>a:hover,
.new-menu>li.active>a:focus {
    border-bottom: 1px solid #337ab7!important;
    background-color: #fff!important
}

.nav-aug>li>a:hover,
.nav-aug>li>a:focus {
    background-color: #fff!important
}

.mb30 {
    margin-bottom: 1.5em!important
}

.h2-heding {
    margin-bottom: 5px!important
}

.pt40-new {
    padding-top: 20px
}

.pb40-new {
    padding-bottom: 20px
}

.footer-bagroun-col {
    background-color: #dfe5e1!important
}

.ul-pad-left {
    padding-left: 13px!important
}

.home-heding {
    font-size: 36px!important;
    line-height: 52px!important;
    letter-spacing: 0!important;
    margin-bottom: 0!important
}

.hedings-font {
    font-size: 32px!important
}

.benifit-icon {
    font-size: 12px;
    color: #2b7db7
}

.benifit-list {
    padding-bottom: 5px;
    padding-top: 5px
}

.ol-pad-left {
    padding-left: 16px!important
}

.solu-heding {
    margin-bottom: 0!important
}

.col-padding-left {
    padding-left: 0
}

.mar-bot {
    margin-bottom: 0!important
}

.h2-mar-bot {
    margin-bottom: 10px
}

.footer-hei {
    line-height: 32px!important
}

.pad-bot {
    padding-bottom: 10px!important
}

.row-new {
    margin-left: 0!important;
    margin-right: 0!important;
    padding-top: 44px!important;
    text-align: center
}

.latre-speacing {
    letter-spacing: 0
}

.cir-sub-text {
    font-size: 16px;
    font-weight: 300;
    color: #333!important
}

.color1 {
    padding-bottom: 0!important
}

.pricing-list {
    padding-left: 20px!important;
    margin-top: 15px!important
}

.sign-in-btn {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    transform: translate(0, -25%);
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857
}

.modal-body {
    position: relative;
    padding: 10px
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table
}

.modal-footer:after {
    clear: both
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media(min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }
    .modal-sm {
        width: 300px
    }
}

@media(min-width:992px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px
    }
}

@media(min-width:992px) {
    .modal-lg {
        width: 900px
    }
}