.icon-glass { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;')
    }.icon-up-open-big { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;')
    }.icon-search { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;')
    }.icon-mail { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;')
    }.icon-mail-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe810;&nbsp;')
    }.icon-heart { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe811;&nbsp;')
    }.icon-heart-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe814;&nbsp;')
    }.icon-star { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe815;&nbsp;')
    }.icon-star-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe818;&nbsp;')
    }.icon-star-half { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe819;&nbsp;')
    }.icon-star-half-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81b;&nbsp;')
    }.icon-user-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81d;&nbsp;')
    }.icon-users { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81f;&nbsp;')
    }.icon-male { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe821;&nbsp;')
    }.icon-female { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe823;&nbsp;')
    }.icon-video { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe825;&nbsp;')
    }.icon-videocam { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe827;&nbsp;')
    }.icon-picture { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe829;&nbsp;')
    }.icon-camera { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82b;&nbsp;')
    }.icon-camera-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82d;&nbsp;')
    }.icon-th-large { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;')
    }.icon-th { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;')
    }.icon-th-list { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;')
    }.icon-ok { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;')
    }.icon-ok-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;')
    }.icon-ok-circled2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe812;&nbsp;')
    }.icon-ok-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe813;&nbsp;')
    }.icon-cancel { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe816;&nbsp;')
    }.icon-cancel-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe817;&nbsp;')
    }.icon-cancel-circled2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81a;&nbsp;')
    }.icon-plus-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81c;&nbsp;')
    }.icon-plus-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe81e;&nbsp;')
    }.icon-plus-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe820;&nbsp;')
    }.icon-plus-squared-small { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe822;&nbsp;')
    }.icon-minus { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe824;&nbsp;')
    }.icon-minus-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe826;&nbsp;')
    }.icon-minus-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe828;&nbsp;')
    }.icon-minus-squared-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82a;&nbsp;')
    }.icon-minus-squared-small { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82c;&nbsp;')
    }.icon-help { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82e;&nbsp;')
    }.icon-help-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe82f;&nbsp;')
    }.icon-info-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe836;&nbsp;')
    }.icon-info { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe837;&nbsp;')
    }.icon-home { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83e;&nbsp;')
    }.icon-link { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83f;&nbsp;')
    }.icon-unlink { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe846;&nbsp;')
    }.icon-link-ext { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe847;&nbsp;')
    }.icon-link-ext-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84e;&nbsp;')
    }.icon-attach { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84f;&nbsp;')
    }.icon-lock { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe856;&nbsp;')
    }.icon-lock-open { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe857;&nbsp;')
    }.icon-lock-open-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85d;&nbsp;')
    }.icon-pin { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe861;&nbsp;')
    }.icon-eye { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe862;&nbsp;')
    }.icon-eye-off { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86a;&nbsp;')
    }.icon-tag-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86b;&nbsp;')
    }.icon-tags { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe872;&nbsp;')
    }.icon-bookmark { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe873;&nbsp;')
    }.icon-bookmark-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe874;&nbsp;')
    }.icon-flag { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe875;&nbsp;')
    }.icon-flag-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe830;&nbsp;')
    }.icon-flag-checkered { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe835;&nbsp;')
    }.icon-thumbs-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe838;&nbsp;')
    }.icon-thumbs-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83d;&nbsp;')
    }.icon-thumbs-up-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe840;&nbsp;')
    }.icon-thumbs-down-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe845;&nbsp;')
    }.icon-download { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe848;&nbsp;')
    }.icon-upload { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84d;&nbsp;')
    }.icon-download-cloud { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe850;&nbsp;')
    }.icon-upload-cloud { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe855;&nbsp;')
    }.icon-reply { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe858;&nbsp;')
    }.icon-reply-all { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85c;&nbsp;')
    }.icon-forward { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe860;&nbsp;')
    }.icon-quote-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe863;&nbsp;')
    }.icon-quote-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe869;&nbsp;')
    }.icon-code { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86c;&nbsp;')
    }.icon-export { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe871;&nbsp;')
    }.icon-export-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe878;&nbsp;')
    }.icon-pencil { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe877;&nbsp;')
    }.icon-pencil-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe876;&nbsp;')
    }.icon-edit { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe831;&nbsp;')
    }.icon-print { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe834;&nbsp;')
    }.icon-retweet { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe839;&nbsp;')
    }.icon-keyboard { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83c;&nbsp;')
    }.icon-gamepad { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe841;&nbsp;')
    }.icon-comment-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe844;&nbsp;')
    }.icon-chat-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe849;&nbsp;')
    }.icon-comment-2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84c;&nbsp;')
    }.icon-chat { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe851;&nbsp;')
    }.icon-bell { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe854;&nbsp;')
    }.icon-bell-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe859;&nbsp;')
    }.icon-attention-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85e;&nbsp;')
    }.icon-attention { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85f;&nbsp;')
    }.icon-attention-circle { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe864;&nbsp;')
    }.icon-location { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe868;&nbsp;')
    }.icon-direction { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86d;&nbsp;')
    }.icon-compass { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe870;&nbsp;')
    }.icon-trash { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe879;&nbsp;')
    }.icon-doc { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87a;&nbsp;')
    }.icon-docs { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87b;&nbsp;')
    }.icon-doc-text { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe832;&nbsp;')
    }.icon-doc-inv { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe833;&nbsp;')
    }.icon-doc-text-inv { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83a;&nbsp;')
    }.icon-folder { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe83b;&nbsp;')
    }.icon-folder-open { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe842;&nbsp;')
    }.icon-folder-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe843;&nbsp;')
    }.icon-folder-open-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84a;&nbsp;')
    }.icon-box { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe84b;&nbsp;')
    }.icon-rss-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe852;&nbsp;')
    }.icon-rss-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe853;&nbsp;')
    }.icon-phone { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85a;&nbsp;')
    }.icon-phone-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe85b;&nbsp;')
    }.icon-menu { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe866;&nbsp;')
    }.icon-cog { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe865;&nbsp;')
    }.icon-cog-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe867;&nbsp;')
    }.icon-wrench { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86e;&nbsp;')
    }.icon-basket { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe86f;&nbsp;')
    }.icon-calendar { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87e;&nbsp;')
    }.icon-calendar-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87d;&nbsp;')
    }.icon-login { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87c;&nbsp;')
    }.icon-logout { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe87f;&nbsp;')
    }.icon-mic { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe882;&nbsp;')
    }.icon-mute { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe883;&nbsp;')
    }.icon-volume-off { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe886;&nbsp;')
    }.icon-volume-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe887;&nbsp;')
    }.icon-volume-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe889;&nbsp;')
    }.icon-headphones { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88b;&nbsp;')
    }.icon-clock-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88c;&nbsp;')
    }.icon-lightbulb { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88d;&nbsp;')
    }.icon-block { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88e;&nbsp;')
    }.icon-resize-full { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88f;&nbsp;')
    }.icon-resize-full-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe890;&nbsp;')
    }.icon-resize-small { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe891;&nbsp;')
    }.icon-resize-vertical { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe892;&nbsp;')
    }.icon-resize-horizontal { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe893;&nbsp;')
    }.icon-move { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe894;&nbsp;')
    }.icon-zoom-in { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe895;&nbsp;')
    }.icon-zoom-out { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe896;&nbsp;')
    }.icon-down-circle2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe897;&nbsp;')
    }.icon-up-circle2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe898;&nbsp;')
    }.icon-left-circled2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe880;&nbsp;')
    }.icon-right-circled2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe881;&nbsp;')
    }.icon-down-dir { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe884;&nbsp;')
    }.icon-up-dir { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe885;&nbsp;')
    }.icon-left-dir { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe888;&nbsp;')
    }.icon-right-dir { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe88a;&nbsp;')
    }.icon-down-open { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe899;&nbsp;')
    }.icon-left-open { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89a;&nbsp;')
    }.icon-right-open { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89b;&nbsp;')
    }.icon-up-open { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89c;&nbsp;')
    }.icon-angle-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89d;&nbsp;')
    }.icon-angle-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89e;&nbsp;')
    }.icon-angle-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe89f;&nbsp;')
    }.icon-angle-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a0;&nbsp;')
    }.icon-angle-circled-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a1;&nbsp;')
    }.icon-angle-circled-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a2;&nbsp;')
    }.icon-angle-circled-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a3;&nbsp;')
    }.icon-angle-circled-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a4;&nbsp;')
    }.icon-angle-double-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a5;&nbsp;')
    }.icon-angle-double-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a6;&nbsp;')
    }.icon-angle-double-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a7;&nbsp;')
    }.icon-angle-double-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8aa;&nbsp;')
    }.icon-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b7;&nbsp;')
    }.icon-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c6;&nbsp;')
    }.icon-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c7;&nbsp;')
    }.icon-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d6;&nbsp;')
    }.icon-down-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d7;&nbsp;')
    }.icon-left-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f4;&nbsp;')
    }.icon-right-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f5;&nbsp;')
    }.icon-up-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f3;&nbsp;')
    }.icon-right-hand { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f8;&nbsp;')
    }.icon-left-hand { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;&nbsp;')
    }.icon-up-hand { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;&nbsp;')
    }.icon-down-hand { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe928;&nbsp;')
    }.icon-left-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe927;&nbsp;')
    }.icon-right-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe926;&nbsp;')
    }.icon-up-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe925;&nbsp;')
    }.icon-down-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe929;&nbsp;')
    }.icon-cw { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe945;&nbsp;')
    }.icon-ccw { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe946;&nbsp;')
    }.icon-arrows-cw { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a8;&nbsp;')
    }.icon-level-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ab;&nbsp;')
    }.icon-level-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b8;&nbsp;')
    }.icon-shuffle { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c5;&nbsp;')
    }.icon-exchange { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c8;&nbsp;')
    }.icon-expand { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d5;&nbsp;')
    }.icon-collapse { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d8;&nbsp;')
    }.icon-expand-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e5;&nbsp;')
    }.icon-music { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;')
    }.icon-play { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f6;&nbsp;')
    }.icon-play-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f7;&nbsp;')
    }.icon-play-circle2 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;&nbsp;')
    }.icon-stop { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;&nbsp;')
    }.icon-pause { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe915;&nbsp;')
    }.icon-to-end { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe916;&nbsp;')
    }.icon-to-end-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe923;&nbsp;')
    }.icon-to-start { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe924;&nbsp;')
    }.icon-to-start-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;&nbsp;')
    }.icon-fast-fw { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe943;&nbsp;')
    }.icon-fast-bw { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe944;&nbsp;')
    }.icon-eject { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8a9;&nbsp;')
    }.icon-target { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ac;&nbsp;')
    }.icon-signal { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b9;&nbsp;')
    }.icon-award { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c4;&nbsp;')
    }.icon-desktop { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c9;&nbsp;')
    }.icon-laptop { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d4;&nbsp;')
    }.icon-tablet { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d9;&nbsp;')
    }.icon-mobile { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e4;&nbsp;')
    }.icon-inbox { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e7;&nbsp;')
    }.icon-globe { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f2;&nbsp;')
    }.icon-sun { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f9;&nbsp;')
    }.icon-cloud { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;&nbsp;')
    }.icon-flash { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;&nbsp;')
    }.icon-moon { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe914;&nbsp;')
    }.icon-umbrella { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe917;&nbsp;')
    }.icon-flight { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe922;&nbsp;')
    }.icon-fighter-jet { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92b;&nbsp;')
    }.icon-leaf { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92c;&nbsp;')
    }.icon-font { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe941;&nbsp;')
    }.icon-bold { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe942;&nbsp;')
    }.icon-italic { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ad;&nbsp;')
    }.icon-text-height { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b6;&nbsp;')
    }.icon-text-width { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ba;&nbsp;')
    }.icon-align-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c3;&nbsp;')
    }.icon-align-center { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ca;&nbsp;')
    }.icon-align-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d3;&nbsp;')
    }.icon-align-justify { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8da;&nbsp;')
    }.icon-list { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e3;&nbsp;')
    }.icon-indent-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e8;&nbsp;')
    }.icon-indent-right { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f1;&nbsp;')
    }.icon-list-bullet { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fa;&nbsp;')
    }.icon-list-numbered { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;&nbsp;')
    }.icon-strike { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;&nbsp;')
    }.icon-underline { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe913;&nbsp;')
    }.icon-superscript { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe918;&nbsp;')
    }.icon-subscript { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe921;&nbsp;')
    }.icon-table { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92d;&nbsp;')
    }.icon-columns { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92e;&nbsp;')
    }.icon-crop { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93f;&nbsp;')
    }.icon-scissors { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe940;&nbsp;')
    }.icon-paste { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ae;&nbsp;')
    }.icon-briefcase { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b5;&nbsp;')
    }.icon-suitcase { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bb;&nbsp;')
    }.icon-ellipsis { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c2;&nbsp;')
    }.icon-ellipsis-vert { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cb;&nbsp;')
    }.icon-off { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d2;&nbsp;')
    }.icon-road { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8db;&nbsp;')
    }.icon-list-alt { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e2;&nbsp;')
    }.icon-qrcode { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e9;&nbsp;')
    }.icon-barcode { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8f0;&nbsp;')
    }.icon-book { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fb;&nbsp;')
    }.icon-ajust { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;&nbsp;')
    }.icon-tint { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;&nbsp;')
    }.icon-check { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe912;&nbsp;')
    }.icon-check-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe919;&nbsp;')
    }.icon-circle { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe920;&nbsp;')
    }.icon-circle-empty { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92f;&nbsp;')
    }.icon-dot-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe930;&nbsp;')
    }.icon-asterisk { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93d;&nbsp;')
    }.icon-gift { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93e;&nbsp;')
    }.icon-fire { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8af;&nbsp;')
    }.icon-magnet { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b4;&nbsp;')
    }.icon-chart-bar { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bc;&nbsp;')
    }.icon-ticket { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c1;&nbsp;')
    }.icon-credit-card { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cc;&nbsp;')
    }.icon-floppy { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d1;&nbsp;')
    }.icon-megaphone { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8dc;&nbsp;')
    }.icon-hdd { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e1;&nbsp;')
    }.icon-key { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ea;&nbsp;')
    }.icon-fork { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ef;&nbsp;')
    }.icon-rocket { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fc;&nbsp;')
    }.icon-bug { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;&nbsp;')
    }.icon-certificate { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;&nbsp;')
    }.icon-tasks { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe911;&nbsp;')
    }.icon-filter { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91a;&nbsp;')
    }.icon-beaker { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91f;&nbsp;')
    }.icon-magic { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe931;&nbsp;')
    }.icon-truck { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe932;&nbsp;')
    }.icon-money { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93b;&nbsp;')
    }.icon-euro { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93c;&nbsp;')
    }.icon-pound { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b0;&nbsp;')
    }.icon-dollar { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b3;&nbsp;')
    }.icon-rupee { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bd;&nbsp;')
    }.icon-yen { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8c0;&nbsp;')
    }.icon-rouble { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cd;&nbsp;')
    }.icon-try { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8d0;&nbsp;')
    }.icon-won { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8dd;&nbsp;')
    }.icon-bitcoin { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e0;&nbsp;')
    }.icon-sort { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8eb;&nbsp;')
    }.icon-sort-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ee;&nbsp;')
    }.icon-sort-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fd;&nbsp;')
    }.icon-sort-alt-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;&nbsp;')
    }.icon-sort-alt-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;&nbsp;')
    }.icon-sort-name-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe910;&nbsp;')
    }.icon-sort-name-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91b;&nbsp;')
    }.icon-sort-number-up { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91e;&nbsp;')
    }.icon-sort-number-down { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe933;&nbsp;')
    }.icon-hammer { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe934;&nbsp;')
    }.icon-gauge { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe939;&nbsp;')
    }.icon-sitemap { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe93a;&nbsp;')
    }.icon-spinner { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b1;&nbsp;')
    }.icon-coffee { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8b2;&nbsp;')
    }.icon-food { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8be;&nbsp;')
    }.icon-beer { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8bf;&nbsp;')
    }.icon-user-md { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ce;&nbsp;')
    }.icon-stethoscope { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8cf;&nbsp;')
    }.icon-ambulance { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8de;&nbsp;')
    }.icon-medkit { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8df;&nbsp;')
    }.icon-h-sigh { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ec;&nbsp;')
    }.icon-hospital { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ed;&nbsp;')
    }.icon-building { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8fe;&nbsp;')
    }.icon-smile { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8ff;&nbsp;')
    }.icon-frown { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;&nbsp;')
    }.icon-meh { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90f;&nbsp;')
    }.icon-anchor { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91c;&nbsp;')
    }.icon-terminal { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91d;&nbsp;')
    }.icon-eraser { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe935;&nbsp;')
    }.icon-puzzle { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe936;&nbsp;')
    }.icon-shield { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe937;&nbsp;')
    }.icon-extinguisher { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe938;&nbsp;')
    }.icon-bullseye { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe947;&nbsp;')
    }.icon-wheelchair { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94b;&nbsp;')
    }.icon-adn { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94c;&nbsp;')
    }.icon-android { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe952;&nbsp;')
    }.icon-apple { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe953;&nbsp;')
    }.icon-bitbucket { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe954;&nbsp;')
    }.icon-bitbucket-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe955;&nbsp;')
    }.icon-css3 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe956;&nbsp;')
    }.icon-dribbble { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe957;&nbsp;')
    }.icon-dropbox { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe958;&nbsp;')
    }.icon-facebook-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe959;&nbsp;')
    }.icon-facebook-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95a;&nbsp;')
    }.icon-flickr { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95b;&nbsp;')
    }.icon-foursquare { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95c;&nbsp;')
    }.icon-github { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95d;&nbsp;')
    }.icon-github-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95e;&nbsp;')
    }.icon-github-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe95f;&nbsp;')
    }.icon-gittip { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe960;&nbsp;')
    }.icon-gplus-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe961;&nbsp;')
    }.icon-gplus-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe962;&nbsp;')
    }.icon-html5 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe948;&nbsp;')
    }.icon-instagramm { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94a;&nbsp;')
    }.icon-linkedin-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94d;&nbsp;')
    }.icon-linux { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe951;&nbsp;')
    }.icon-linkedin-1 { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe963;&nbsp;')
    }.icon-maxcdn { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe964;&nbsp;')
    }.icon-pagelines { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe965;&nbsp;')
    }.icon-pinterest-circled { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe966;&nbsp;')
    }.icon-pinterest-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe967;&nbsp;')
    }.icon-renren { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe968;&nbsp;')
    }.icon-skype { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe969;&nbsp;')
    }.icon-stackexchange { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe96a;&nbsp;')
    }.icon-stackoverflow { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe96b;&nbsp;')
    }.icon-trello { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe96c;&nbsp;')
    }.icon-tumblr { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe96d;&nbsp;')
    }.icon-tumblr-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe96e;&nbsp;')
    }.icon-twitter-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe96f;&nbsp;')
    }.icon-twitter-bird { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe970;&nbsp;')
    }.icon-vimeo-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe971;&nbsp;')
    }.icon-vkontakte { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe972;&nbsp;')
    }.icon-weibo { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe949;&nbsp;')
    }.icon-windows { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94f;&nbsp;')
    }.icon-xing { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe94e;&nbsp;')
    }.icon-xing-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe950;&nbsp;')
    }.icon-youtube { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe973;&nbsp;')
    }.icon-youtube-squared { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe974;&nbsp;')
    }.icon-youtube-play { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe975;&nbsp;')
    }.icon-blank { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe976;&nbsp;')
    }.icon-lemon { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe977;&nbsp;')
    }.icon-plus { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe978;&nbsp;')
    }.icon-left-open-mini { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;')
    }.icon-right-open-mini { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;')
    }.icon-up-open-mini { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;')
    }.icon-down-open-big { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;')
    }.icon-left-open-big { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;')
    }.icon-right-open-big { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;')
    }.icon-collapse-left { * zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe8e6;&nbsp;')
    }