.icon-glass:before {
    content: '\e807'
}

.icon-up-open-big:before {
    content: '\e806'
}

.icon-search:before {
    content: '\e809'
}

.icon-mail:before {
    content: '\e80a'
}

.icon-mail-alt:before {
    content: '\e810'
}

.icon-heart:before {
    content: '\e811'
}

.icon-heart-empty:before {
    content: '\e814'
}

.icon-star:before {
    content: '\e815'
}

.icon-star-empty:before {
    content: '\e818'
}

.icon-star-half:before {
    content: '\e819'
}

.icon-star-half-alt:before {
    content: '\e81b'
}

.icon-user-1:before {
    content: '\e81d'
}

.icon-users:before {
    content: '\e81f'
}

.icon-male:before {
    content: '\e821'
}

.icon-female:before {
    content: '\e823'
}

.icon-video:before {
    content: '\e825'
}

.icon-videocam:before {
    content: '\e827'
}

.icon-picture:before {
    content: '\e829'
}

.icon-camera:before {
    content: '\e82b'
}

.icon-camera-alt:before {
    content: '\e82d'
}

.icon-th-large:before {
    content: '\e80b'
}

.icon-th:before {
    content: '\e80c'
}

.icon-th-list:before {
    content: '\e80d'
}

.icon-ok:before {
    content: '\e80e'
}

.icon-ok-circled:before {
    content: '\e80f'
}

.icon-ok-circled2:before {
    content: '\e812'
}

.icon-ok-squared:before {
    content: '\e813'
}

.icon-cancel:before {
    content: '\e816'
}

.icon-cancel-circled:before {
    content: '\e817'
}

.icon-cancel-circled2:before {
    content: '\e81a'
}

.icon-plus-1:before {
    content: '\e81c'
}

.icon-plus-circled:before {
    content: '\e81e'
}

.icon-plus-squared:before {
    content: '\e820'
}

.icon-plus-squared-small:before {
    content: '\e822'
}

.icon-minus:before {
    content: '\e824'
}

.icon-minus-circled:before {
    content: '\e826'
}

.icon-minus-squared:before {
    content: '\e828'
}

.icon-minus-squared-alt:before {
    content: '\e82a'
}

.icon-minus-squared-small:before {
    content: '\e82c'
}

.icon-help:before {
    content: '\e82e'
}

.icon-help-circled:before {
    content: '\e82f'
}

.icon-info-circled:before {
    content: '\e836'
}

.icon-info:before {
    content: '\e837'
}

.icon-home:before {
    content: '\e83e'
}

.icon-link:before {
    content: '\e83f'
}

.icon-unlink:before {
    content: '\e846'
}

.icon-link-ext:before {
    content: '\e847'
}

.icon-link-ext-alt:before {
    content: '\e84e'
}

.icon-attach:before {
    content: '\e84f'
}

.icon-lock:before {
    content: '\e856'
}

.icon-lock-open:before {
    content: '\e857'
}

.icon-lock-open-alt:before {
    content: '\e85d'
}

.icon-pin:before {
    content: '\e861'
}

.icon-eye:before {
    content: '\e862'
}

.icon-eye-off:before {
    content: '\e86a'
}

.icon-tag-1:before {
    content: '\e86b'
}

.icon-tags:before {
    content: '\e872'
}

.icon-bookmark:before {
    content: '\e873'
}

.icon-bookmark-empty:before {
    content: '\e874'
}

.icon-flag:before {
    content: '\e875'
}

.icon-flag-empty:before {
    content: '\e830'
}

.icon-flag-checkered:before {
    content: '\e835'
}

.icon-thumbs-up:before {
    content: '\e838'
}

.icon-thumbs-down:before {
    content: '\e83d'
}

.icon-thumbs-up-alt:before {
    content: '\e840'
}

.icon-thumbs-down-alt:before {
    content: '\e845'
}

.icon-download:before {
    content: '\e848'
}

.icon-upload:before {
    content: '\e84d'
}

.icon-download-cloud:before {
    content: '\e850'
}

.icon-upload-cloud:before {
    content: '\e855'
}

.icon-reply:before {
    content: '\e858'
}

.icon-reply-all:before {
    content: '\e85c'
}

.icon-forward:before {
    content: '\e860'
}

.icon-quote-left:before {
    content: '\e863'
}

.icon-quote-right:before {
    content: '\e869'
}

.icon-code:before {
    content: '\e86c'
}

.icon-export:before {
    content: '\e871'
}

.icon-export-alt:before {
    content: '\e878'
}

.icon-pencil:before {
    content: '\e877'
}

.icon-pencil-squared:before {
    content: '\e876'
}

.icon-edit:before {
    content: '\e831'
}

.icon-print:before {
    content: '\e834'
}

.icon-retweet:before {
    content: '\e839'
}

.icon-keyboard:before {
    content: '\e83c'
}

.icon-gamepad:before {
    content: '\e841'
}

.icon-comment-1:before {
    content: '\e844'
}

.icon-chat-1:before {
    content: '\e849'
}

.icon-comment-2:before {
    content: '\e84c'
}

.icon-chat:before {
    content: '\e851'
}

.icon-bell:before {
    content: '\e854'
}

.icon-bell-alt:before {
    content: '\e859'
}

.icon-attention-alt:before {
    content: '\e85e'
}

.icon-attention:before {
    content: '\e85f'
}

.icon-attention-circle:before {
    content: '\e864'
}

.icon-location:before {
    content: '\e868'
}

.icon-direction:before {
    content: '\e86d'
}

.icon-compass:before {
    content: '\e870'
}

.icon-trash:before {
    content: '\e879'
}

.icon-doc:before {
    content: '\e87a'
}

.icon-docs:before {
    content: '\e87b'
}

.icon-doc-text:before {
    content: '\e832'
}

.icon-doc-inv:before {
    content: '\e833'
}

.icon-doc-text-inv:before {
    content: '\e83a'
}

.icon-folder:before {
    content: '\e83b'
}

.icon-folder-open:before {
    content: '\e842'
}

.icon-folder-empty:before {
    content: '\e843'
}

.icon-folder-open-empty:before {
    content: '\e84a'
}

.icon-box:before {
    content: '\e84b'
}

.icon-rss-1:before {
    content: '\e852'
}

.icon-rss-squared:before {
    content: '\e853'
}

.icon-phone:before {
    content: '\e85a'
}

.icon-phone-squared:before {
    content: '\e85b'
}

.icon-menu:before {
    content: '\e866'
}

.icon-cog:before {
    content: '\e865'
}

.icon-cog-alt:before {
    content: '\e867'
}

.icon-wrench:before {
    content: '\e86e'
}

.icon-basket:before {
    content: '\e86f'
}

.icon-calendar:before {
    content: '\e87e'
}

.icon-calendar-empty:before {
    content: '\e87d'
}

.icon-login:before {
    content: '\e87c'
}

.icon-logout:before {
    content: '\e87f'
}

.icon-mic:before {
    content: '\e882'
}

.icon-mute:before {
    content: '\e883'
}

.icon-volume-off:before {
    content: '\e886'
}

.icon-volume-down:before {
    content: '\e887'
}

.icon-volume-up:before {
    content: '\e889'
}

.icon-headphones:before {
    content: '\e88b'
}

.icon-clock-1:before {
    content: '\e88c'
}

.icon-lightbulb:before {
    content: '\e88d'
}

.icon-block:before {
    content: '\e88e'
}

.icon-resize-full:before {
    content: '\e88f'
}

.icon-resize-full-alt:before {
    content: '\e890'
}

.icon-resize-small:before {
    content: '\e891'
}

.icon-resize-vertical:before {
    content: '\e892'
}

.icon-resize-horizontal:before {
    content: '\e893'
}

.icon-move:before {
    content: '\e894'
}

.icon-zoom-in:before {
    content: '\e895'
}

.icon-zoom-out:before {
    content: '\e896'
}

.icon-down-circle2:before {
    content: '\e897'
}

.icon-up-circle2:before {
    content: '\e898'
}

.icon-left-circled2:before {
    content: '\e880'
}

.icon-right-circled2:before {
    content: '\e881'
}

.icon-down-dir:before {
    content: '\e884'
}

.icon-up-dir:before {
    content: '\e885'
}

.icon-left-dir:before {
    content: '\e888'
}

.icon-right-dir:before {
    content: '\e88a'
}

.icon-down-open:before {
    content: '\e899'
}

.icon-left-open:before {
    content: '\e89a'
}

.icon-right-open:before {
    content: '\e89b'
}

.icon-up-open:before {
    content: '\e89c'
}

.icon-angle-left:before {
    content: '\e89d'
}

.icon-angle-right:before {
    content: '\e89e'
}

.icon-angle-up:before {
    content: '\e89f'
}

.icon-angle-down:before {
    content: '\e8a0'
}

.icon-angle-circled-left:before {
    content: '\e8a1'
}

.icon-angle-circled-right:before {
    content: '\e8a2'
}

.icon-angle-circled-up:before {
    content: '\e8a3'
}

.icon-angle-circled-down:before {
    content: '\e8a4'
}

.icon-angle-double-left:before {
    content: '\e8a5'
}

.icon-angle-double-right:before {
    content: '\e8a6'
}

.icon-angle-double-up:before {
    content: '\e8a7'
}

.icon-angle-double-down:before {
    content: '\e8aa'
}

.icon-down:before {
    content: '\e8b7'
}

.icon-left:before {
    content: '\e8c6'
}

.icon-right:before {
    content: '\e8c7'
}

.icon-up:before {
    content: '\e8d6'
}

.icon-down-1:before {
    content: '\e8d7'
}

.icon-left-1:before {
    content: '\e8f4'
}

.icon-right-1:before {
    content: '\e8f5'
}

.icon-up-1:before {
    content: '\e8f3'
}

.icon-right-hand:before {
    content: '\e8f8'
}

.icon-left-hand:before {
    content: '\e906'
}

.icon-up-hand:before {
    content: '\e907'
}

.icon-down-hand:before {
    content: '\e928'
}

.icon-left-circled:before {
    content: '\e927'
}

.icon-right-circled:before {
    content: '\e926'
}

.icon-up-circled:before {
    content: '\e925'
}

.icon-down-circled:before {
    content: '\e929'
}

.icon-cw:before {
    content: '\e945'
}

.icon-ccw:before {
    content: '\e946'
}

.icon-arrows-cw:before {
    content: '\e8a8'
}

.icon-level-up:before {
    content: '\e8ab'
}

.icon-level-down:before {
    content: '\e8b8'
}

.icon-shuffle:before {
    content: '\e8c5'
}

.icon-exchange:before {
    content: '\e8c8'
}

.icon-expand:before {
    content: '\e8d5'
}

.icon-collapse:before {
    content: '\e8d8'
}

.icon-expand-right:before {
    content: '\e8e5'
}

.icon-music:before {
    content: '\e808'
}

.icon-play:before {
    content: '\e8f6'
}

.icon-play-circled:before {
    content: '\e8f7'
}

.icon-play-circle2:before {
    content: '\e905'
}

.icon-stop:before {
    content: '\e908'
}

.icon-pause:before {
    content: '\e915'
}

.icon-to-end:before {
    content: '\e916'
}

.icon-to-end-alt:before {
    content: '\e923'
}

.icon-to-start:before {
    content: '\e924'
}

.icon-to-start-alt:before {
    content: '\e92a'
}

.icon-fast-fw:before {
    content: '\e943'
}

.icon-fast-bw:before {
    content: '\e944'
}

.icon-eject:before {
    content: '\e8a9'
}

.icon-target:before {
    content: '\e8ac'
}

.icon-signal:before {
    content: '\e8b9'
}

.icon-award:before {
    content: '\e8c4'
}

.icon-desktop:before {
    content: '\e8c9'
}

.icon-laptop:before {
    content: '\e8d4'
}

.icon-tablet:before {
    content: '\e8d9'
}

.icon-mobile:before {
    content: '\e8e4'
}

.icon-inbox:before {
    content: '\e8e7'
}

.icon-globe:before {
    content: '\e8f2'
}

.icon-sun:before {
    content: '\e8f9'
}

.icon-cloud:before {
    content: '\e904'
}

.icon-flash:before {
    content: '\e909'
}

.icon-moon:before {
    content: '\e914'
}

.icon-umbrella:before {
    content: '\e917'
}

.icon-flight:before {
    content: '\e922'
}

.icon-fighter-jet:before {
    content: '\e92b'
}

.icon-leaf:before {
    content: '\e92c'
}

.icon-font:before {
    content: '\e941'
}

.icon-bold:before {
    content: '\e942'
}

.icon-italic:before {
    content: '\e8ad'
}

.icon-text-height:before {
    content: '\e8b6'
}

.icon-text-width:before {
    content: '\e8ba'
}

.icon-align-left:before {
    content: '\e8c3'
}

.icon-align-center:before {
    content: '\e8ca'
}

.icon-align-right:before {
    content: '\e8d3'
}

.icon-align-justify:before {
    content: '\e8da'
}

.icon-list:before {
    content: '\e8e3'
}

.icon-indent-left:before {
    content: '\e8e8'
}

.icon-indent-right:before {
    content: '\e8f1'
}

.icon-list-bullet:before {
    content: '\e8fa'
}

.icon-list-numbered:before {
    content: '\e903'
}

.icon-strike:before {
    content: '\e90a'
}

.icon-underline:before {
    content: '\e913'
}

.icon-superscript:before {
    content: '\e918'
}

.icon-subscript:before {
    content: '\e921'
}

.icon-table:before {
    content: '\e92d'
}

.icon-columns:before {
    content: '\e92e'
}

.icon-crop:before {
    content: '\e93f'
}

.icon-scissors:before {
    content: '\e940'
}

.icon-paste:before {
    content: '\e8ae'
}

.icon-briefcase:before {
    content: '\e8b5'
}

.icon-suitcase:before {
    content: '\e8bb'
}

.icon-ellipsis:before {
    content: '\e8c2'
}

.icon-ellipsis-vert:before {
    content: '\e8cb'
}

.icon-off:before {
    content: '\e8d2'
}

.icon-road:before {
    content: '\e8db'
}

.icon-list-alt:before {
    content: '\e8e2'
}

.icon-qrcode:before {
    content: '\e8e9'
}

.icon-barcode:before {
    content: '\e8f0'
}

.icon-book:before {
    content: '\e8fb'
}

.icon-ajust:before {
    content: '\e902'
}

.icon-tint:before {
    content: '\e90b'
}

.icon-check:before {
    content: '\e912'
}

.icon-check-empty:before {
    content: '\e919'
}

.icon-circle:before {
    content: '\e920'
}

.icon-circle-empty:before {
    content: '\e92f'
}

.icon-dot-circled:before {
    content: '\e930'
}

.icon-asterisk:before {
    content: '\e93d'
}

.icon-gift:before {
    content: '\e93e'
}

.icon-fire:before {
    content: '\e8af'
}

.icon-magnet:before {
    content: '\e8b4'
}

.icon-chart-bar:before {
    content: '\e8bc'
}

.icon-ticket:before {
    content: '\e8c1'
}

.icon-credit-card:before {
    content: '\e8cc'
}

.icon-floppy:before {
    content: '\e8d1'
}

.icon-megaphone:before {
    content: '\e8dc'
}

.icon-hdd:before {
    content: '\e8e1'
}

.icon-key:before {
    content: '\e8ea'
}

.icon-fork:before {
    content: '\e8ef'
}

.icon-rocket:before {
    content: '\e8fc'
}

.icon-bug:before {
    content: '\e901'
}

.icon-certificate:before {
    content: '\e90c'
}

.icon-tasks:before {
    content: '\e911'
}

.icon-filter:before {
    content: '\e91a'
}

.icon-beaker:before {
    content: '\e91f'
}

.icon-magic:before {
    content: '\e931'
}

.icon-truck:before {
    content: '\e932'
}

.icon-money:before {
    content: '\e93b'
}

.icon-euro:before {
    content: '\e93c'
}

.icon-pound:before {
    content: '\e8b0'
}

.icon-dollar:before {
    content: '\e8b3'
}

.icon-rupee:before {
    content: '\e8bd'
}

.icon-yen:before {
    content: '\e8c0'
}

.icon-rouble:before {
    content: '\e8cd'
}

.icon-try:before {
    content: '\e8d0'
}

.icon-won:before {
    content: '\e8dd'
}

.icon-bitcoin:before {
    content: '\e8e0'
}

.icon-sort:before {
    content: '\e8eb'
}

.icon-sort-down:before {
    content: '\e8ee'
}

.icon-sort-up:before {
    content: '\e8fd'
}

.icon-sort-alt-up:before {
    content: '\e900'
}

.icon-sort-alt-down:before {
    content: '\e90d'
}

.icon-sort-name-up:before {
    content: '\e910'
}

.icon-sort-name-down:before {
    content: '\e91b'
}

.icon-sort-number-up:before {
    content: '\e91e'
}

.icon-sort-number-down:before {
    content: '\e933'
}

.icon-hammer:before {
    content: '\e934'
}

.icon-gauge:before {
    content: '\e939'
}

.icon-sitemap:before {
    content: '\e93a'
}

.icon-spinner:before {
    content: '\e8b1'
}

.icon-coffee:before {
    content: '\e8b2'
}

.icon-food:before {
    content: '\e8be'
}

.icon-beer:before {
    content: '\e8bf'
}

.icon-user-md:before {
    content: '\e8ce'
}

.icon-stethoscope:before {
    content: '\e8cf'
}

.icon-ambulance:before {
    content: '\e8de'
}

.icon-medkit:before {
    content: '\e8df'
}

.icon-h-sigh:before {
    content: '\e8ec'
}

.icon-hospital:before {
    content: '\e8ed'
}

.icon-building:before {
    content: '\e8fe'
}

.icon-smile:before {
    content: '\e8ff'
}

.icon-frown:before {
    content: '\e90e'
}

.icon-meh:before {
    content: '\e90f'
}

.icon-anchor:before {
    content: '\e91c'
}

.icon-terminal:before {
    content: '\e91d'
}

.icon-eraser:before {
    content: '\e935'
}

.icon-puzzle:before {
    content: '\e936'
}

.icon-shield:before {
    content: '\e937'
}

.icon-extinguisher:before {
    content: '\e938'
}

.icon-bullseye:before {
    content: '\e947'
}

.icon-wheelchair:before {
    content: '\e94b'
}

.icon-adn:before {
    content: '\e94c'
}

.icon-android:before {
    content: '\e952'
}

.icon-apple:before {
    content: '\e953'
}

.icon-bitbucket:before {
    content: '\e954'
}

.icon-bitbucket-squared:before {
    content: '\e955'
}

.icon-css3:before {
    content: '\e956'
}

.icon-dribbble:before {
    content: '\e957'
}

.icon-dropbox:before {
    content: '\e958'
}

.icon-facebook-1:before {
    content: '\e959'
}

.icon-facebook-squared:before {
    content: '\e95a'
}

.icon-flickr:before {
    content: '\e95b'
}

.icon-foursquare:before {
    content: '\e95c'
}

.icon-github:before {
    content: '\e95d'
}

.icon-github-squared:before {
    content: '\e95e'
}

.icon-github-circled:before {
    content: '\e95f'
}

.icon-gittip:before {
    content: '\e960'
}

.icon-gplus-squared:before {
    content: '\e961'
}

.icon-gplus-1:before {
    content: '\e962'
}

.icon-html5:before {
    content: '\e948'
}

.icon-instagramm:before {
    content: '\e94a'
}

.icon-linkedin-squared:before {
    content: '\e94d'
}

.icon-linux:before {
    content: '\e951'
}

.icon-linkedin-1:before {
    content: '\e963'
}

.icon-maxcdn:before {
    content: '\e964'
}

.icon-pagelines:before {
    content: '\e965'
}

.icon-pinterest-circled:before {
    content: '\e966'
}

.icon-pinterest-squared:before {
    content: '\e967'
}

.icon-renren:before {
    content: '\e968'
}

.icon-skype:before {
    content: '\e969'
}

.icon-stackexchange:before {
    content: '\e96a'
}

.icon-stackoverflow:before {
    content: '\e96b'
}

.icon-trello:before {
    content: '\e96c'
}

.icon-tumblr:before {
    content: '\e96d'
}

.icon-tumblr-squared:before {
    content: '\e96e'
}

.icon-twitter-squared:before {
    content: '\e96f'
}

.icon-twitter-bird:before {
    content: '\e970'
}

.icon-vimeo-squared:before {
    content: '\e971'
}

.icon-vkontakte:before {
    content: '\e972'
}

.icon-weibo:before {
    content: '\e949'
}

.icon-windows:before {
    content: '\e94f'
}

.icon-xing:before {
    content: '\e94e'
}

.icon-xing-squared:before {
    content: '\e950'
}

.icon-youtube:before {
    content: '\e973'
}

.icon-youtube-squared:before {
    content: '\e974'
}

.icon-youtube-play:before {
    content: '\e975'
}

.icon-blank:before {
    content: '\e976'
}

.icon-lemon:before {
    content: '\e977'
}

.icon-plus:before {
    content: '\e978'
}

.icon-left-open-mini:before {
    content: '\e800'
}

.icon-right-open-mini:before {
    content: '\e801'
}

.icon-up-open-mini:before {
    content: '\e802'
}

.icon-down-open-big:before {
    content: '\e803'
}

.icon-left-open-big:before {
    content: '\e804'
}

.icon-right-open-big:before {
    content: '\e805'
}

.icon-collapse-left:before {
    content: '\e8e6'
}