.divBlocking {
    display: block;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px
}

.divUnBlocking {
    display: none
}

.uiSelectInput {
    height: 35px;
    z-index: 0!important
}

.search-box {
    width: 270px;
    margin-left: -29px!important
}

.search-input {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 24px!important;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out
}

.dropdown-menu-width {
    min-width: 352px;
    margin-top: 1px;
    padding-bottom: 0
}

.row-div {
    margin-left: -21px;
    margin-right: -21px;
    margin-top: 15px
}

.cust-label {
    display: none
}

.search-button {
    margin-bottom: 6px;
    margin-top: -3px
}

.searchInput {
    float: right;
    width: 16px;
    height: 29px;
    line-height: 27px;
    margin-right: 15px;
    padding: 0 10px 0 10px;
    font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
    font-size: 22px;
    background: #fff;
    border: solid 1px #d9d9d9;
    border-top: solid 1px #c0c0c0;
    border-left: none
}

.select2>.select2-choice.ui-select-match {
    height: 29px
}

.selectize-control>.selectize-dropdown {
    top: 36px
}

.searchCaretDown {
    position: absolute;
    float: right!important;
    z-index: 10;
    padding: 0;
    color: #d4d4d4;
    margin: 9px 0 0 202px
}

.multiSelectIndex {
    z-index: 100000!important;
    opacity: 1!important
}

.notification-modal-css {
    padding: 20px
}

.confirmBoxLogo {
    color: #e94b3b
}

.confirmBoxText {
    font-weight: 400
}

.closeBtn {
    float: right!important;
    margin-right: 10px!important;
    margin-bottom: 10px!important;
    font-size: 17px!important;
    font-weight: bold!important;
    line-height: 1!important;
    color: #000!important;
    opacity: 1.2!important;
    font-size: 17px!important
}

.search-close {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    color: white;
    text-align: center;
    padding: 5px;
    background: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px #111
}

.modelBorder {
    border-left: 1px solid #e5e5e5
}

.search-list-hover:HOVER {
    background-color: #f0f2f3!important;
    color: #000!important
}

.search-list-hover {
    height: 50px;
    border-bottom: 1px solid #DDD
}

.fa-img-size {
    font-size: 23px;
    position: absolute;
    margin: 10px 0 0 -6px
}

.font-search-item-name {
    font-size: larger;
    margin-left: 20px;
    cursor: pointer
}

.font-search-item-createdby {
    font-size: small;
    margin-left: 28px;
    font-style: oblique
}

.table-icon-align {
    text-align: center
}

.search-box-css {
    font-size: 15px;
    width: 100%;
    background: white url(../../styles/images/search.png) 8px 16px no-repeat;
    border: 1px solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: -4px
}

.font-search-item-createdDate {
    font-size: small;
    float: right;
    font-style: normal
}

.search-btn-css:HOVER {
    background-color: #23aea6
}

.search-btn-css a:HOVER {
    color: #fff!important
}

.items {
    position: relative;
    background-color: #fff;
    float: right;
    width: 30px;
    margin: 0 5px;
    height: 30px;
    border: 1px solid #d4d4d4;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    top: 3px
}

.link {
    left: 5px;
    top: 5px;
    position: absolute;
    width: 28px;
    height: 28px
}

.icon_business {
    background: transparent url(../../styles/images/projectImages/sel-business.png) 3px 2px no-repeat
}

.icon_design {
    background: transparent url(../../styles/images/projectImages/design-select.png) 2px 1px no-repeat
}

.icon_operation {
    background: transparent url(../../styles/images/projectImages/manager-select.png) 3px 1px no-repeat
}

.item_content {
    position: absolute;
    height: 20px;
    overflow: hidden;
    left: 50px;
    top: 6px;
    display: none
}

.item_content h2 {
    color: #aaa;
    text-shadow: 1px 1px 1px #fff;
    background-color: transparent;
    font-size: 14px
}

.item_content a {
    background-color: transparent;
    float: left;
    margin-right: 26px;
    margin-top: -2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
    font-size: 13px
}

.items:hover {
    border: 1px solid #23aea6
}

.item_content form {
    display: none
}

.item_content form input {
    border: 1px solid #ccc;
    padding: 1px;
    width: 155px;
    float: left;
    margin-left: 4px;
    top: 2px
}

.li-height {
    height: 35px;
    margin-left: 0!important
}

.user-css {
    top: 0;
    padding: 4px 0 0 11px!important
}

.badge-notify {
    background: red;
    position: relative;
    font-size: 8px;
    top: -30px;
    left: 6px;
}
.badge-notify-my-request,.badge-notify-my-approval{
   background: red;
    position: absolute;
    font-size: 8px;
    bottom: 0px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 3px;
    text-align: center;
    right: -3px;
}

.input-box-css {
    padding-left: 9px!important
}

.left-border {
    border-left: none!important
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.head-icon-css {
    background-color: #23aea6;
    color: #999
}

.head-icon {
    color: #999
}

.head-icon:HOVER {
    background-color: #23aea6
}

.head-icon a:HOVER {
    color: #fff!important
}

.demoCss {
    margin-right: 5px
}

.user-guide-css {
    margin-right: 10px;
    margin-top: 4px
}

.filterCol {
    height: 540px;
    overflow-y: auto;
    padding-left: 0;
    overflow-x: hidden;
    padding-right: 4px
}

.filterSecondCol {
    float: left;
    height: 540px;
    overflow-y: hidden;
    padding-right: 0;
    overflow-x: hidden;
    padding-right: 0
}

.filterSecondCol:hover {
    overflow-y: auto
}

.tab-btn {
    height: 36px;
    border-radius: 8px
}

.scrollbarTest {
    float: left;
    margin-bottom: 25px
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5
}

#style-1::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #16a6af
}

.force-overflow {
    min-height: 450px
}

.grid-tit {
    margin-bottom: 2px!important;
    font-size: 15px;
    font-weight: 500
}

.pad-left-five {
    padding-left: 5px!important;
    padding-right: 0!important
}

.test:hover,
.test.active {
    box-shadow: 0 0 10px #16a6af;
    -webkit-box-shadow: 0 0 10px #16a6af;
    -ms-box-shadow: 0 0 10px #16a6af
}

.selectedGrid {
    box-shadow: 0 0 10px #16a6af;
    -webkit-box-shadow: 0 0 10px #16a6af;
    -ms-box-shadow: 0 0 10px #16a6af
}

.ds-img {
    margin-left: 15px
}

.margin-bottom-five {
    margin-bottom: 5px !important;
}

.pad-left-right {
    padding-right: 0!important;
    padding-left: 5px!important;
    width: 25%
}

.pad-left-ten {
    padding-left: 10px
}

.starCss {
    padding-left: 0!important;
    margin-left: -5px!important
}

.mar-left-checkbox {
    margin: 0 0 0 20px!important
}

.width-ds-type {
    width: 112px
}

.fixed-height {
    height: 108px;
    overflow-x: hidden
}

.footer-actions {
    position: absolute;
    bottom: 28px!important;
    height: 20px;
    float: left;
    left: 2px;
    padding-left: 18px
}

.ds-tab-color {
/*     background: #16a6af!important */
   background: linear-gradient(to bottom, #23bcc6 0%,#0e676b 100%)
}

.ds-name {
    font-size: 22px;
    text-transform: capitalize
}

.tab-right {
    right: 25px
}

.tab-size {
    font-size: 12px!important;
    font-weight: 600!important
}

.tag-highlighted {
    width: 36%;
    border: 1px solid #17b9e7;
    background: #17b9e7;
    color: #fff;
    padding: 2px 0 2px 12px;
    margin-left: 5px
}

.info-header {
    font-size: 14px;
    font-weight: normal
}

.info-content {
    font-size: 14px
}

.ds-upload {
    width: 85%;
    margin-left: 7px
}

.ds-dropdown {
    margin-left: -1%!important;
    width: 80%!important
}

.left-line {
    float: left;
    height: 2px;
    width: 24%;
    background-color: #eceaea;
    left: 8px
}

.right-line {
    float: left;
    height: 2px;
    width: 23%;
    background-color: #eceaea
}

.or-Css {
    float: left;
    margin-top: -10px;
    margin-right: 6px;
    margin-left: 13px
}

.input-width-left {
    margin-left: -1%;
    width: 80%
}

.dropdown-file {
    width: 78%
}

.split-key-width {
    width: 77%;
    margin-left: 3px
}

.min-btn {
    float: left;
    margin-right: 2px!important;
    margin-top: -89px;
    margin-left: 78%
}

.max-btn {
    float: left;
    margin-right: 2px!important;
    margin-top: -58px;
    margin-left: 78%
}

.fullscreen-btn {
    float: right;
    margin-bottom: 1px;
    margin-top: -28px!important;
    margin-right: 61px
}

.rec-ignore {
    margin-left: 7px;
    width: 100%
}

.td-height {
    height: 30px
}

.visual-chk {
    text-align: center;
    left: 269px;
    top: -20px
}

.usergroup {
    margin-top: 0;
    font-size: 15px;
    float: right;
    margin-right: -20px
}

.filter-scroll-css {
    width: 100%;
    max-height: 130px;
    overflow-x: hidden;
    overflow-y: hidden
}

.activeTabCss {
    background-color: #ccc!important
}

.height-info {
    height: 10px!important
}

.border-line {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 12px
}

.feedback {
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 30px;
    margin-top: 8px
}

.filter-scroll-css:hover {
    overflow-y: auto
}

.external-css {
    margin-left: -3px;
    width: 80.6%
}

.margin-btn {
    margin: 0 0 0 -15px!important
}

.solution-ds {
    height: 93px;
    overflow-x: hidden;
    width: 74%;
    overflow-y: hidden
}

.solution-ds:HOVER {
    overflow-y: auto
}

.logout-dropdown {
    height: 250px;
    overflow-x: hidden;
    overflow-y: hidden
}

.logout-dropdown:HOVER {
    overflow-y: auto
}