<div class="modal-header" ng-if="indicatorDelete">
       <h4>
              <span class="fa fa-question-circle" style="color: #f06c81;"></span>&nbsp;&nbsp;&nbsp;<b>Delete
                     confirmation</b>
       </h4>
</div>
<div class="modal-header" ng-if="indicatorYarn">
       <h4>
              <span class="fa fa-question-circle" style="color: #f06c81;"></span>&nbsp;&nbsp;&nbsp;<b>Abort confirmation</b>
       </h4>
</div>
<div class="modal-body" ng-if="indicatorDelete">
       <form>
              <!-- Delete the Application, Node, DataSource etc. -->
              <div class="row">
                     <div class="col-sm-12">
                           <div ng-if="deleteObject" class="text-center">Please type 'Delete' to delete  {{deleteObject.name}}  {{deleteObject.type}}.</div>
                           <div ng-if="!deleteObject" class="text-center">Please type 'Delete' to delete the node.</div>
                     </div>
                     <div class="col-sm-12">&nbsp</div>
                     <div class="col-sm-12" style="margin-bottom: 5px;">
                           <div class="col-sm-3"></div>
                           <div class="col-sm-6">
                                  <input type="text" focus-me="true" ng-model="deleteds.deleteNode"
                                         class="ng-pristine ng-valid" style="width: 70%; margin-left: 26px;">
                           </div>
                           <div class="col-sm-3"></div>
                     </div>
              </div>
       </form>
</div>
<div class="modal-body" ng-if="indicatorYarn">
       <form>
              <!-- Killed the yarn Application as well as datasource etc. -->
              <div class="row">
                     <!-- <div class="col-sm-12">
                           <div class="col-sm-2"></div>
                           <div class="col-sm-8" style="text-align: -moz-center;">Please type 'Abort' to abort the job.</div>
                           <div class="col-sm-2"></div>
                     </div> -->
                     <div class="col-sm-12" style="margin-top: 5px;">
                           <div class="col-sm-6">
                                  <b>Please type 'Abort' to abort the job</b>
                           </div>
                           <div class="col-sm-6">
                                  <input type="text" focus-me="true" ng-model="abortApp.abortNode"
                                         class="ng-pristine ng-valid" style="width: 97%; margin-left: 3%;">
                           </div>
                     </div>
                     <div class="col-sm-12">&nbsp</div>
                     <div class="col-sm-12"></div>
                     <div class="col-sm-12" style="margin-bottom: 5px;">
                           <div class="col-sm-2">
                                  <textarea class="form-control" style="width: 537px;height: 72px;" ng-model="abortApp.userComments" placeholder="Comment to abort" required="required"></textarea>
                           </div>
                     </div>
              </div>
       </form>
</div>
<!-- <div class="modal-body">
       <form>
              <div class="row">
                     <div class="col-sm-12">
                           <div class="col-sm-3"></div>
                           <div class="col-sm-6"><span class="glyphicon glyphicon-warning-sign" style="color: #e94b3b;"></span>  Do you want to clear this index?</div>
                           <div class="col-sm-3"></div>
                     </div>
                     <div class="col-sm-12">&nbsp</div>
              </div>
       </form>
</div> -->
<div class="modal-footer">
       <button class="btn btn-primary" ng-enter="deleteSelectedAppDs()" ng-click="deleteSelectedAppDs()" ng-if="indicatorDelete">Okay</button>
       <button class="btn btn-primary" ng-click="abortApplication()" ng-if="indicatorYarn">Okay</button>
       <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>