<div class="modal-header bdNone">
	<h3>{{modalTitle}}</h3>
</div>
<div class="form-container">
	<section class="panel panel-default bdBotttmNone"
		ng-init="selectValues = [];" class="bdTopNone">
		<div id="dateTimePickerRemoveScrollNode" class="testModal">
			<div class="panel-body">
				<div id="tabs" class="tabwidth">
					<div class="marginCont">
						<div class="col-sm-12 sample-show-hide">
							<div class="panel panel-default form-group">
								<div class="panel-body">
									<div class="form-container">
										<form name="addMathVariableForm" class="form-horizontal"
											data-ng-submit="disableSection ===false ? createExpression() :
													 onAddFixedVariableValueForMath(addVarMath.outPutVariabeFieldType,addVarMath.outPutVariable,
													 addVarMath.mathExpression,'add_var_math');">
											<div class="col-sm-4">
												<input type="text" ng-pattern='/^\s*\w*\s*$/' class="form-control" ng-model="addVarMath.outPutVariable"
													ng-disabled="{{disable}}" placeholder={{placeholderValue}} required />
											</div>
											<div class="col-sm-4">
												<select ng-model="addVarMath.outPutVariabeFieldType"
													class="form-control" required>
													<option value="">Return Data type</option>
													<option value="DATE">Date</option>
													<option value="TIMESTAMP">Timestamp</option>
													<option value="STRING">String</option>
													<option value="INTEGER">Integer</option>
													<option value="LONG">Long</option>
													<option value="DOUBLE">Double</option>
												</select>
											</div>
											<div class="col-sm-4" ng-if="disableDropDrown===false">
												<select ng-model="addVarMath.selectMathDataType" class="form-control" ng-options="item.outPutVariable  for item in expList"
													ng-change="populate(addVarMath.selectMathDataType)">
													<option value="">Pick Expression</option>
												</select>
												 <a style="float: right; color: green;" href="javascript:;"
													ng-if="disableSection===true" ng-click="AddFieldMappingFromExpression()" tooltip="Creates a new Expression"
													tooltip-placement="bottom">Create New Expression
												</a>
											</div>
											<div class="col-sm-3 text-right"></div>
											<div class="col-sm-12">&nbsp;</div>
											<div class="col-sm-12 expressionError" ng-if="mathMessage == true">Expression is not a valid.</div>
											<div class="col-sm-12">
												<textarea name="exprText" id="exprText" class="form-control" rows="4" placeholder="Write your expression"
													ng-model="addVarMath.mathExpression" required value="" my-text="" ng-keyup="onKeyUp(addVarMath.mathExpression);">
											</textarea>
											</div>
											<div ng-include src='"views/template/DatabaseFunctionUI.html"'></div>
											<div class="col-sm-12 dl-horizontal text-right marginTop10 paddingLeftNone">
												<button type="button" id="testRunId" class="btn btn-w-md btn-gap-v btn-line-success" ng-if="disableSection ===false"
													    class="marginRight10" ng-click="OpenPopupExpressionForTestRun(addVarMath.mathExpression);">Test Run
												</button>
												<button type="button" class="btn btn-w-md btn-gap-v btn-line-success" ng-click="validateExpression();" class="marginRight10"
													ng-if="disableSection ===false">Validate Expression</button>
												<button type="submit" class="btn btn-w-md btn-gap-v btn-line-success" 	class="marginRight10"
														 ng-if="disableSection ===false">Save Expression</button>
												<button type="submit" class="btn btn-primary" ng-if="disableSection ===true">{{isUpdateCaption == true ? 'Update variable' : 'Add variable'}}</button>
												&nbsp;
												<button type="button" class="btn btn-w-md btn-gap-v" ng-click="clearScopeVariables('add_var_math');setMode(false) "
													class="marginRight10">Clear</button>
												<button type="button" class="btn btn-w-md btn-gap-v" class="marginRight10" ng-click="cancel()" ng-if="disableSection ===false">
												Exit</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>