<div class="modal-header" ng-if='!disabled && !disableOnUpdate'>
	<h4>Configure new tag</h4>
</div>
<div class="modal-header" ng-if='disabled && disableOnUpdate'>
	<h4>Edit Tag</h4>
</div>
<div class="modal-header" ng-if='disabled && !disableOnUpdate'>
	<h4>Tag details</h4>
</div>

<div class="modal-body footerMargin">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-1"></div>
				<div class="col-sm-3 paddingTop">
					<label>Tag name</label>
				</div>
				<div class="col-sm-7">
					<input type="text" class="form-control"
						ng-disabled='disabled || disableOnUpdate' ng-model="tag.name"
						required placeholder="Tag name">
				</div>
			</div>
		</div>
		
		<div class="form-group">
               <div class="col-sm-12">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 paddingTop">
                         <label>Short Description</label>
                    </div>
                    <div class="col-sm-7">
					<textarea id="" class="form-control ng-pristine ng-valid" rows="4" style="margin-left: -3px;"
						ng-model="tag.shortDescription"
						placeholder="Short description"
						ng-disabled='disabled' 
						required></textarea>
                    </div>
                    <div class="col-sm-1"></div>
               </div>
          </div>
          
          <div class="form-group">
               <div class="col-sm-12">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 paddingTop">
                         <label>Long Description</label>
                    </div>
                    <div class="col-sm-7">
                    <textarea id="" class="form-control ng-pristine ng-valid" rows="8" style="margin-left: -3px;"
                              ng-model="tag.longDescription"
                              placeholder="Long description"
                              ng-disabled='disabled' 
                              required></textarea>
                    </div>
                    <div class="col-sm-1"></div>
               </div>
          </div>
		
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-show='!disableOnUpdate && !disabled'
		ng-click="createTag()" ng-if='!disableOnUpdate && !disabled'>Create</button>
	<button class="btn btn-primary" ng-show='disableOnUpdate'
		ng-click="updateTag()" ng-if='disableOnUpdate'>Update</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>