<div class="modal-header" ng-if='!disabled && !disableOnUpdate'>
	<h4>Add new Category or SubCategory</h4>
</div>
<div class="modal-header" ng-if='disabled && disableOnUpdate'>
	<h4>Edit Category or SubCategory</h4>
</div>
<div class="modal-header" ng-if='disabled && !disableOnUpdate'>
	<h4>Category or SubCategory details</h4>
</div>

<div class="modal-body footerMargin">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">

		<div class="col-md-12 form-group" style="margin-bottom: 0px;">
			<div class="col-md-4">
				<label style="float: left;">Select </label>
			</div>
			<div class="col-md-8" style="left: 5px;">
				<label class="ui-radio"> 
				<input ng-model="typeOfField"  type="radio" name="radio" ng-value="'category'" ng-change="onClickRadio(category)" ng-disabled="disabled"> <span>
						Category </span>
				</label> <label class="ui-radio"> 
				<input ng-model="typeOfField"  type="radio" name="radio" ng-value="'subCategory'"  ng-change="onClickRadio(subcategory)" ng-disabled="disabled"> 
				<span> SubCategory </span>
				</label>
			</div>
		</div>
		<div ng-if="typeOfField == 'subCategory'" class="form-group" >
			<div class="col-sm-12">
				<label for="" class="col-sm-4">Select Category</label>
				<div class="col-sm-6">
					<input type="text" ng-if="editabled=='n'"
					 ng-model="selectedCategoryName" id="componentName"
						class="form-control" ng-disabled="disabled"
						placeholder="Select Category"> 
					<ui-select ng-if="editabled=='y'" data-ng-model="selectedCategoryName" 
							       class="select-formatter cust-select" on-select="onSelected($select.selected)"
							       data-ng-required="true" ng-dsiabled="disableOnUpdate"> <ui-select-match
							       placeholder="Select Category">{{ $select.selected.catOrSubCatName }}
						</ui-select-match> <ui-select-choices repeat="status in category | filter: $select.search track by $index" >{{status.catOrSubCatName}}
						</ui-select-choices> </ui-select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-4 paddingTop">
					<label>{{typeOfField == 'category'?'Category name':'SubCategory name'}}</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-disabled='disabled || disableOnUpdate' ng-model="categoryObject.catOrSubCatName"
						required placeholder="{{typeOfField == 'category'?'Category name':'SubCategory name'}}">
				</div>
			</div>
		</div>
		<div class="form-group">
               <div class="col-sm-12">
                    <div class="col-sm-4 paddingTop">
                         <label>Short Description</label>
                    </div>
                    <div class="col-sm-6">
					<textarea id="" class="form-control ng-pristine ng-valid" rows="4" style="margin-left: -3px;"
						ng-model="categoryObject.shortDescription"
						placeholder="Short description"
						ng-disabled='disabled' 
						required></textarea>
                    </div>
               </div>
          </div>
          
          <div class="form-group">
               <div class="col-sm-12">
                    <div class="col-sm-4 paddingTop">
                         <label>Long Description</label>
                    </div>
                    <div class="col-sm-6">
                    <textarea id="" class="form-control ng-pristine ng-valid" rows="8" style="margin-left: -3px;"
                              ng-model="categoryObject.longDescription"
                              placeholder="Long description"
                              ng-disabled='disabled' 
                              required></textarea>
                    </div>
               </div>
          </div>

	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-show='!disableOnUpdate && !disabled'
		ng-click="createTag()" ng-if='!disableOnUpdate && !disabled'>Create</button>
	<button class="btn btn-primary" ng-show='disableOnUpdate'
		ng-click="updateTag()" ng-if='disableOnUpdate'>Update</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>