<div class="modal-header">
	<h3>Configure validation</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" require>
		<div class="form-group">
			<div class="col-sm-12">
				<label>Selected field : </label>
				<div>
					<span class="badge" ng-repeat="fields in selectedFields">{{fields.fieldName}}</span>
				</div>
			</div>

			<div class="col-sm-12">&nbsp;</div>
			<div class="col-sm-12">
				<span class="ui-select validationModalSelect"> <select
					ng-model="validationModalSelect" require
					ng-change="clearDependentInput()"
					ng-options="val for val in validationTypes">
						<option value="">Select validation type</option>
				</select>
				</span>
			</div>
			<div class="col-sm-12">&nbsp;</div>
			<div class="col-sm-12"
				ng-show="validationModalSelect == 'LENGTH_CHECK'">
				<div class="col-sm-6">
					<label>Greater than</label> <input type="text"
						ng-model="lengthGreaterThan" class="form-control" />
				</div>

				<div class="col-sm-6">
					<label>Less than</label> <input type="text"
						ng-model="lengthLessThan" class="form-control" />
				</div>
			</div>

			<div class="col-sm-12"
				ng-show="validationModalSelect == 'IN_VALUES' || validationModalSelect == 'NOT_IN_VALUES'">
				<div class="col-sm-12">
					<label ng-show="validationModalSelect == 'IN_VALUES'">In
						values</label> <label ng-show="validationModalSelect == 'NOT_IN_VALUES'">Not
						in values</label>
					<textarea name="multiValues" class="form-control"
						placeholder="Write your values here" ng-model="multiValues"></textarea>
				</div>
			</div>
			<div class="col-sm-12">&nbsp;</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<label class="ui-radio"><input data-ng-model="rejectData"
							name="rejectData" type="radio" value="REJECT RECORD"
							ng-click="hideValue=true" ng-change="objj.rejectFieldValue=''"
							ng-checked="true"
							ng-init="hideValue=true ; rejectData='REJECT RECORD'"><span>
								Reject record </span></label><br />

					</div>
					<div class="col-md-8"></div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label class="ui-radio"><input data-ng-model="rejectData"
							name="rejectData" type="radio" value="REJECT FIELD"
							ng-click="hideValue=false"><span> Reject field </span></label>
					</div>
					<div class="col-md-4" ng-if = "selectedFields[0].fieldDataType != 'INTEGER' || selectedFields[0].fieldDataType != 'LONG' || selectedFields[0].fieldDataType != 'DOUBLE'">
						
						<input type="text" ng-model="objj.rejectFieldValue"
							class="form-control" ng-hide="hideValue"
							ng-init="objj.rejectFieldValue=''" />
					</div>
					
					<div class="col-md-4" ng-if = "selectedFields[0].fieldDataType == 'INTEGER' || selectedFields[0].fieldDataType == 'LONG' || selectedFields[0].fieldDataType == 'DOUBLE'">
						
						<input type="number" ng-model="objj.rejectFieldValue"
							class="form-control" ng-hide="hideValue"
							ng-init="objj.rejectFieldValue=''" />
					</div>
				</div>
			</div>

			<div class="col-sm-12">&nbsp;</div>
			<div class="col-sm-12">&nbsp;</div>
			<div class="col-sm-12 text-right">
				<button type="button" class="btn btn-danger btn-block-data"
					ng-click="addValidatioNotification()">Add</button>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-12">
					<div class="callout callout-info"
						ng-repeat="notification in  validationNotification track by $index">
						<p>
							<span
								ng-if="notification.validator != 'IN_VALUES' && notification.validator != 'NOT_IN_VALUES'">
								{{notification.validator}} : {{notification.lengthRangeFrom}}
								{{notification.lengthRangeTo}}<br>{{notification.rejectData}}
							</span> <span ng-if="notification.validator == 'IN_VALUES'"
								style="word-wrap: break-word;">
								{{notification.validator}} : {{mulValuesIn}} <br>{{notification.rejectData}}
							</span> <span ng-if="notification.validator == 'NOT_IN_VALUES'"
								style="word-wrap: break-word;">
								{{notification.validator}} : {{mulValuesNot}} <br>{{notification.rejectData}}
							</span> : <span ng-if="notification.rejectData=='REJECT FIELD'">{{notification.rejectFieldValue}}</span>
							<span class="rightAlign"> <i
								class="fa fa-trash-o addCursor"
								ng-click="removeVal(notification)"></i>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" 
		ng-click="createAdvancedValidation()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>