<div class="modal-header">
	<h3>Configure validation</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" require>
		<div class="form-group">
			<div class="col-md-12">
				<label>Selected field : </label>
			</div>
			<div class="col-md-12">
				<span class="badge" ng-repeat="fields in selectedFields">{{fields.fieldName}}&nbsp;</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<span class="ui-select" style="width: 98%; margin-left: 1px;">
					<select ng-model="validationModalSelect" require
					ng-change="clearDependentInput()"
					ng-options="val for val in validationTypes">
						<option value="">Select validation type</option>
				</select>
				</span>
			</div>
		</div>
		<div class="form-group"
			ng-show="validationModalSelect == 'LENGTH_CHECK'">
			<div class="col-sm-5">
				<label>Greater than</label> <input type="text"
					ng-model="lengthGreaterThan" class="form-control" />
			</div>
			<div class="col-sm-5">
				<label>Less than</label> <input type="text"
					ng-model="lengthLessThan" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4">
				<label class="ui-radio"><input data-ng-model="rejectData"
					name="rejectData" type="radio" value="REJECT RECORD"
					ng-click="hideValue=true" ng-change="obj.rejectFieldValue=''"
					ng-checked="true"
					ng-init="hideValue=true ; rejectData='REJECT RECORD'"><span>
						Reject record </span></label><br />

			</div>
			<div class="col-md-4">
				<label class="ui-radio"><input data-ng-model="rejectData"
					name="rejectData" type="radio" value="REJECT FIELD"
					ng-click="hideValue=false"><span> Reject field </span></label>
			</div>
		</div>
		<div class="form-group" ng-hide="hideValue">
			<div class="col-md-5">
				<span class="ui-select"> <select ng-model="rejectWithData"
					class="form-control" 
					ng-options="fields.fieldName for fields in selectedFields"
					ng-change="">
						<option value="">Select field</option>
				</select>
				</span>
			</div>
			<div class="col-md-5"
				ng-if="rejectWithData.fieldDataType !='INTEGER' || rejectWithData.fieldDataType !='LONG' || rejectWithData.fieldDataType !='DOUBLE'">
				<input type="text" ng-model="obj.rejectFieldValue"
					class="form-control" 
					ng-init="obj.rejectFieldValue=''" />
			</div>
			<div class="col-md-5" ng-if="rejectWithData.fieldDataType =='INTEGER' || rejectWithData.fieldDataType =='LONG' || rejectWithData.fieldDataType =='DOUBLE'">
				<input type="number" ng-model="obj.rejectFieldValue"
					class="form-control" 
					ng-init="obj.rejectFieldValue=''" />
			</div>
			<div class="col-md-1">
				<a href="javascript:;" style="line-height: 3;"
					ng-click="addVal(rejectWithData);"> <i
					class="fa fa-plus-circle fa-lg"></i>
				</a>
			</div>
		</div>

		<div class="form-group"
			ng-repeat="dataValues in dataValidationsFields track by $index">
			<div class="col-md-5">
				<span class="ui-select"> <select ng-model="dataValues.object"
					class="form-control" ng-hide="hideValue"
					ng-options="fields.fieldName for fields in selectedFields"
					ng-disabled="true">
						<option value="">Select field</option>
				</select>
				</span>
			</div>
			<div class="col-md-5">
				<input type="text" ng-model="dataValues.value" class="form-control"
					ng-hide="hideValue" ng-disabled="true" />
			</div>
			<div class="col-md-1" ng-hide="hideValue">
				<a href="javascript:;" style="line-height: 3;"
					ng-click="deleteFields(dataValues.object.position , $index)"> <i
					class="fa fa-trash fa-lg"></i>
				</a>
			</div>

		</div>
		<div class="form-group">
			<div class="col-md-12  text-right">
				<button type="button" class="btn btn-danger btn-block-data"
					ng-click="addValidatioNotification()">Add</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="callout callout-info"
					ng-repeat="notification in  validationNotification track by $index">
					<p>
						{{notification.validator}} : {{notification.lengthRangeFrom}}
						{{notification.lengthRangeTo}}<br>{{notification.rejectData}} :
						<span ng-if="notification.rejectData=='REJECT FIELD'"
							ng-repeat="(key , value) in notification.advRejectFields">|
							{{fieldMappings[key].fieldName}} -> {{value}} |</span> <span class="rightAlign"> <i
							class="fa fa-trash-o addCursor"
							ng-click="removeVal(notification)"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="createAdvancedValidation()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>

</div>