<div class="modal-header">
	<h3>Transformation</h3>
</div>
<br />
<div class="col-sm-12">
	<label>Selected field : </label>
	<div>
		<span class="badge" ng-repeat="fields in selectedFields">{{fields.fieldName}}</span>
	</div>
</div>
<div class="modal-body overflowProcess-hori">
	<form name="advancedTransformationForm" class="form-horizontal" require>
		<div class="form-group" ng-switch on="set">
			<div class="col-md-12">&nbsp;</div>
			<div class="col-md-12" ng-switch-when="text">
				<div class="col-md-5">
					<input type="text" class="form-control" placeholder="From"
						ng-model="transformationFrom" id="transformationFrom" />
				</div>
				<div class="col-md-5">
					<input type="text" class="form-control" placeholder="To"
						ng-model="transformationTo" id="transformationTo" />
				</div>
				<div class="col-md-1">
					<a class="submit-button" style="line-height: 2;"
						ng-click="addTransformation()"> <i
						class="fa fa-plus-circle fa-lg selectedCurser"></i>
					</a>
				</div>
			</div>
			<div class="col-md-12" ng-switch-when="Date">
				<div class="col-md-5">
					<div ng-app="testApp">
						<input type="text" calender value="" class="form-control"
							data-ng-model="transformationFrom" id="transformationFrom"
							placeholder="From date" required name="segmentName" />
					</div>
				</div>
				<div class="col-md-5">
					<div ng-app="testApp">
						<input type="text" calender value="" class="form-control"
							data-ng-model="transformationTo" id="transformationTo"
							placeholder="To date" required name="segmentName" />
					</div>
				</div>
				<div class="col-md-1">
					<a class="submit-button" style="line-height: 2;"
						ng-click="addTransformation()"> <i
						class="fa fa-plus-circle fa-lg selectedCurser"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="col-md-12">&nbsp;</div>

		<div class="col-md-12">
			<div
				style="float: left; height: 2px; width: 45%; background-color: rgb(236, 234, 234)">
			</div>
			<span style="float: left; font-size: 20px; margin-top: -15px;">OR</span>
			<div
				style="float: left; height: 2px; width: 45%; background-color: rgb(236, 234, 234)">
			</div>
		</div>

		<div class="col-md-12">&nbsp;</div>

		<div class="form-group col-md-12">
			<div class="col-md-3">
				<label>Upload file</label>
			</div>
			<div class="col-md-3">
				<input type="file" on-read-file="displayFileContents(contents);" />
			</div>
		</div>

		<div class="col-md-12">&nbsp;</div>

		<div class="col-md-12">
			<div
				style="float: left; height: 2px; width: 45%; background-color: rgb(236, 234, 234)">
			</div>
			<span style="float: left; font-size: 20px; margin-top: -15px;">OR</span>
			<div
				style="float: left; height: 2px; width: 45%; background-color: rgb(236, 234, 234)">
			</div>
		</div>

		<div class="col-md-12">&nbsp;</div>

		<div class="col-md-12">
			<div class="col-md-10">
				<textarea name="" id="" class="form-control" rows="3"
					ng-model="results"></textarea>
			</div>
		</div>

		<div class="col-md-12">
			<div class="callout callout-info"
				ng-repeat="notification in  transformationNotifier track by $index">
				<p>
					{{notification.fromValue}} = {{notification.toValue}} <span
						class="rightAlign"> <i class="fa fa-trash-o addCursor"
						ng-click="removeTran(notification,  $index)"></i>
					</span>
				</p>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer ">
	<div class="col-md-12">&nbsp;</div>
	<button class="col-md-2 btn btn-default btn-defaultMargin"
		 ng-click="saveTransformation()">Save</button>
	<button class="col-md-2 btn btn-default btn-defaultMargin"
		ng-click="clearAllTransformation()">Delete All</button>
	<button class="col-md-2 btn btn-default btn-defaultMargin"
		ng-click="cancelTransformation()">Cancel</button>
</div>

