<div class="modal-header">
	<h3>Configure amazonS3 details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Access key id</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="amazonS3.accesskeyid" required
						placeholder="Access key id">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Secrete id</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="amazonS3.secretkey" required placeholder="Secrete id">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<a href="javascript:;" style="float: right;"
						ng-click="getBrokerList(amazonS3.accesskeyid, amazonS3.secretkey)">
						Get buckets </a>
				</div>
			</div>
		</div>

		<div class="form-group"
			ng-if="bucketList != undefined && bucketList != null && bucketList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Select bucket</label>
				</div>
				<div class="col-sm-6">
					<span class="ui-select" style="width: 100%; margin-left: -1px;">
						<select ng-model="amazonS3.bucket"
						ng-options="bucket.name_ for bucket in bucketList track by bucket.name_"
						ng-change="getBucketDetails(amazonS3.bucket)">
							<option value="">--Select field--</option>
					</select>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group"
			ng-if="bucketList != undefined && bucketList != null && bucketList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Delimeter</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="externalData.delimeter" required placeholder="Delimeter">
				</div>
			</div>
		</div>
		
		<div class="form-group"
			ng-if="bucketList != undefined && bucketList != null && bucketList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Optionally enclosed in double quotes ?</label>
				</div>
				<div class="col-sm-6">
					<input type="checkbox" class="toggle-task"
						ng-model="amazonS3.optionallyEnclosedInDoubleQuotes">
				</div>
			</div>
		</div>

		<div class="form-group"
			ng-if="bucketList != undefined && bucketList != null && bucketList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Bucket list</label>
				</div>
				<div class="col-sm-9">
					<ol class="breadcrumb">
						<li
							ng-repeat="values in amazonS3.hierarchyInfo"><a
							href="javascript:;" ng-click="popRecords($index)">{{values.displayName_}}</a>
							</li>
					</ol>
					
					<!-- <label ng-repeat="values in amazonS3.hierarchyInfo">
						<a href="javascript:;" ng-click="popRecords($index)">
							{{values.displayName_}}
						</a>
						<b> / </b>
					</label>
					 -->
				</div>
			</div>
		</div>
	</form>
	
	<table style="width: 100%; padding-left: 0px; padding-right: 0px;"
		ng-if="bucketDetails != undefined">
		<tr style="height: 30px;">
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7"
				style="text-align: center; width: 3%">#</th>
			<th class="rightBorderTr paddinSet" style="width: 50%;"
				bgcolor="#D7D7D7">Name</th>
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7">Storage
				class</th>
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7">Size</th>
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7">Last
				modified</th>
		</tr>
		<tr ng-repeat="structure in bucketDetails">
			<td align="center"><input type="checkbox"
				ng-init='checkBox = amazonS3.selectedBucket != null ? structure.displayName_ == amazonS3.selectedBucket.displayName_: false'
				ng-model="checkBox" ng-change="selectedFilesOrFolder(structure);"
				class="toggle-task"></td>
			<td class="paddinSet"><i class="fa fa-folder"
				ng-if='structure.type_ =="FOLDER"' aria-hidden="true"></i> <i
				class="fa fa-file-text" ng-if='structure.type_ =="FILE"'
				aria-hidden="true"></i> <a href="javascript:;"
				ng-click="getBucketDetails(structure, structure.name_)">{{structure.displayName_}}</a></td>
			<td class="paddinSet">{{structure.storage_}}</td>
			<td class="paddinSet">{{structure.size_ == null ? 0 :
				structure.size_}}</td>
			<td class="paddinSet">{{structure.lastModified_}}</td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveAmazonDetails()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>