<style>
/* Lineage css*/

leneage-Data {
  text-align: center;
}
svg {
  margin-top: 32px;
  border: 1px solid #aaa;
}
.person rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}
.person {
  font: 14px sans-serif;
  cursor: pointer;
}
.link {
  fill: none;
  /* stroke: #666; */
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
<!-- <div class="modal-header" ng-hide="lineagePage">
	<h3>Field dependencies</h3>
</div> -->
<div class="modal-body">
	<leneage-Data data="dependenciesObj"></leneage-Data>
</div>
<div class="modal-footer" ng-hide="lineagePage">
	<span>
		<button class="btn btn-primary" ng-click="Ok()">Okay</button>
	</span>
</div>