<div class="col-md-12 padding0" ng-controller="dataSourceRequestApproverCtlr">
	<div class="col-md-12 padding0 margin-top10">
		<div class="col-md-4 info-header sogoi-bold marginTop8">
			<b>Approver 1</b>
		</div>
		<div class="col-md-8 marginTop8" >
			<b>{{ dsInstance.createdBy}}</b>
		</div>
	</div>
	
	<div class="col-md-12 padding0 margin-top10">
		<div class="col-md-4 info-header sogoi-bold marginTop8">
			<b>Approver 2</b>
		</div>
		<div class="col-md-8 info-content" >
			<span class="ui-select" style="width:100%">
				<select ng-disabled="disableSelect" required class="form-control" ng-model="approverList[1].userId" ng-change="onChangeApvrOne(approverList[1].userId);">
					<option value="">Select Second Approver</option>
  						<option data-ng-repeat="value in availableUserList" value="{{value.unqUserId}}"
  						data-ng-selected="value.unqUserId==approverList[1].userId">{{(value.firstName +' '+value.lastName).substring(0, 15).concat("...")}}</option>
				</select>
				
			</span>
		</div>
	</div>
	
	<div class="col-md-12 padding0 margin-top10">
		<div class="col-md-4 info-header sogoi-bold marginTop8">
			<b>Approver 3</b>
		</div>
		<div class="col-md-8 info-content" >
			<span class="ui-select" style="width:100%" > 
				<select ng-disabled="disableSelect" required class="form-control" ng-model="approverList[2].userId" ng-change="onChangeApvrTwo();" ng-disabled="approverList[2].userId?false:disabled">
					<option value="" class="">Select Third Approver</option>
  						<option data-ng-repeat="value in availableUserList" value="{{value.unqUserId}}"
  						data-ng-selected="value.unqUserId==approverList[2].userId">{{(value.firstName +' '+value.lastName).substring(0, 15).concat("...")}}</option>
				</select>
			</span>
		</div>
	</div>
		
	<div class="col-md-12  margin-top10">
		<button ng-disabled="disabled" ng-click="resetApprovers();"
			class="btn btn-default btn-block-data pull-right" >Clear</button>
		<button ng-disabled="disabled" ng-click="saveApprovers();"
			class="btn btn-primary pull-right margin-right10" >Save</button>
	</div>
</div>