<div class="modal-header">
	<h3>Assign data source: {{Name}}</h3>
</div>
<div class="form-horizontal">
	<div class="overflowProcess-hori">
		<div class="modal-body">
			<div class="form-group">
				<div class="col-md-12">
					<div class="col-md-4" style="float: left;">
						<label for="label-focus">Current data source group</label>
					</div>
					<div class="col-md-6 padding-textBox" style="margin-left: 11px;">
						<input input type="text" class="form-control filePath-textBox"
							ng-model="dataSource.dataRepoName" ng-disabled='true'
							id="label-focus" style="width: 300px;">
					</div>
				</div>
			</div>
			<div class="form-group" class="col-md-12">
				<div class="col-md-4">
					<label style="float: left; margin-left:18px">Select data source group</label>
				</div>
				<div class="col-md-6">
					<span class="ui-select" style="width: 300px ;margin-left: -1px;"> <select
						ng-options="item.repoName for item in dataRepoList track by item.repoName"
						ng-change="" ng-model="repoName" required>
							<option value="">Data source group list</option>
					</select>
					</span>
				</div>
			</div>
			<div class="form-group"
				ng-if="repoName.repoName == '--Add New DS-Group--'">
				<div class="col-md-12">
					<div class="col-md-4" style="float: left;">
						<label for="label-focus">Data source group name</label>
					</div>
					<div class="col-md-6 padding-textBox" style="margin-left: 11px;">
						<input input type="text" class="form-control filePath-textBox"
							name="dataRepoName" ng-model="repo.dataRepoName"
							placeholder="New data source group name" id="label-focus" style="width: 300px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-body">* If not selected, the data source will be assign in "&lt;UserGroup&gt;_GROBALREPO".</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="assignDataSource()">Assign</button>
	<button class="btn btn-warning" ng-click="dismissModel();">Cancel</button>
</div>