<div class="modal-header">
	<h4>Delimiter</h4>
</div>
<div class="panel-body">
	<!-- For displaying values -->
	<div class="col-md-3">
		<label> Fields separator : </label>
	</div>
	<div class="col-md-5">
		<!-- item for item in saveSelectOption track by item -->
		<span class="ui-select"> <select
			ng-options="item as item for item in saveSelectOption"
			ng-change="selectDelimeter(delimiter)" ng-model="delimiter" required>
		</select>
		</span>
	</div>
	<div class="col-md-4">
		<input ng-disabled='disabled' type="text" class="form-control"
			id="label-focus" ng-model="select.delimiter" required />
	</div>
	<div class="col-md-7"><label></label></div>
	<div class="col-md-5" >
		<label class="ui-checkbox headerInHiveOpCb"> <input type="checkbox"
			class="toggle-task" ng-model="headerInOutput" ng-init="headerInOutput = false"> <span>CONTAINS HEADER</span>
		</label>
	</div>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="delimiterCapture(delimiter,headerInOutput)">Ok</button>
	<button class="btn btn-warning" ng-click="dismiss()">Cancel</button>
</div>