<div class="modal-header" ng-hide='repo'>
	<h4>{{dataSource.dataSourceName}}</h4>
</div>
<div class="panel-body">
	<!-- For displaying values -->
	<div class="col-md-12">
		<div class="form-group" style="height: 44px;"
			ng-repeat="values in dataSource.dsLevelParams track by $index">
			<div class="col-md-3 padding-textBox">
				<input input type="text" class="form-control" name="fileName"
					ng-model="values.paramName" placeholder="Parameter Name" disabled
					required>
			</div>
			<div class="col-md-3">
				<span class="ui-select"> <select
					class="link-pannel-select ng-pristine ng-valid"
					ng-options="valuess for valuess in dataTypes" name="paramType"
					ng-model="values.paramType" disabled required>
						<option value="">Param type</option>
				</select>
				</span>
			</div><!--  -->
			<div class="col-md-3"  ng-show="values.paramType != 'DATE' && values.paramType != 'TIMESTAMP'">
				<input type="text" class="form-control" name="paramValue"
					ng-model="values.defaultVal" placeholder="Parameters default value"
					ng-disabled='(!repo) ? disabledValues[$index] : disabledValues[$parent.$index][$index]'
					required />
			</div>

			<div class="col-sm-3" ng-show="values.paramType == 'DATE'">
				<input type="text" value="" class="form-control"
						ng-model="values.defaultVal"
						placeholder="Parameters default value" ng-disabled='(!repo) ? disabledValues[$index] : disabledValues[$parent.$index][$index]'
						calender required />
			</div>

			<div class="col-md-3" ng-show="values.paramType == 'TIMESTAMP'">
				<div class='input-group date'>
						<input type='text' class="form-control" datetimepicker  ng-model="values.defaultVal"
						placeholder="Parameters default value" ng-disabled="(!repo) ? disabledValues[$index] : disabledValues[$parent.$index][$index]"
						required />
				</div>
			</div>
			<i class="fa fa-pencil-square-o movOpField" style="line-height: 36px" ng-hide="values.paramName=='gp_lastRunDateTime' || values.paramName=='gp_currentRunDateTime' || values.paramName=='gp_lastSuccessfullyRunDateTime'"
				ng-click="enableTextValue($index , $parent.$index)"></i>
		</div>
	</div>
</div>
<div class="modal-footer" ng-hide='repo'>
	<button class="btn btn-primary" 
		ng-click="changeDefaultVal()">Okay</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>