<div class="modal-header"">
	<h4>
		<span class="fa fa-question-circle" style="color: #f06c81;"></span>&nbsp;&nbsp;&nbsp;<b>Delete
			confirmation</b>
	</h4>
</div>
<div class="modal-body">
	<form>
		<div class="row">
			<div class="col-sm-12">
			<div>
				 Type "delete" for delete this?<br>
			</div>
			<div class="col-sm-12">&nbsp;</div>
			<div class="col-sm-12" style="margin-bottom: 5px;">
				<input type="text" focus-me="true" ng-model="deleteds.deleteNode"
					class="ng-pristine ng-valid" style="width: 70%;">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-enter="deleteSelectedAppDs()"
		ng-click="deleteSelectedAppDs()" ng-if="indicatorDelete">Okay</button>
	<button class="btn btn-primary" ng-click="abortApplication()"
		ng-if="indicatorYarn">Okay</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>