<div class="modal-header">
	<h4>
		<span></span>&nbsp;&nbsp;&nbsp;<b>Warning - field mapping changes</b>
	</h4>
</div>

<div class="modal-body">
	<span class="custPad inputParam">
			New field mapping generated as per the recent data source design changes, is different from the existing field mapping. Please review the differences and you may:
			<ol>
				<li>Cancel changes and return - Here nothing is saved and data source will be restored as it was</li>
				<li>Save design changes but keep existing field mapping - This will ignore the new field mapping generated</li>
				<li>Save design changes and overwrite existing field mapping with the new one</li>
			</ol>
	</span>
	<div class="col-md-12 panel-default fieldMappingWarning-body noMarginTop">
		
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading textCaptial"  style="text-transform: capitalize;">
					<strong> <span class="glyphicon glyphicon-th"></span>
						Existing field mappings
					</strong>
				</div>
				<div class="panel-body scroll1">
					<table class="table table-striped table-bordered margin">
						<tbody>
							<tr>
								<th>Sr no.</th>
								<th>Field name</th>
								<th>Field type</th>
								<th>Date format</th>

							</tr>
							<tr
								ng-repeat="existingFieldMapping in existingFieldMappings track by $index">

								<td>{{$index+1}}</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.fieldName != newFieldMappings[$index].fieldName}">{{existingFieldMapping.fieldName}}</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.fieldDataType != newFieldMappings[$index].fieldDataType}" ng-if="existingFieldMapping.fieldDataType != 'DECIMAL'">{{existingFieldMapping.fieldDataType}}</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.fieldDataType != newFieldMappings[$index].fieldDataType}" ng-if="existingFieldMapping.fieldDataType == 'DECIMAL'">{{existingFieldMapping.fieldDataType}}({{existingFieldMapping.precision}},{{existingFieldMapping.scale}})</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.format != newFieldMappings[$index].format}">{{existingFieldMapping.format}}</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading textCaptial" style="text-transform: capitalize;">
					<strong> <span class="glyphicon glyphicon-th"></span> New
						field mappings
					</strong>
				</div>
				<div class="panel-body  scroll1">
					<table class="table table-striped table-bordered margin">
						<tbody>
							<tr>
								<th>Sr no.</th>
								<th>Field name</th>
								<th>Field type</th>
								<th>Date format</th>

							</tr>
							<tr
								ng-repeat="newFieldMapping in newFieldMappings track by $index">
								<td>{{$index+1}}</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.fieldName != existingFieldMappings[$index].fieldName}">{{newFieldMapping.fieldName}}</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.fieldDataType != existingFieldMappings[$index].fieldDataType}" ng-if="newFieldMapping.fieldDataType != 'DECIMAL'">{{newFieldMapping.fieldDataType}}</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.fieldDataType != existingFieldMappings[$index].fieldDataType}" ng-if="newFieldMapping.fieldDataType == 'DECIMAL'">{{newFieldMapping.fieldDataType}}({{newFieldMapping.precision}},{{newFieldMapping.scale}})</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.format != existingFieldMappings[$index].format}">{{newFieldMapping.format}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer fieldMappingWarning-footer-border">
	<div class="col-md-12 fieldMappingWarning-footer-buttons">
		<span><button class="btn btn-primary"
			ng-click="saveFieldMappingChanges('IgnoreEverything')"
			tooltip="Cancel changes and return - Here nothing is saved and data source will be restored as it was">Cancel and return</button>
			</span>
		<span><button class="btn btn-primary"
			ng-click="saveFieldMappingChanges('IgnoreFieldMappings')"
			tooltip="Save design changes but keep existing field mapping - This will ignore the new field mapping generated">Save design but keep field mapping</button>
		</span>	
		<span>
		<button class="btn btn-primary"
			ng-click="saveFieldMappingChanges('OverwriteFieldMappings')"
			tooltip="Save design changes and overwrite existing field mapping with the new one">Save design and overwrite field mapping</button>
		</span>
	</div>
</div>
