<div class="modal-header">
	<!-- <h3 data-ng-if="!isUser">Configure new user</h3> -->
	<h3>
		<span class="fa fa-exclamation-triangle confirmBoxLogo"></span>&nbsp;&nbsp;&nbsp;<span
			class="confirmBoxText">Alert</span>
	</h3>
</div>
<div class="panel-body notification-modal-css">
	<div class="col-sm-12" ng-if="!indicatorForSessionMsg">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">{{msgData}}</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="col-sm-12" ng-if="indicatorForSessionMsg">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">{{msgData}}</div>
		<div class="col-sm-3"></div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-if = "indicatorForSessionMsg" data-ng-click="ok()">Yes</button>
	<button class="btn btn-primary" ng-if = "!indicatorForSessionMsg" data-ng-click="ok()">Okay</button>
	<button class="btn btn-primary" ng-if = "indicatorForSessionMsg" data-ng-click="cancel()">No</button>
</div>