<style>
.btn-default {
    background-color: #fff;
    border-color: #cbd5dd;
    color: #333;
}
</style>

<div class="modal-header">
	<h3 data-ng-if="!isUpdate">Configure new group</h3>
	<h3 data-ng-if="isUpdate">Update group</h3>
</div>
<div class="form-horizontal">
	<!-- <div class=""> -->
		<div class="modal-body footerMargin">
			<form name="createGroup">
			
				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Solution name</label>
					</div>
					<div class="col-md-7" data-ng-if="isUpdate">
						<input type="text" 
						       data-ng-model="configNewGroup.appName"
							   class="form-control" 
							   data-ng-required="true"
							   disabled>
					</div>
					<div class="col-md-7" data-ng-if="!isUpdate">
						<ui-select data-ng-model="configNewGroup.appName"
							class="select-formatter" data-ng-required="true" style="width: 100%;"> <ui-select-match
							placeholder="Select solution">{{$select.selected.appName}}
						</ui-select-match> <ui-select-choices
							repeat="app.appName as app in allApps">
						{{app.appName}} </ui-select-choices> </ui-select>
						
					</div>
					<div class="col-sm-1"></div>
				</div>
				
				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Group name</label>
					</div>
					<div class="col-md-7">
						<input type="text" 
						       data-ng-model="configNewGroup.groupName" 
						       class="form-control"
							   placeholder="Group name"
							   data-ng-required="true">
							   <span
					class="help-block">*Underscore is not allowed in the name of group</span>
					</div>
					<div class="col-sm-1"></div>
				</div>
				
				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label style="float: left;">Description</label>
					</div>
					<div class="col-md-7">
						<!-- <input type="text" 
						       data-ng-model="configNewGroup.description" 
						       class="form-control"
							   placeholder="description"
							   data-ng-required="true"> -->
						<textarea style="height:" 
						          placeholder="Group description"
							      data-ng-model="configNewGroup.description" 
							      rows="3"
							      class="form-control ng-pristine ng-valid" 
							      id="desc"
							      data-ng-required="true"></textarea>
					</div>
					<div class="col-sm-1"></div>
				</div>
              
				<!-- <div class="form-group" class="col-md-12">
					<div class="col-md-3">
						<label style="float: left;">Queue Name</label>
					</div>
					<div class="col-md-6">
						<span class="ui-select" style="margin-left: -4px; width: 102%;">
							<select class="ng-pristine ng-valid ng-valid-required" data-ng-model="configNewGroup.queueName" required>
								<option value="" disabled selected>Select your option</option>
								<option data-ng-repeat="queue in availableQueues" value="{{queue.queueName}}">{{queue.queueName}}</option>
			                </select>
						</span>
					</div>
				</div> -->
				
				<!-- <div class="form-group" class="col-md-12">
					<div class="col-md-3">
						<label style="float: left;">Queue Name</label>
					</div>
					<div class="col-md-6">
						<ui-select data-ng-model="configNewGroup.queueName"
							class="select-formatter" data-ng-required="true">
						<ui-select-match placeholder="Select Queue">{{$select.selected.queueName}}
						</ui-select-match> <ui-select-choices
							repeat="queue.queueName as queue in availableQueues">
						{{queue.queueName}} </ui-select-choices> </ui-select>
					</div>
				</div> -->
					
				
				<!-- <div class="form-group" class="col-md-12">
					<div class="col-md-3">
						<label style="float: left;">Data Ingestion Method</label>
					</div>
					<div class="col-md-8" ng-init="datasource.user=2;">
						<label class="ui-radio" tooltip-placement="bottom"
							tooltip='{{explanation["advance"]}}'> <input name="radio"
							value="typical" ng-model="obj.ingection" type="radio"
							ng-disabled='myDisabel'> <span> Advanced </span>
						</label> <label class="ui-radio" tooltip-placement="bottom"
							tooltip='{{explanation["basic"]}}'> <input name="radio"
							ng-checked='true' ng-model="obj.ingection" type="radio" value="quick"
							ng-disabled='myDisabel'> <span> Basic (Without
								validations and transformation) </span>
						</label><span style="color: red"></span>
					</div>
				</div> -->
              </form>
		</div>
	<!-- </div> -->
</div>
<div class="modal-footer">
	<button type="submit" data-ng-if="!isUpdate"
		data-ng-click="createGroupAction()" class="btn btn-primary">Create</button>
	<button type="submit" data-ng-if="isUpdate"
		data-ng-click="updateGroupAction()" class="btn btn-primary">Update</button>
	<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>
<!-- <div class="modal-body" ng-hide='Repository'> <ul><li> By default, the new
	Data Source is created as part of global Data Source Group
	"&lt;UserGroup&gt;_GLOBALREPO".</li><li> &lt;UserGroup&gt; is the Group to which
	the logged in user is assigned.</li><li> User can re-assign the data source to
	other valid DS Group.</li></ul></div> -->


