<div class="modal-header">
	<h3 data-ng-if="!isUser">Configure new user</h3>
	<h3 data-ng-if="isUser">Update user</h3>
</div>
<div class="form-horizontal">
	<div class="modal-body">
		<form novalidate class="ng-pristine ng-valid" name="createUser">
			<div class="form-group" class="col-md-12">
				<div class="col-md-6">
					<label style="float: left;">User id</label> <input type="text"
						data-ng-model="manageUser.userDetails.unqUserId"
						class="form-control" placeholder="User id" disabled>
				</div>
				<div class="col-md-6">
					<label style="float: left;">First name</label> <input type="text"
						data-ng-model="manageUser.userDetails.firstName"
						class="form-control" placeholder="First name"
						data-ng-required="true">
				</div>
			</div>
			<div class="form-group" class="col-md-12">
				<div class="col-md-6">
					<label style="float: left;">Last name</label> <input type="text"
						data-ng-model="manageUser.userDetails.lastName"
						class="form-control" placeholder="Last name"
						data-ng-required="true">
				</div>
				<div class="col-md-6">
					<label style="float: left;">Email id</label> <input type="email"
						name="email" data-ng-model="manageUser.userDetails.emailId"
						class="form-control" placeholder="Email id"
						data-ng-required="true"> <span style="color: red"
						data-ng-show="createUser.email.$error.email">Invalid email
						address.</span>
				</div>
			</div>
			<div class="form-group" class="col-md-12">
				<div class="col-md-6">
					<label style="float: left;">Password</label> <label
						style="margin-left: 30px;" class="ui-checkbox"> <input
						type="checkbox" ng-change="changeIndicator(checkBoxIs);"
						ng-model="checkBoxIs" ng-disabled='!(isPassWordEnable)'
						ng-change=""><span></span>
					</label> <input type="password"
						data-ng-model="manageUser.userDetails.password"
						ng-keyup="checkPwd(manageUser.userDetails.password)"
						ng-disabled='isPassWordEnable' name="userPwd" 
						class='form-control'
						placeholder="Password" data-ng-required="true"
						ng-pattern="respattern"/>
				</div>
				<div class="col-md-6">
					<label>User status</label>
					<ui-select data-ng-model="manageUser.userDetails.status"
						class="select-formatter cust-select" data-ng-required="true"> <ui-select-match
						placeholder="Select status">{{$select.selected}}
					</ui-select-match> <ui-select-choices repeat="status in statusList track by $index">{{status}}
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="form-group" class="col-md-12" ng-if='personaInfo != undefined'>
				<div class="col-md-6">
					<label>Persona</label>
					<ui-select multiple ng-model="masterRoleObj.selectedPeople"
						theme="bootstrap" ng-disabled="disabled" style="width: 100%;">
					<ui-select-match placeholder="Select persona">{{$item.persona_name}}</ui-select-match>
					<ui-select-choices repeat="person in personaInfo track by person.persona_name">
					<div ng-bind-html="person.persona_name | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
				<div class="col-md-6">
					<label>User Lock status</label>
					<ui-select data-ng-model="manageUser.userDetails.lockInd"
						class="select-formatter cust-select" data-ng-required="true"> <ui-select-match
						placeholder="Select status">{{$select.selected}}
					</ui-select-match> <ui-select-choices repeat="status in lockStatusList track by $index">{{status}}
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12 userMngt">
					<label>Solutions</label>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-12">&nbsp;</div>
					<div class="col-sm-4" ng-repeat="user in manageUsersForDetails">
						<div class="col-sm-12">
							<div>
								<label class="ui-checkbox"><input
									name='checkbox{{$index}}' type="checkbox"
									ng-model="checkbox[$index]"
									ng-change="addToSelectedApp(user.SOLUTIONNAME, checkbox[$index])"
									value="checkedSolution;"><span></span>
									{{user.SOLUTIONNAME}}</label>
							</div>
						</div>
						<div class="col-sm-12">&nbsp;</div>
						<div class="col-sm-12">
							<ui-select data-ng-model="selectedGroups[user.SOLUTIONNAME]"
								multiple style="width: 100%;" theme="bootstrap"
								class="select-formatter"
								data-ng-change="manageAvailableSubGroups(user.SOLUTIONNAME,$index);"
								data-ng-required="true" ng-disabled='!checkbox[$index]'>
							<ui-select-match placeholder="Select groups">{{$item}}</ui-select-match>
							<ui-select-choices
								repeat="item in groupList[user.SOLUTIONNAME] | filter: $select.search track by item">{{item}}</ui-select-choices>
							</ui-select>
						</div>
						<div class="col-sm-12">&nbsp;</div>
						<div class="col-sm-12">
							<ui-select data-ng-model="selectedSubGroups[user.SOLUTIONNAME]"
								multiple style="width: 100%;" theme="bootstrap"
								class="select-formatter"
								data-ng-change="manageAvailableSubGroupsForThatGroup(user.SOLUTIONNAME,$index);"
								data-ng-required="true" ng-disabled='!checkbox[$index]'>
							<ui-select-match placeholder="Select sub groups">{{$item}}</ui-select-match>
							<ui-select-choices
								repeat="item in subGroupList[user.SOLUTIONNAME] | filter: $select.search track by $index">{{item}}</ui-select-choices>
							</ui-select>
						</div>
						<div class="col-sm-12">&nbsp;</div>
						<div class="col-sm-12">
							<ui-select data-ng-model="selectedRoles[user.SOLUTIONNAME]"
								multiple style="width: 100%;" theme="bootstrap"
								class="select-formatter" data-ng-required="true"
								ng-disabled='!checkbox[$index]'> <ui-select-match
								placeholder="Select roles">{{$item}}</ui-select-match> <ui-select-choices
								repeat="item in roleList[user.SOLUTIONNAME] | filter: $select.search track by $index">{{item}}</ui-select-choices>
							</ui-select>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" data-ng-click="createUserAction()"
		data-ng-if="!isUser" class="btn btn-primary">Create</button>
	<button type="submit" data-ng-if="isUser"
		data-ng-click="updateUserAction()" class="btn btn-primary">Update</button>
	<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>