<style>
.btn-default {
	background-color: #fff;
	border-color: #cbd5dd;
	color: #333;
}
</style>

<div class="modal-header">
	<h3 data-ng-if="!isUpdate">Configure new subgroup</h3>
	<h3 data-ng-if="isUpdate">Update subgroup</h3>
</div>
<div class="form-horizontal">
	<div class="">
		<div class="modal-body footerMargin">
			<form novalidate class="ng-pristine ng-valid" id="createSubgroup"
				name="createSubgroup"
				style="border-bottom: 0px solid #e5e5e5; padding: 5px">
				
				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Subgroup name</label>
					</div>
					<div class="col-md-7">
						<input type="text" data-ng-model="configNewSubgroup.subGroupName"
							class="form-control" placeholder="Subgroup name"
							data-ng-required="true">
							<span
					class="help-block">*Underscore is not allowed in the name of subgroup</span>
					</div>
					
					<div class="col-sm-1"></div>
				</div>

				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Description</label>
					</div>
					<div class="col-md-7">
						<!-- <input type="text" 
						       data-ng-model="configNewSubgroup.subGroupDescription" 
						       class="form-control"
							   placeholder="description"
							   data-ng-required="true"> -->
						<textarea style="height:" placeholder="Subgroup description"
							data-ng-model="configNewSubgroup.subGroupDescription" rows="3"
							class="form-control ng-pristine ng-valid" id="desc"
							data-ng-required="true"></textarea>
					</div>
					<div class="col-sm-1"></div>
				</div>

				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Solution name</label>
					</div>
					<div class="col-md-7" data-ng-if="isUpdate">
						<input type="text" 
						       data-ng-model="configNewSubgroup.appName"
							   class="form-control" 
							   data-ng-required="true"
							   disabled >
					</div>
					<div class="col-md-7" data-ng-if="!isUpdate">
						<ui-select data-ng-model="configNewSubgroup.appName" style="width: 100%;"
							class="select-formatter" data-ng-required="true" ng-change="changeApplication(configNewSubgroup);"> <ui-select-match
							placeholder="Select application">{{$select.selected.appName}}
						</ui-select-match> <ui-select-choices
							repeat="app.appName as app in allApps">
						{{app.appName}} </ui-select-choices> </ui-select>
						
					</div>
					<div class="col-sm-1"></div>
				</div>
				
				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Group name</label>
					</div>
					<div class="col-md-7">
						<ui-select data-ng-model="obj.customGroupName" style="width: 100%;"
							class="select-formatter" data-ng-required="true"> <ui-select-match
							placeholder="Select Group">{{$select.selected.groupName}}
						</ui-select-match> <ui-select-choices
							repeat="group.groupName as group in availableGroups">
						{{group.groupName}} </ui-select-choices> </ui-select>
					</div>
					<div class="col-sm-1"></div>
				</div>

				<div class="form-group" class="col-md-12">
					<div class="col-sm-1"></div>
					<div class="col-md-3 paddingTop">
						<label>Queue name</label>
					</div>
					<div class="col-md-7">
						<ui-select data-ng-model="configNewSubgroup.queueName"
							class="select-formatter" data-ng-required="true" style="width: 100%;">
						<ui-select-match placeholder="Select queue">{{$select.selected.queueName}}
						</ui-select-match> <ui-select-choices
							repeat="queue.queueName as queue in availableQueues">
						{{queue.queueName}} </ui-select-choices> </ui-select>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" data-ng-if="!isUpdate"
		data-ng-click="createSubgroupAction();" class="btn btn-primary">Create</button>
	<button type="submit" data-ng-if="isUpdate"
		data-ng-click="updateSubgroupAction()" class="btn btn-primary">Update</button>
	<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>