<style>
.btn-default {
	background-color: #fff;
	border-color: #cbd5dd;
	color: #333;
}
</style>

<div class="modal-header">
	<h3 data-ng-if="!isAccess">Configure new role</h3>
	<h3 data-ng-if="isAccess">Update role</h3>
</div>
<div class="form-horizontal">
	<!-- 	<div class=""> -->
	<div class="modal-body footerMargin">
		<form novalidate class="ng-pristine ng-valid" name="createRole">
		
			<div class="form-group" class="col-md-12">
				<div class="col-md-3 paddingTop">
					<label style="float: left;">Solution name</label>
				</div>
				<div class="col-md-8" data-ng-if="isAccess">
					<input type="text" 
					       data-ng-model="accessConfigObject.appName"
						   class="form-control" 
						   data-ng-required="true"
						   disabled>
				</div>
				<div class="col-md-8" data-ng-if="!isAccess">
					<ui-select data-ng-model="accessConfigObject.appName" style="width: 100%;"
						class="select-formatter" data-ng-required="true" ng-change="changeAccessControl(accessConfigObject);"> <ui-select-match
						placeholder="Select solution">{{$select.selected.appName}}
					</ui-select-match> <ui-select-choices
						repeat="app.appName as app in allApps">
					{{app.appName}} </ui-select-choices> </ui-select>
						
				</div>
			</div>

			<div class="form-group" class="col-md-12">
				<div class="col-md-3 paddingTop">
					<label>Role name</label>
				</div>
				<div class="col-md-8">
					<input type="text" data-ng-model="accessConfigObject.roleName"
						class="form-control" placeholder="Role name"
						data-ng-required="true">
				</div>
			</div>

			<div class="form-group" class="col-md-12">
				<div class="col-md-3 paddingTop">
					<label>Description</label>
				</div>
				<div class="col-md-8">
					<textarea style="height:" placeholder="Role description"
						data-ng-model="accessConfigObject.roleDescription" rows="3"
						class="form-control ng-pristine ng-valid" id="desc"
						data-ng-required="true"></textarea>
				</div>
			</div>


			<div class="form-group" class="col-md-12">
				<div class="col-md-3">
					<label style="float: left;">Actions</label>
				</div>
				<div class="col-md-12">
					<!-- <ui-select data-ng-model="select.selectedActions" 
						           multiple
						           style="width: 100%;"
							       theme="bootstrap" 
							       class="select-formatter"
							       data-ng-change="manageDropDown();"
							       required> 
							       <ui-select-match placeholder="Select Actions">{{$item.action}}</ui-select-match> 
							       <ui-select-choices  repeat="item.action as item in availableActions | filter: $select.search track by $index">{{item.action}} </ui-select-choices> 
						 </ui-select> -->
					<ui-select data-ng-model="select.selectedActions" multiple
						style="width: 100%;" theme="bootstrap" class="select-formatter"
						required> <ui-select-match
						placeholder="Select actions">{{$item}}</ui-select-match> <ui-select-choices
						repeat="item in allActionList | filter: $select.search track by $index">{{item}}
					</ui-select-choices> </ui-select>
				</div>
			</div>
		</form>
	</div>
	<!-- </div> -->
</div>
<div class="modal-footer">
	<button type="submit" data-ng-click="createRoleAction()"
		data-ng-if="!isAccess" class="btn btn-primary">Create</button>
	<button type="submit" data-ng-if="isAccess"
		data-ng-click="updateRoleAction()" class="btn btn-primary">Update</button>
	<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>



