<style>
.scrollabe-div{
  overflow: auto;
  min-height: 286px;
 /*  max-height: 100vh; */
}
</style>

<section class="table-dynamic" >
	<div class="modal-header">
		<h3>Configure Relationship</h3>
	</div>
	<br>
	<div class="panel-heading lan-heading">
		<strong> <span class="glyphicon glyphicon-th"></span> Select Data Sources
		</strong>
	</div>


	<div class="form-horizontal">
		<div class="modal-body" data-ng-init="init();">
			<form novalidate class="ng-pristine ng-valid" name="configureRelation">
			      <div class="form-group" class="col-md-12">
			    <div class="col-md-4">
					<label>Source Data Source</label>
					<ui-select data-ng-model="configureRelations.sourceDsItem"
						       class="select-formatter cust-select" 
						       data-ng-change="initRelations();"
						       data-ng-required="true"> <ui-select-match
						       placeholder="Select Data Source">{{$select.selected.dataSourceName}}
					</ui-select-match> <ui-select-choices repeat="status in configureRelations.sourceDsList | filter: $select.search track by $index">{{status.dataSourceName}}
					</ui-select-choices> </ui-select>
				</div>
				<div class="col-md-4">
					<label>Target Data Source</label>
					<ui-select data-ng-model="configureRelations.targetDsItem"
						       class="select-formatter cust-select" 
						       data-ng-required="true"> <ui-select-match
						       placeholder="Select Data Source">{{$select.selected.dataSourceName}}
					</ui-select-match> <ui-select-choices repeat="status in (configureRelations.targetDsList | reject : configureRelations.sourceDsItem) | filter: $select.search track by $index" >{{status.dataSourceName}}
					</ui-select-choices> </ui-select>
				</div>
				<div class="col-md-4">
					<button class="btn btn-warning" data-ng-click="requestFieldMapping();" style="margin-top: 10%;">Map Fields</button>
					<button class="btn btn-warning" data-ng-click="deleteRelation();" style="margin-top: 10%;">Delete</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	
	<br>
	<div class="panel-heading lan-heading" data-ng-if="configureRelations.dataSource.mapping.length>0">
		<strong> <span class="glyphicon glyphicon-th"></span> Map Fields
		</strong>
	</div>
	
	<div class="form-horizontal" data-ng-if="configureRelations.dataSource.mapping.length>0">
		<div class="modal-body">
		   <div class="scrollabe-div">
			<form>
			
			  <div data-ng-repeat="maping in configureRelations.dataSource.mapping track by $index" class="form-group" class="col-md-12">
			    <div class="col-md-6">
					
					<input type="text" data-ng-model="maping.sourceDsField"
						class="form-control" placeholder="Select Field"
						data-ng-required="true" disabled>
				</div>
				<div class="col-md-6">
					<ui-select data-ng-model="maping.targetDsField"
						       class="select-formatter cust-select" 
						       data-ng-required="true"> <ui-select-match
						       placeholder="Select Field">{{$select.selected}}
					</ui-select-match> <ui-select-choices repeat="item in (configureRelations.dataSource.allTargetFields) | filter: $select.search track by $index" >{{item}}
					</ui-select-choices> </ui-select>
				</div>
			</div>
			</form>
			</div>
		</div>
	</div>
	
</section>
<div class="modal-footer">
	<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
	<button class="btn btn-warning" ng-if="configureRelations.dataSource.mapping.length>0" data-ng-click="saveFieldMapping();">Save</button>
</div>