<style>
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 20px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 1px;
	right: 0;
	bottom: 0;
	background-color: #d9534f;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 9px;
	left: 2px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #5cb85c;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 4px;
	width: 39px;
}

.slider.round:before {
	border-radius: 5px;
}

.model-add-field-btn {
	float: right;
	margin-top: 10px;
	text-align: center;
}

.model-remove-field-btn {
	float: right;
}
</style>

<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			<h3 ng-if="!disable && !editable">Register a New DS Api</h3>
			<h3 ng-if="disable && !editable">Update a New DS Api</h3>
			<h3 ng-if="editable && disable">Ds Api Info</h3>
		</div>
		<div class="col-md-1">
			<div class="closePopUp">
				<i class="fa fa-times-circle icon-margin" ng-click="cancel();"></i>
			</div>
		</div>
	</div>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<label for="" class="col-sm-2">Datasource Name</label>
			<div class="col-sm-6">
				<input type="text" ng-if="undefined != compObj &&  undefined != compObj.dataSourceName" ng-model="compObj.dataSourceName" id="componentName"
					class="form-control" ng-disabled="true"
					placeholder="Datasource name">
				<ui-select data-ng-model="selectedDataSoureName" ng-if="undefined == compObj || undefined == compObj.dataSourceName"
						       class="select-formatter cust-select" on-select="onSelected($select.selected)"
						       data-ng-required="true"> <ui-select-match
						       placeholder="Select Data Source">{{ $select.selected.dataSourceName }}
					</ui-select-match> <ui-select-choices repeat="status in dsListForSelection | filter: $select.search track by $index" >{{status.dataSourceName}}
					</ui-select-choices> </ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2">Query</label>
			<div class="col-sm-6">
				<input type="text" ng-model="inputRequest"
					id="componentName" class="form-control" ng-disabled="disabled"
					placeholder="query">
			</div>
			<div class="col-sm-1"
				style="padding: 0px !important; margin: 0px !important;">
				<i class="fa fa-info-circle fa-x" style="color: #ccc !important"
					tooltip-placement="right" class="fontSize"
					tooltip="e.g 'select * from datasourcename/tablename limit 10'"></i>
			</div>
			<div ng-if="tglBtn" class="col-sm-2" >
				<button class="btn btn-primary fa fa-exchange" ng-disabled="disabled"
					tooltip-placement="right" class="fontSize"
					tooltip="Click to Test Table existance"
					ng-click="testQueryTableExistance(compObj)"></button>
			</div>
		</div>
		<div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-7">
								<label class="col-md-3">Deploy as a WebService</label>
								<div class="col-md-2">
									<label class="switch pull-right toggle-btn"
										style="top: 0px !important;"> <input type="checkbox"
										ng-checked="tglBtn" ng-change="createApiKey()"
										ng-model="tglBtn" ng-dis ng-disabled="disabled">
										<div class="slider round"></div>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr />
						<div class="col-md-9" ng-if="tglBtn==true">
							<label class="col-md-2">API KEY :</label> <span class="col-md-10">{{compObj.apiKey}}</span>
						</div>
						<div class="col-md-9" ng-if="tglBtn==true">
							<label class="col-md-2">URL :</label> <span class="col-md-10">{{getApiUrl(compObj)}}</span>
						</div>
						<!-- <div class="col-md-3"
							ng-show="(compObj.status==1) && tglBtn==true">
							<button class="btn btn-primary" ng-click="testAPI(compObj)"
								tooltip-placement="right" tooltip="Click to test API response">Test</button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<hr />
		<section  ng-if="showTable == 'y'"  class="table-dynamic">
				<div class="modal-body padQuery" ng-switch on="value">
					<div class="" >
						<div ui-grid="gridOptions" class="grid gridHeight" ui-grid-resize-columns
							ui-grid-move-columns></div>
						<div class="col-md-12 text-right"
							style="padding-bottom: 6px; margin-left: 17px;">
							
						</div>
					</div>
					<div class="panel-body" ng-switch-when="saveQuery">
						<div class="col-md-12" style="overflow: auto;">
							<strong>{{result}}</strong>
						</div>
					</div>
				</div>
			</section>
	</form>
</div>
<div class="modal-footer">
	<!-- <button class="btn btn-primary" ng-show='!disabled'
		ng-click="saveFieldMapping()" ng-if='!disable'>Save</button>
	<button class="btn btn-primary" ng-show='!disabled'
		ng-click="createCustomComponent()" ng-if='!disable'>Save &
		Exit</button> -->
	<!-- <button class="btn btn-primary" ng-show='!disabled'
		ng-click="createCustomComponent()" ng-if='disable'>Update</button> -->
	<button class="btn btn-warning" ng-click="cancel(isUpdated)">OK</button>
</div>