<div class="modal-header lan-heading">
	<h3>Create metadata</h3>
</div>
<div class="panel-body">
	<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4">
				<label>File name</label>
			</div>
			<div class="col-md-8 padding-textBox">
				<input input type="text" class="form-control" name="fileName"
					ng-model="metaData.fileName" placeholder="File Name" required><br>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4">
				<label>Upload file</label>
			</div>
			<div class="col-md-8 padding-textBox">
				<input class="btn btn-default btn-block-data" type="file"
					name="myFile" id="myFile" title="Choose File" ng-model="myFile"
					ng-file-select resetOnClick="true" style="width: 100%"
					on-read-file="displayFileContents(contents);" />
			</div>
		</div>
		<div>&nbsp;</div>
		<div class="form-group">
			<div class="col-md-4">
				<label>Delimeter</label>
			</div>
			<div class="col-md-8 padding-textBox">
				<input type="text" class="form-control" name="delimiter"
					placeholder="Delimiter" ng-model="metaData.delimiter" required>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" 
		ng-click="createMetaData()">Okay</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>