

<div  id="createConId" data-ng-controller="createConnectionCtlr" >
	<form class="form-inline"  id="createConnection" novlidate>
		<!-- RDBMS createt connection HTML -->
		<div  ng-if="connectorTypeName =='RDBMS' || connectorTypeName =='NOSQL'" class="col-md-12">
			<div class="col-md-6 form-group" >  
			    <label for="conncetionName" class="col-md-5">Connection name</label>
			    <div class="col-md-7">
			   		 <input type="text" fieldName="Connection name" validator="required"  ng-model="createCon.connectionConfig.conncetionName" id="conncetionName" class="form-control" placeholder="Connection name">  
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label for="ipAddress" class="col-md-5">IP address</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="IP address" validator="required,nosapce" ng-model="createCon.connectionConfig.ipAddress" class="form-control" id="ipAddress" placeholder="xxx.xxx.xxx.xxx">  
				</div>
			</div>
			
			<div class="col-md-6 form-group">
				<label for="port" class="col-md-5">Port</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="Port" validator="required,nosapce" class="form-control"  ng-model="createCon.connectionConfig.port" id="port" placeholder="Port">  
			    </div>
			</div>
			
			<div class="col-md-6 form-group">
				<label for="userName" class="col-md-5">Username</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="Username" validator="required" class="form-control" ng-model="createCon.connectionConfig.dbUserName"  id="dbUserName" placeholder="Username">  
			    </div>
			</div>
	
			<div class="col-md-6 form-group">
				 <label for="connpassword" class="col-md-5">Password</label>
			     <div class="col-md-7">
			    	<input type="password" fieldName="Password" validator="required, nosapce" ng-model="createCon.connectionConfig.dbPassword" class="form-control" id="dbPassword" placeholder="Password">  
			     </div>
			</div>
			
			<div class="col-md-6 form-group">
				 <label for="SID" class="col-md-5" ng-if="connectorTypeName =='RDBMS' && connectorSTName == 'ORACLE'">SID</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="SID" validator="required,nosapce" ng-model="createCon.connectionConfig.sid" class="form-control" id="sid" placeholder="SID" ng-if="connectorTypeName=='RDBMS' && connectorSTName == 'ORACLE'">
		    	</div>
			</div>
		 </div> 	  
		<!--              RDBMS connection form end        -->	  
	  
	  <!--         BI Form start              -->
		  	<div  ng-if="connectorSTName =='COGNOS'" class="col-md-12">
		  		<div class="col-md-6 form-group">
					<label for="conncetionName" class="col-md-5">Connection name</label>
				    <div class="col-md-7">
				   		 <input type="text" fieldName="Connection name" validator="required" ng-model="createCon.connectionConfig.conncetionName" id="conncetionName" class="form-control" placeholder="Connection name">  
					</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="ipAddress" class="col-md-5">IP address</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="IP Address" validator="required, nospace" ng-model="createCon.connectionConfig.ipAddress" class="form-control" id="ipAddress" placeholder="xxx.xxx.xxx.xxx">  
					</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="port" class="col-md-5">Port</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Port" validator="required, nospace" class="form-control"  ng-model="createCon.connectionConfig.port" id="port" placeholder="Port">  
			    	</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="userName" class="col-md-5">Username</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Username" validator="required" class="form-control" ng-model="createCon.connectionConfig.dbUserName"  id="userName" placeholder="User name">  
				    </div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="connpassword" class="col-md-5">Password</label>
				    <div class="col-md-7">
				    	<input type="password" fieldName="Password" validator="required, nospace" ng-model="createCon.connectionConfig.dbPassword" class="form-control" id="connpassword" placeholder="Password">  
			    	</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="connpassword" class="col-md-5">Namespace</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Namespace" validator="required" ng-model="createCon.connectionConfig.nameSpace" class="form-control" id="namespace" placeholder="Namespace">  
			    	</div>
				</div>
		</div>
	  <!--                 BI Form end                -->
	 
	  <!--           FTP Form start --->
		  	<div  ng-if="connectorSTName =='FTP SERVER' || connectorSTName =='SFTP SERVER' " class="col-md-12">
		  		<div class="col-md-6 form-group">
					<label for="conncetionName" class="col-md-5">Connection name</label>
				    <div class="col-md-7">
				   		 <input type="text" fieldName="Connection name" validator="required" ng-model="createCon.connectionConfig.conncetionName" id="conncetionName" class="form-control" placeholder="Connection name">  
					</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="ipAddress" class="col-md-5">IP address</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="IP Address" validator="required, nospace" ng-model="createCon.connectionConfig.ipAddress" class="form-control" id="ipAddress" placeholder="xxx.xxx.xxx.xxx">  
					</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="port" class="col-md-5">Port</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Port" validator="required, nospace" class="form-control"  ng-model="createCon.connectionConfig.port" id="port" placeholder="Port">  
				    </div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="userName" class="col-md-5">Username</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Username" validator="required" class="form-control" ng-model="createCon.connectionConfig.dbUserName"  id="userName" placeholder="User name">  
				    </div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="connpassword" class="col-md-5">Password</label>
				    <div class="col-md-7">
				    	<input type="password" fieldName="Password" validator="required, nospace" ng-model="createCon.connectionConfig.dbPassword" class="form-control" id="connpassword" placeholder="Password">  
			    	</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="ftpfilePath" class="col-md-5">Root path</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Root path" validator="required" ng-model="createCon.connectionConfig.ftpfilePath" class="form-control" id="ftpfilePath" placeholder="/">  
			    	</div>
				</div>
			</div>
	  <!--        FTP Form end -->
	  

	  
	  
	  
	   <!--           BLOB AZURE Form start --->
		  	<div  ng-if="connectorSTName =='BLOB'" class="col-md-12">
		  		<div class="col-md-6 form-group">
					<label for="conncetionName" class="col-md-5">Connection name</label>
				    <div class="col-md-7">
				   		 <input type="text" fieldName="Connection name" validator="required" ng-model="createCon.connectionConfig.conncetionName" id="conncetionName" class="form-control" placeholder="Connection name">  
					</div>
				</div>
								
				<div class="col-md-6 form-group">
					<label for="userName" class="col-md-5">Account Name</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Account name" validator="required" class="form-control" ng-model="createCon.connectionConfig.accountName"  id="accountName" placeholder="Account Name">  
				    </div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="connpassword" class="col-md-5">Account Key</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Account key" validator="required, nospace" ng-model="createCon.connectionConfig.accountKey" class="form-control" id="accountKey" placeholder="Account Key">  
			    	</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="ipAddress" class="col-md-5">Default End Points Protocol</label>
				    <div class="col-md-7">
				    	<select class="form-control" fieldName="Default endpoint protocol" validator="required" id="defaultEndPointsProtocol" ng-model="createCon.connectionConfig.defaultEndPointsProtocol" ng-init="createCon.connectionConfig.defaultEndPointsProtocol='https'" ng-options="type as type for type in blobProtocol">
						</select>
					</div>
				</div>
				
			</div>
	  <!--        BLOB AZURE Form end -->
	  
	   <!--           Amazon s3 Form start --->
		  	<div  ng-if="connectorSTName =='AMAZONS3' " class="col-md-12">
		  		<div class="col-md-6 form-group">
					<label for="conncetionName" class="col-md-5">Connection name</label>
				    <div class="col-md-7">
				   		 <input type="text" fieldName="Connection name" validator="required" ng-model="createCon.connectionConfig.conncetionName" id="conncetionName" class="form-control" placeholder="Connection name">  
					</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="amazons3AccessId" class="col-md-5">Access key</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Access key" validator="required, nospace" ng-model="createCon.connectionConfig.amazons3AccessId" class="form-control" id="amazons3AccessId" placeholder="Access key">  
					</div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="amazons3SecretId" class="col-md-5">Secret key</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Secret key" validator="required, nospace" class="form-control"  ng-model="createCon.connectionConfig.amazons3SecretId" id="amazons3SecretId" placeholder="Secret key">  
				    </div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="s3Bucket" class="col-md-5">Bucket name</label>
				    <div class="col-md-7">
				    	<input type="text" fieldName="Bucket name" validator="required" class="form-control" ng-model="createCon.connectionConfig.s3BucketName"  id="s3Bucket" placeholder="Bucket name">  
				    </div>
				</div>
				
				<div class="col-md-6 form-group">
					<label for="s3folder" class="col-md-5">Folder</label>
				    <div class="col-md-7">
				    	<input type="password" fieldName="Folder" validator="required" ng-model="createCon.connectionConfig.s3folderName" class="form-control" id="s3folder" placeholder="Folder">  
			    	</div>
				</div>
				
			</div>
	  <!--        Amazon s3 end -->
	  
	  <!-- HDFS createt connection HTML -->
		<div  ng-if="connectorSTName =='HDFS'" class="col-md-12">
			<div class="col-md-6 form-group" >  
			    <label for="conncetionName" class="col-md-5">Connection name</label>
			    <div class="col-md-7">
			   		 <input type="text" fieldName="Connection name" validator="required" ng-model="createCon.connectionConfig.conncetionName" id="conncetionName" class="form-control" placeholder="Connection name">  
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label for="ipAddress" class="col-md-5">IP address</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="IP Address" validator="required, nospace" ng-model="createCon.connectionConfig.ipAddress" class="form-control" id="ipAddress" placeholder="xxx.xxx.xxx.xxx">  
				</div>
			</div>
			
			<div class="col-md-6 form-group">
				<label for="port" class="col-md-5">Port</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="Port" validator="required, nospace" class="form-control"  ng-model="createCon.connectionConfig.port" id="port" placeholder="Port">  
			    </div>
			</div>
			
			<div class="col-md-6 form-group">
				<label for="userName" class="col-md-5">Username</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="Username" validator="required" class="form-control" ng-model="createCon.connectionConfig.dbUserName"  id="dbUserName" placeholder="Username">  
			    </div>
			</div>
	
			<div class="col-md-6 form-group">
				 <label for="connpassword" class="col-md-5">Password</label>
			     <div class="col-md-7">
			    	<input type="password" fieldName="Password" validator="required, nospace" ng-model="createCon.connectionConfig.dbPassword" class="form-control" id="dbPassword" placeholder="Password">  
			     </div>
			</div>
			
			<div class="col-md-6 form-group">
				<label for="ftpfilePath" class="col-md-5">Root folder</label>
			    <div class="col-md-7">
			    	<input type="text" fieldName="Root folder" validator="required" ng-model="createCon.connectionConfig.ftpfilePath" class="form-control" id="ftpfilePath" placeholder="/">  
		    	</div>
			</div>
		 </div> 	  
		<!--              HDFS connection form end        -->	
	  
	  <div class="col-md-12 text-right margin-bottom-20">
 		<div class="col-md-12 padding-right30">
 			<button class="btn btn-default btn-primary" type="submit" ng-click="createConnection(createCon)">Create</button>
 			<button class="btn btn-default btn-warning" type="submit" ng-click="testConnection(createCon)">Test</button>
		  	<button class="btn btn-default btn-cancle"  type="submit" ng-click="cancelCreateConnection()" >Cancel</button>
 		</div>
	  </div>
	</form>
</div>
    
