<style>
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 20px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 1px;
	right: 0;
	bottom: 0;
	background-color: #d9534f;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 9px;
	left: 2px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #5cb85c;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 4px;
	width: 39px;
}

.slider.round:before {
	border-radius: 5px;
}

.model-add-field-btn {
	float: right;
	margin-top: 10px;
	text-align: center;
}

.model-remove-field-btn {
	float: right;
}
</style>

<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			<h3 ng-if="!disable && !editable">Register a New Model</h3>
			<h3 ng-if="disable && !editable">Update a Model</h3>
			<h3 ng-if="editable && disable">Model Info</h3>
		</div>
		<div class="col-md-1">
			<div class="closePopUp">
				<i class="fa fa-times-circle icon-margin" ng-click="cancel();"></i>
			</div>
		</div>
	</div>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<label for="" class="col-sm-2">Model Name</label>
			<div class="col-sm-6">
				<input type="text" ng-model="compObj.modelName" id="componentName"
					class="form-control" ng-disabled="disabled"
					placeholder="Model name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Description</label>
			<div class="col-sm-6">
				<textarea ng-model="compObj.description" ng-disabled="disabled"
					class="form-control" placeholder="Model description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2">
				<label style="float: left;">Model Type</label>
			</div>
			<div class="col-md-6">
				<span class="ui-select" style="margin-left: -0%; width: 100%;">
					<select ng-model="compObj.modelType"
					ng-disabled="disabled || disable"
					ng-change="onTypeChange(compObj.modelType)" required>
						<option value=''>Select type</option>
						<option value="SparkR">ML With SparkR</option>
						<option value="SparkMLlib">ML With SparkMLlib</option>
				</select>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="" class="col-sm-2">Model Path</label>
			<div class="col-sm-6">
				<input type="text" ng-model="compObj.modelLocation"
					id="componentName" class="form-control" ng-disabled="disabled"
					placeholder="Path of model">
			</div>
			<div class="col-sm-1"
				style="padding: 0px !important; margin: 0px !important;"
				ng-show="compObj.modelType=='SparkMLlib'">
				<i class="fa fa-info-circle fa-x" style="color: #ccc !important"
					tooltip-placement="right" class="fontSize"
					tooltip="Absolute path to saved ML model e.g 'hdfs://ip/path'"></i>
			</div>
			<div class="col-sm-1" ng-show="compObj.modelType=='SparkR'"
				style="padding: 0px !important; margin: 0px !important;">
				<i class="fa fa-info-circle fa-x" style="color: #ccc !important"
					tooltip-placement="right" class="fontSize"
					tooltip="Absolute path to saved ML model e.g '/foldername/'"></i>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-primary fa fa-exchange"
					ng-show="compObj.modelType=='SparkMLlib'" ng-disabled="disabled"
					tooltip-placement="right" class="fontSize"
					tooltip="Click to generate field mappings"
					ng-click="getDataFieldsFromLocation(compObj.modelLocation)"></button>
			</div>
		</div>
		<div class="form-group" ng-show="compObj.modelType=='SparkMLlib'">
			<label for="" class="col-md-2">Algorithm</label>
			<div class="col-sm-6">
				<input type="text" ng-model="compObj.data.displayName"
					id="componentName" class="form-control" ng-disabled="true"
					placeholder="Algorithm">
			</div>
		</div>
		<div
			ng-if="compObj.data.fieldMappings.inputFields.length>0 && compObj.modelId!=undefined && compObj.modelId!=0">
			<div class="row">
				<div class="form-group">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-7">
								<label class="col-md-3">Deploy as a WebService</label>
								<div class="col-md-2">
									<label class="switch pull-right toggle-btn"
										style="top: 0px !important;"> <input type="checkbox"
										ng-checked="tglBtn" ng-change="createApiKey()"
										ng-model="tglBtn" ng-dis ng-disabled="disabled">
										<div class="slider round"></div>
									</label>
								</div>
								<div class="col-sm-1" ng-show="compObj.modelType=='SparkR'"
									style="padding: 0px !important; margin: 0px !important;">
									<i class="fa fa-info-circle fa-1x"
										style="color: #1C7EBB !important" tooltip-placement="right"
										class="fontSize"
										tooltip='Button would get enabled when your model is authenticated & which will deployed as a webservice'></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<hr />
						<div class="col-md-9" ng-if="tglBtn==true">
							<label class="col-md-2">API KEY :</label> <span class="col-md-10">{{compObj.apiKey}}</span>
						</div>
						<div class="col-md-9" ng-if="tglBtn==true">
							<label class="col-md-2">URL :</label> <span class="col-md-10">{{getApiUrl(compObj)}}</span>
						</div>
						<div class="col-md-3"
							ng-show="(compObj.modelType=='SparkMLlib' || compObj.apiAccessStatus==1) && tglBtn==true">
							<button class="btn btn-primary" ng-click="testAPI(compObj)"
								tooltip-placement="right" tooltip="Click to test API response">Test</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="form-group"
			ng-show="compObj.modelType=='SparkMLlib' || compObj.data.numberOfFeatures > 0">
			<label class="col-md-2">Predicted Value</label>
			<div class="col-sm-2" ng-hide="true">
				<input ng-pattern="/^[a-zA-Z]{1,}[a-zA-Z0-9_]{0,}$/" type="text"
					name="fieldName" class="form-control" ng-trim="true"
					value="Predicted Value" style="height: 34px;" required
					ng-disabled="true">
			</div>
			<div class="col-sm-6">
				<span class="ui-select" style="height: 34px; line-height: 15px;">
					<select class="dropdown-width" ng-disabled="true">
						<option value="">Select data type</option>
						<option value="STRING">STRING</option>
						<option value="NUMERIC">NUMERIC</option>
						<option value="INTEGER">INTEGER</option>
						<option value="LONG">LONG</option>
						<option value="DECIMAL">DECIMAL</option>
						<option value="DATE">DATE</option>
						<option value="BOOLEAN">BOOLEAN</option>
						<option value="DOUBLE" selected="selected">DOUBLE</option>
						<option value="TIMESTAMP">TIMESTAMP</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" ng-show="compObj.modelType=='SparkMLlib'">
				<div class="form-group" ng-hide="!compObj.data.numberOfFeatures">
					<label for="" class="col-md-12">Input Fields</label>
				</div>
				<div class="table-dynamic">
					<table
						class="table table-bordered table-striped table-responsive table-repo pad-popup">
						<thead>
							<tr ng-hide="!compObj.data.numberOfFeatures">
								<th ng-hide="!compObj.data.numberOfFeatures"><div
										class="th text-center">#</div></th>
								<th><div class="th">Field name</div></th>
								<th><div class="th">Data type</div></th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="fm in compObj.data.fieldMappings.inputFields track by $index">
								<td width="20%;" class="text-center">{{$index + 1}}</td>
								<td width="40%;"><span> <span></span> <input
										ng-pattern="/^[a-zA-Z]{1,}[a-zA-Z0-9_]{0,}$/" type="text"
										name="fieldName" class="form-control" ng-trim="true"
										ng-model="fm.name" style="height: 34px;" required>
								</span></td>
								<td width="40%;"
									ng-hide="compObj.data.fieldMappings.inputFields.length == 0"><span
									class="ui-select"
									style="height: 34px; line-height: 15px; width: 75%;"> <select
										class="dropdown-width" ng-model="fm.dataType">
											<option value="">Select data type</option>
											<option value="STRING">STRING</option>
											<!-- <option value="NUMERIC">NUMERIC</option> -->
											<option value="INTEGER">INTEGER</option>
											<option value="LONG">LONG</option>
											<option value="DECIMAL">DECIMAL</option>
											<option value="DATE">DATE</option>
											<option value="BOOLEAN">BOOLEAN</option>
											<option value="DOUBLE">DOUBLE</option>
											<option value="TIMESTAMP">TIMESTAMP</option>
									</select>
								</span>
									<button ng-if="fm.manual=='true'"
										class="fa fa-minus-circle model-remove-field-btn"
										ng-click="removeFieldMapping(fm)"></button></td>
							</tr>
							<tr ng-if="visibleAddField=='Y'">
								<td width="20%;">&nbsp;</td>
								<td width="40%;">&nbsp;</td>
								<td width="40%;">
									<!-- <button class="btn btn-primary" ng-click="saveFieldMapping()">Save
                                Fields</button> -->
									<button class="fa fa-plus-circle model-add-field-btn"
										ng-click="addFieldMapping()"></button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-show='!disabled'
		ng-click="saveFieldMapping()" ng-if='!disable'>Save</button>
	<button class="btn btn-primary" ng-show='!disabled'
		ng-click="createCustomComponent()" ng-if='!disable'>Save &
		Exit</button>
	<button class="btn btn-primary" ng-show='!disabled'
		ng-click="createCustomComponent()" ng-if='disable'>Update</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
