<div class="modal-header">
	<h3>Configure feature extraction</h3>
</div>
<div class="modal-body list-group">
	<form class="form-horizontal " require>
		<div class="form-group">
			<div class="col-sm-12">
				<span class="ui-select validationModalSelect"> <select
					ng-model="featureExtractionSelect"
					ng-change="myMethodChange(featureExtractionSelect)"
					ng-options="element as element.componentName for element in featureExtractionType">
						require
						<option value="">Select feature extraction type</option>
				</select>
				</span>
			</div>

			<div class="space"></div>
			<div class="divider"></div>

			<div ng-if="featureExtractionSelect != undefined">
				<div class="col-sm-12">
					<label>Description </label>
				</div>
				<div class="col-md-12">
					<div class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;{{featureExtractionSelect.componentDescription}}</div>
				</div>

				<div class="space"></div>
				<div class="divider"></div>

				<div class="col-sm-12">
					<label>Input field mapping </label>
				</div>
				<div class="col-md-12">
					<table>
						<div>
							<tr
								ng-repeat="notification in  featureExtractionSelect.customYamlConfigData.inputFields">
								<td class="col-md-6">{{notification}}</td>
								<td class="ui-select" class="col-md-6"><select
									ng-model=field
									ng-options="fm as fm.fieldName for fm in existingDS.fieldMappings"
									ng-change="selectField(notification, field.id)">
										<option value="">--Select field--</option>
								</select></td>
							</tr>
						</div>
					</table>
				</div>

				<div class="space"></div>
				<div class="divider"></div>

				<div class="col-sm-12" ng-hide='true'>
					<label>Select output fields</label>
				</div>
				<div class="col-sm-12" ng-init="featureExtractionSelect.selectedOutputs = []" ng-hide='true'>
					<div 
						ng-repeat="notification in  featureExtractionSelect.customYamlConfigData.outputFields">
						<div class="col-md-6">
							<label class="ui-checkbox" ng-init="featureExtractionSelect.selectedOutputs.push(notification)"><input type="checkbox"
								checklist-model="featureExtractionSelect.selectedOutputs"
								checklist-value="notification"><span>{{notification}}</span></label>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" 
		ng-click="createFeatureExtraction()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>