<div class="modal-header">
	<h3>Request for {{dsName}}</h3>
</div>
<div class="form-horizontal">
	<div class="modal-body">
		<form class="ng-pristine ng-valid" style="border-bottom: 0px solid #e5e5e5; padding: 5px">
			<div class="form-group" class="col-md-12">
				<!-- <div class="col-md-3">
					<label style="float: left;">Justification</label>
				</div>-->
				<div class="col-md-12"> 
					<textarea rows="4" cols="50"  ng-model="justification"  placeholder="Remark" class="form-control">
					</textarea>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary"
		ng-click="approveDataSourceRequest(justification)">Accept</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

