<div id="dashboard" class="newContentScrollBar">
	<div class="col-md-12">
		<div class="col-md-12 headerCon">
			<div class="col-md-1">
				<div class="text-center"><img alt="Data Source" src="../../styles/images/projectImages/data-source.png"></div>
			</div>
			<div class="col-md-8">
				<div class="font-size-ds">
					<b>{{selected}}</b>
				</div>
				<div>
					Data Volumne &nbsp; <b>{{dataSourceInstance.totalRecords}}</b>
					&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp; Size &nbsp; <b>{{dataSourceInstance.size
						| sizeConvert}}</b> &nbsp;&nbsp;<span>|</span>&nbsp;&nbsp; Owner &nbsp;
					<b>{{dataSourceInstance.createdBy}}</b>
				</div>
			</div>
			<div class="col-md-2">
				<fieldset class="rating newfeed">
					<input type="radio" id="star55"
						name="rating" value="1" ng-model="star.starFive5" /> <label
						for="star5" title="" id="starFive55">5 stars</label> <input
						type="radio" id="star44" 
						name="rating" value="1" ng-model="star.starFour4" /> <label
						for="star4" title="" id="starFour44">4 stars</label> <input
						type="radio" id="star33" 
						name="rating" value="1" ng-model="star.starThree3" /> <label
						for="star3" title="" id="starThree33">3 stars</label> <input
						type="radio" id="star22"
						name="rating" value="1" ng-model="star.starTwo2" /> <label
						for="star2" title="" id="starTwo22">2 stars</label> <input
						type="radio" id="star11"
						name="rating" value="1" ng-model="star.starOne1" /> <label
						for="star1" title="" id="starOne11">1 star</label>
				</fieldset>
				<b>{{userDetailsForAverageRating.rating}}</b>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class='col-sm-3 grid-padding-top width-col-sm-3'
				ng-repeat="details in dashboard">
				<div
					class='gridCard grid-height {{projectData && details.name == "project" ? "gridCardActive" : userData && details.name == "group" ? "gridCardActive" : feedbackData && details.name == "feedback" ? "gridCardActive" : piiData && details.name == "Pii" ? "gridCardActive" : ""}}'>
					<div class="row">&nbsp;</div>
					<div class="col-md-12" ng-if="details.name == 'project'"
						ng-click="clickPrjectDetails();">
						<div class='col-md-8 gridCard-title'
							style="margin-top: 0; margin-left: 0;">
							<h2 class="grid-tit count-css">{{details.count}}</h2>
							<div class="before-count-content">
								<span>USER PROJECTS</span>
							</div>
						</div>
						<div class='col-md-4 gridCard-image grid-margin-top'>
							<img alt='DATA_SOURCE'
								src="../../styles/images/landingImg/data_sources.png"
								class='ds-img' width="100%" />
						</div>
					</div>
					<div class="col-md-12" ng-if="details.name == 'group'"
						ng-click="clickUserDetails();">
						<div class='col-md-8 gridCard-title'
							style="margin-top: 0; margin-left: 0;">
							<h2 class="grid-tit count-css">{{details.count}}</h2>
							<div class="before-count-content">
								<span>TOTAL USERS</span>
							</div>
						</div>
						<div class='col-md-4 gridCard-image grid-margin-top'>
							<img alt='DATA_SOURCE'
								src="../../styles/images/landingImg/users.png" class='ds-img'
								width="100%" />
						</div>
					</div>
					<div class="col-md-12 group" ng-if="details.name == 'feedback'"
						ng-click="clickFeedbackDetails();">
						<div class='col-md-8 gridCard-title'
							style="margin-top: 0; margin-left: 0;">
							<h2 class="grid-tit count-css">{{details.count}}</h2>
							<div class="before-count-content">
								<span>FEEDBACK</span>
							</div>
						</div>
						<div class='col-md-4 gridCard-image grid-margin-top'>
							<img alt='DATA_SOURCE'
								src="../../styles/images/landingImg/connections.png"
								class='ds-img' width="100%" />
						</div>
					</div>
					<div class="col-md-12 group" ng-if="details.name == 'api'"
						ng-click="clickAPIDetails();">
						<div class='col-md-8 gridCard-title'
							style="margin-top: 0; margin-left: 0;">
							<h2 class="grid-tit count-css">{{details.count}}</h2>
							<div class="before-count-content">
								<span>API</span>
							</div>
						</div>
						<div class='col-md-4 gridCard-image grid-margin-top'>
							<img alt='DATA_SOURCE'
								src="../../styles/images/landingImg/solutions.png"
								class='ds-img' width="100%" />
						</div>
					</div>
					<div class="col-md-12 group" ng-if="details.name == 'Pii'"
						ng-click="clickPIIDetails();">
						<div class='col-md-8 gridCard-title'
							style="margin-top: 0; margin-left: 0;">
							<h2 class="grid-tit count-css">{{details.count}}</h2>
							<div class="before-count-content">
								<span>PII</span>
							</div>
						</div>
						<div class='col-md-4 gridCard-image grid-margin-top'>
							<img alt='DATA_SOURCE'
								src="../../styles/images/landingImg/data_groups.png"
								class='ds-img' width="100%" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-12">
		<div class="table-dynamic">
			<!--  | limitTo:5 -->
			<div ng-if="userData.length > 0" ng-show="userData">						
				<div class="activityTable" id="activityTableData">
					<table class="table table-striped">
						<thead>
						    <tr>
								<td class="fontBlack"><b>#</b></td>
								<td class="fontBlack" ><b>User Name</b></td>
								<td class="fontBlack"><b>User Group</b></td>
								<!-- <td class="fontBlack"><b>Modified On</b></td>
								<td class="fontBlack"><b>Modified By</b></td> -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in userData track by $index">
								<td>{{$index + 1}}</td>
								<td>{{obj.firstName + " " + obj.lastName}}</td>
								<td>{{obj.groupName}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="feedbackObj.length > 0" ng-show="feedbackData">						
				<div class="activityTable" id="activityTableData">
					<table class="table table-striped">
						<thead>
						    <tr>
								<td class="fontBlack"><b>#</b></td>
								<td class="fontBlack" ><b>Title</b></td>
								<td class="fontBlack"><b>Feedback</b></td>
								<td class="fontBlack"><b>User Name</b></td>
								<!-- <td class="fontBlack"><b>Modified By</b></td> -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in feedbackObj track by $index">
								<td width="10%">{{$index + 1}}</td>
								<!-- <td>{{obj.firstName + " " + obj.lastName}}</td> -->
								<td width="20%">{{obj.question}}</td>
								<td width="60%">{{obj.answer}}</td>
								<td width="10%">{{obj.unqUserId}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="projectObj.length > 0" ng-show="projectData">						
				<div class="activityTable" id="activityTableData">
					<table class="table table-striped">
						<thead>
						    <tr>
								<td class="fontBlack"><b>#</b></td>
								<td class="fontBlack" ><b>ProjectName</b></td>
								<td class="fontBlack"><b>Description</b></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in projectObj track by $index">
								<td width="10%">{{$index + 1}}</td>
								<td width="20%">{{obj.projectName}}</td>
								<td width="50%">{{obj.description}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="fieldData.length > 0" ng-show="piiData">
				<div class="activityTable" id="activityTableData">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><div class="th">#</div></th>
								<th><div class="th">Field name</div></th>
								<th><div class="th">Data type</div></th>
								<th><div class="th">Format</div></th>
								<th><div class="th">Description</div></th>
								<th><div class="th">Key</div></th>
								<th><div class="th">PII</div></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="fm in fieldData track by $index">
								<td>{{$index + 1}}</td>
								<td><span>{{fm.fieldName}}</span></td>
								<td><span>{{fm.fieldDataType}}</span></td>
								<td><span>{{fm.format}}</span></td>
								<td><span>{{fm.descriptions}}</span></td>
								<td><span>{{fm.key | convertToBooleanToYesNo}}</span></td>
								<td><span>{{fm.pIIId | convertToBooleanToYesNo}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="apiList.length > 0" ng-show="apiData">
				<div class="activityTable" id="activityTableData">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><div class="th">#</div></th>
								<th><div class="th">DS name</div></th>
								<th><div class="th">Created By</div></th>
								<th><div class="th">API Key</div></th>
								<th><div class="th">API Status</div></th>
								<th><div class="th">Created on</div></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="fm in apiList track by $index">
								<td>{{$index + 1}}</td>
								<td><span>{{fm.dataSourceName}}</span></td>
								<td><span>{{fm.createdBy}}</span></td>
								<td><span>{{fm.apiKey}}</span></td>
								<td><span>{{fm.status}}</span></td>
								<td><div ng-if="fm!=undefined || fm!=null">
									<label class="switch toggle-btn" style="top: 0px !important;">
										<input type="checkbox" ng-checked="fm.status=='1'"
										ng-model="tglBtn" ng-disabled="true">
										<div class="slider round disabledIcon"></div>
									</label>
								</div></td>
								<td><span>{{fm.createdDate | date : 'medium'}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>