<style>
.tableAlign {
	border-bottom: 0 none !important;
	border-left: 0 none !important;
	border-right: 1px solid #ddd !important;
	display: table-cell;
	min-width: 148px;
}
</style>

<!-- <div class="modal-header">
	<h3 class="data-profile-header">Data Profile</h3>
</div> -->
<div class="row" style="padding: 8px;">
	<div class="col-sm-12"></div>
</div>
<div class="modal-body modal-body-padding">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-profile">
				<div class="panel mini-box bg-info panel-height">
					<div class="box-info col-md-9 ">
						<span class="box-icon bg-primary box-icon-data"> <i
							class="fa fa-database fa-0x" style="padding-top: 5px !important;"></i>
						</span>
						<div class="box-info">
							<font color="white" class="size-h3 ng-binding">
								{{drName}}<!-- -{{profileType}} --></font>
							<p class="" style="color: white;">Created at_
								:{{dataRefreshDate | date : 'medium'}}</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="record-countHeading">
							<p class="text-right">Record count:</p>
						</div>
						<div class="record-countData">
							<p clss="text-right">{{recordCount}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<ul class="list-unstyled padTab">
		<li><a href='' ng-click="openPreAndPostDataProfiling('PreProf');"
			class=' custFont anchorU {{isProfile == "Pre" ? "activeTab" : ""}}'>Pre
				profiling</a>
		<li class="bCrumb"><a href=''
			ng-click="openPreAndPostDataProfiling('PostProf');"
			class=' custFont anchorU {{isProfile == "Post" ? "activeTab" : ""}}'>Post
				profiling</a></li>
	</ul>
	<div class="col-md-12">&nbsp;</div>
	<div class="panel-body" ng-show="profileShow">
		<div class="col-md-12 modal-body-padding">
			<div class="col-md-2">
				<div class="dataProfileSummary" ng-click="dataProfile('data');"
					ng-class="{'data-profile-summary-active': isActive == 'data'}">1
					Data profile summary</div>
			</div>
			<div class="col-md-2">
				<div class="valueFequency" ng-click="dataProfile('value1');"
					ng-class="{'valueFequency-active': isActive == 'value1'}">2
					Value frequency</div>
			</div>
		</div>
		<div class="col-md-12">&nbsp;</div>
		<div class="col-md-12">
			<div ng-show="dataprofiledata">
				<section class="panel panel-default">
					<div class="panel-heading lan-heading">
						<strong><span class="glyphicon glyphicon-th"></span> Data
							profile summary </strong>
					</div>
					<div class="panel-body">
						<div class="table-responsive" style="overflow-x: hidden;">
							<table
								class="table table-striped table-bordered margin fixed-header">
								<thead>
									<tr>
										<th class="text-right data-header-font tableAlign"><b>Field
												name<!-- > -->
										</b></th>
										<th class="data-header-font tableAlign"
											ng-repeat="header in headerFields"><b>{{header.fieldName}}</b></th>
									</tr>
									<tr>
										<th class="text-right data-header-font tableAlign">Data
											type <!-- > -->
										</th>
										<th class="data-header-font tableAlign"
											ng-repeat="header in headerFields">{{header.fieldType}}</th>
									</tr>
								</thead>
								<tbody style="height: 200px; overflow-y: scroll;">
									<tr ng-repeat="row in rows">
										<td class="tableAlign">{{row.rowName}}</td>
										<td ng-repeat="field in row.fields"
											class="data-pro-fonts tableAlign">{{field.fieldValue}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="myRow" ng-show="valueFrequencydata">
			<span ng-repeat="myRow in countfields.rows">
				<div class="col-md-12" style="background-color: rgb(246, 246, 246); color: rgb(118, 118, 118); height: 42px; padding-left: 0;">
					<div class="col-md-3">
						<strong><span class="glyphicon glyphicon-th"
							style="padding-top: 12px; font-size: 14px;"></span> Value
							frequency summary </strong>
					</div>
				</div> <span class="col-md-12" style="margin-top: 14px;"></span>
				<div class="col-md-12 mar-tabltop">

					<div class="col-md-12 text-right">
						<span>Distinct count :</span> <span class="count-value">{{myRow.fields.length}}</span>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div>
							<section class="panel panel-default">
								<div class="panel-heading lan-heading">
									<b>Field name:</b>myRow.fieldName <span class="fR"> <b>Field
											type:</b>{{myRow.type}}
									</span>
								</div>
								<div class="panel-body">
									<div class="table-responsive" style="overflow-x: hidden;">
										<table class="table table-striped table-bordered">
											<tbody>
												<tr>
													<td>#</td>
													<td>Value</td>
													<td>Frequency</td>
												</tr>
												<tr ng-repeat="rowdata in myRow.fields track by $index">
													<td>{{$index+1}}</td>
													<td>{{rowdata.fieldName}}</td>
													<td class="data-pro-fonts">{{rowdata.fieldValue |
														number:0}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="ok-btn">
			<button type="button" class="btn btn-w-md btn-gap-v btn-primary"
				ng-click="closefun()">Okay</button>
		</div>
	</div>
</div>