<div class="modal-header">
	<h3>Configure dropbox details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
        <div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Access Token</label>
				</div>
				<div class="col-sm-6">
					<input type="text" ng-disabled='disable || disabled' class="form-control"
						ng-model="dropbox.accessToken" required placeholder="Access Token">
				</div>
			</div>
		</div>

		 <div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<a href="javascript:;" style="float: right;"
						ng-click="getFolderList(dropbox.accessToken)">
						Get Folder </a>
				</div>
			</div>
		</div>

		<div class="form-group"
			ng-if="foldersList != undefined && foldersList != null && foldersList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Delimeter</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="externalData.delimeter" required placeholder="Delimeter">
				</div>
			</div>
		</div>
		
		<div class="form-group"
			ng-if="foldersList != undefined && foldersList != null && foldersList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Optionally enclosed in double quotes ?</label>
				</div>
				<div class="col-sm-6">
					<input type="checkbox" class="toggle-task"
						ng-model="dropbox.optionallyEnclosedInDoubleQuotes">
				</div>
			</div>
		</div>

		<div class="form-group"
			ng-if="foldersList != undefined && foldersList != null && foldersList.length > 0">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Sub list</label>
				</div>
				<div class="col-sm-9">
					<ol class="breadcrumb">
						<li
							ng-repeat="values in dropbox.hierarchyInfo"><a
							href="javascript:;" ng-click="popRecords($index)">{{values.name}}</a>
							</li>
					</ol>
				</div>
				<div class="col-sm-3">
					  <label>Path</label>
			    </div>
			    <div>
					<label ng-repeat="values in dropbox.hierarchyInfo">
						<a href="javascript:;" ng-click="popRecords($index)">
							{{values.name}}
						</a>
						<b>   / </b>
					</label>
					
				</div>
			</div>
		</div>
	</form>
	
	<table style="width: 100%; padding-left: 0px; padding-right: 0px;"
		ng-if="foldersList != undefined">
		<tr style="height: 30px;">
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7"
				style="text-align: center; width: 3%">#</th>
			<th class="rightBorderTr paddinSet" style="width: 30%;"
				bgcolor="#D7D7D7">Name</th>
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7">Path</th>
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7">Icon Name</th>
			<th class="rightBorderTr paddinSet" bgcolor="#D7D7D7">Last modified</th>
		</tr>
		<tr ng-repeat="structure in foldersList">
			<td align="center"><input type="checkbox"
				ng-init='checkBox = dropbox.selectedFolder != null ? structure.path == dropbox.selectedFolder.path: false'
				ng-model="checkBox" ng-change="selectedFilesOrFolder(structure);"
				class="toggle-task"></td>
			<td class="paddinSet"><i class="fa fa-folder"
				ng-if='structure.type =="Folder"' aria-hidden="true"></i> <i
				class="fa fa-file-text" ng-if='structure.type =="FILE"'
				aria-hidden="true"></i> <a href="javascript:;"
				ng-click="getFolderDetails(structure, structure.path)">{{structure.name}}</a></td>
			<td class="paddinSet">{{structure.path}}</td>
			<td class="paddinSet">{{structure.iconName}}</td>
			<td class="paddinSet">{{structure.fileLastModified}}</td>
		</tr>
	</table> 
</div>
<div class="modal-footer">
     
	<button class="btn btn-primary" ng-click="saveDropboxDetails()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>