<div class="modal-header">
	<h4>Warning of Field mapping change</h4>
</div>
<div class="modal-body footerMargin">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="paddingTop">
					<label ng-if="from=='D' && statusFileTypeMatch===0">Field mapping version is miss match. You can
						continue with Load strategy - 'Replace All'</label>
					<label ng-if="statusFileTypeMatch===1 && from=='D'">Ingestion type is different. You can
						continue with Load strategy - 'Replace All'</label>	
					<label ng-if="from=='S'">Field mapping version is miss match. Can not restore</label>
					<label ng-if="from=='H'">Field mapping version is miss match. Can not Activate instance.</label>	
				</div>
			</div>
		</div>
		
		<div class="col-md-12 panel-default fieldMappingWarning-body noMarginTop">
		<div class="col-md-6" >
			<div class="panel panel-default">
				<div class="panel-heading textCaptial"  style="text-transform: capitalize;">
					<strong> <span class="glyphicon glyphicon-th"></span>
						Existing field mappings
					</strong>
				</div>
				<div class="panel-body scroll1">
					<table class="table table-striped table-bordered margin">
						<tbody>
							<tr>
								<th>Sr no.</th>
								<th>Field name</th>
								<th>Field type</th>
								<th>Date format</th>

							</tr>
							<tr
								ng-repeat="existingFieldMapping in existingFieldMappings track by $index">

								<td>{{$index+1}}</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.fieldName != newFieldMappings[$index].fieldName}">{{existingFieldMapping.fieldName}}</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.fieldDataType != newFieldMappings[$index].fieldDataType}" ng-if="existingFieldMapping.fieldDataType != 'DECIMAL'">{{existingFieldMapping.fieldDataType}}</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.fieldDataType != newFieldMappings[$index].fieldDataType}" ng-if="existingFieldMapping.fieldDataType == 'DECIMAL'">{{existingFieldMapping.fieldDataType}}({{existingFieldMapping.precision}},{{existingFieldMapping.scale}})</td>
								<td
									ng-class="{'fieldMappingWarning': existingFieldMapping.format != newFieldMappings[$index].format}">{{existingFieldMapping.format}}</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading textCaptial" style="text-transform: capitalize;">
					<strong> <span class="glyphicon glyphicon-th"></span> New
						field mappings
					</strong>
				</div>
				<div class="panel-body  scroll1">
					<table class="table table-striped table-bordered margin">
						<tbody>
							<tr>
								<th>Sr no.</th>
								<th>Field name</th>
								<th>Field type</th>
								<th>Date format</th>

							</tr>
							<tr
								ng-repeat="newFieldMapping in newFieldMappings track by $index">
								<td>{{$index+1}}</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.fieldName != existingFieldMappings[$index].fieldName}">{{newFieldMapping.fieldName}}</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.fieldDataType != existingFieldMappings[$index].fieldDataType}" ng-if="newFieldMapping.fieldDataType != 'DECIMAL'">{{newFieldMapping.fieldDataType}}</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.fieldDataType != existingFieldMappings[$index].fieldDataType}" ng-if="newFieldMapping.fieldDataType == 'DECIMAL'">{{newFieldMapping.fieldDataType}}({{newFieldMapping.precision}},{{newFieldMapping.scale}})</td>
								<td
									ng-class="{'fieldMappingWarning': newFieldMapping.format != existingFieldMappings[$index].format}">{{newFieldMapping.format}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Ok</button>
	<button ng-show="showFieldMappingsHideBtn" class="btn btn-primary" ng-click="viewFieldMapping()">{{showFieldMappings?"Hide Field Mapping":"View
		Field Mapping"}}</button>
</div>