<div class="modal-header">
	<h3>Configure FacebookPage details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Facebook Data</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="facebookPage.facebookDataType"
						ng-model="facebookPage.facebookDataType" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="Info">Basic Info</option>
							<option value="Feed">FEEDS</option>

					</select>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Enter Page Name</label>
				</div>
				<div class="col-sm-8"
					style="padding-left: 12px; padding-right: 0px;">
					<textarea id="pagesName" style="height: {{myCssApply"
						class="form-control ng-pristine ng-valid"
						name="facebookPage.facebookPageName" rows='{{rowSize}}'
						ng-model="facebookPage.facebookPageName"
						placeholder="Enter Pages With New Line" required></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Delimeter</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="externalData.delimeter" required placeholder="Delimeter">
				</div>
			</div>
		</div>
	</form>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveFacebookData()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>