<div class="modal-header bdNone">
	<h3>{{datasource.dataSourceName}}</h3>
</div>
<div class="modal-body paddingNone">
	<div class="form-horizontal">
		<div class="col-sm-2 mgNone paddingNone">
			<section class="panel panel-default bdBotttmNone">
				<div class="panel-heading lan-heading">
					<h3 class="panel-title">Current data source fields</h3>
				</div>
				<div class="panel-body pdTpBd inputOutPutFieldList">
					<div ng-repeat="individualFields in datasource.fieldMappings">
						<div class="form-group alginFieldValue bdBotttm"
							ng-if="individualFields.derivedFieldInd === false">
							<div class="form-control BdNone">
								<span
									class="outPutFieldAlign alignInputOutPutField col-sm-10 paddingLeftRightNone"
									ng-click="onselectInputFields($index);">
									{{individualFields.fieldName}} </span> <span
									ng-if="individualFields.fieldDataType == 'STRING'" class="">
									<i class="glyphicon fa-textImg" style="float: right;"></i>
								</span> <span
									ng-if="individualFields.fieldDataType == 'INTEGER' || individualFields.fieldDataType == 'Integer'">
									<i class="glyphicon fa-intImg" style="float: right;"></i>
								</span> <span
									ng-if="individualFields.fieldDataType == 'Date' || 'DATE' ==  individualFields.fieldDataType"
									class="rightAlign"> <i class="fa fa-calendar"></i>
								</span><span
									ng-if="individualFields.fieldDataType == 'TIMESTAMP' || 'Timestamp' ==  individualFields.fieldDataType"
									class="rightAlign"> <i class="fa-timeStampIcon"></i>
								</span><span
									ng-if="individualFields.fieldDataType == 'DOUBLE' || 'Double' ==  individualFields.fieldDataType"
									class="rightAlign"> <i class="glyphicon fa-doubleImg"></i>
								</span><span
									ng-if="individualFields.fieldDataType == 'LONG' || 'Long' ==  individualFields.fieldDataType"
									class="rightAlign"> <i class="glyphicon fa-LongImg"></i>
								</span><span
									ng-if="individualFields.fieldDataType == 'BOOLEAN' || 'Boolean' ==  individualFields.fieldDataType"
									class="rightAlign"> <i class="glyphicon fa-booleanImg"></i>
								</span>
							</div>
						</div>
					</div>


					<div class="form-group panel panel-default bdBotttmNone">
						<div class="panel-heading lan-heading">
							<h3 class="panel-title">Input parameters</h3>
						</div>
					</div>
					<div ng-repeat="individualFields in dsLevelParam">
						<div class="form-group alginFieldValue bdBotttm">
							<div class="form-control BdNone">
								<span
									class="outPutFieldAlign alignInputOutPutField col-sm-10 paddingLeftRightNone"
									ng-click="onselectInputParameter($index);">
									{{individualFields.paramName}}</span> <span
									ng-if="individualFields.paramType == 'String' || 'STRING' == individualFields.paramType"><i
									class="glyphicon fa-textImg" style="float: right;"></i> </span> <span
									ng-if="individualFields.paramType == 'INTEGER' || individualFields.paramType == 'Integer'">
									<i class="glyphicon fa-intImg" style="float: right;"></i>
								</span> <span
									ng-if="individualFields.paramType == 'Date' || 'DATE' ==  individualFields.paramType "
									class="rightAlign"> <i class="fa fa-calendar"></i>
								</span><span
									ng-if="individualFields.paramType == 'TIMESTAMP' || 'Timestamp' ==  individualFields.paramType"
									class="rightAlign"> <i class="fa-timeStampIcon"></i>
								</span><span
									ng-if="individualFields.paramType == 'DOUBLE' || 'DOUBLE' ==  individualFields.paramType"
									class="rightAlign"> <i class="glyphicon fa-doubleImg"></i>
								</span><span
									ng-if="individualFields.paramType == 'LONG' || 'Long' ==  individualFields.paramType"
									class="rightAlign"> <i class="glyphicon fa-longImg"></i>
								</span><span
									ng-if="individualFields.paramType == 'BOOLEAN' || 'Boolean' ==  individualFields.paramType"
									class="rightAlign"> <i class="glyphicon fa-booleanImg"></i>
								</span>
							</div>
						</div>
					</div>

				</div>
			</section>
		</div>
		<div class="col-sm-7 mgNone paddingNone">
			<section class="panel panel-default bdBotttmNone"
				ng-init="selectValues = [];">
				<div class="panel-heading lan-heading">
					<h3 class="panel-title">Create new fields</h3>
				</div>
				<div class="panel panel-default  overflowProcess" 
					id="dateTimePickerRemoveScrollNode"
					style="height: 499px; max-height: 499px;">
					<div class="panel-body">
						<div class="col-md-12 noteCss comments" role="alert">
							<span ng-bind-html="explanation['addVarHeader'] | unsafe"></span>
						</div>
						<div id="tabs" ng-controller="fieldAddTabsCtrl" class="tabwidth">
							<tabset> <tab ng-click="onTabClick(tabs)"
								class="addCursor" active="tabs.active"
								ng-repeat="tabs in fieldAddTabs" heading="{{tabs.title}}"
								disabled="{{tabs.disabled}}">
							<div ng-include="currentTab"></div>
							</tab> </tabset>
							<div class="marginCont">
								<div class="col-sm-12">&nbsp;</div>
								<div class="col-sm-12 sample-show-hide"
									ng-show="addVariableDropDown == 'Math'">
									<div class="panel panel-default" class="form-group">
										<div class="panel-heading lan-heading">
											<h3 class="panel-title">Assign math value</h3>
										</div>
										<br/>
											<div class="col-md-12 noteCss comments" role="alert">
												<span ng-bind-html="explanation['mathHeader'] | unsafe"></span>
											</div>
											
											<div ng-include src='"views/template/addExpressionContent.html"'></div>
									</div>
								</div>
								<div class="col-sm-12 sample-show-hide"
									ng-show="addVariableDropDown == 'binning'">
									<div class="panel panel-default" class="form-group">
										<div class="panel-heading lan-heading">
											<h3 class="panel-title">Assign binning value</h3>
										</div>
										<div class="panel-body">
											<div class="col-md-12 noteCss" role="alert"
												style="margin-left: 2px; margin-right: 2px;">
												<span ng-bind-html="explanation['binningHeader'] | unsafe"></span>
											</div>
											<div class="form-container">
												<form name="addBinningVariableForm" class="form-horizontal"
													data-ng-submit="onAddFixedVariableValue(addVarMath.selectBinningDataType,addVarMath.binningVariableName,bin.binningFieldValue,'add_var_binning',rangeElse, addVarMath.binningType);">
													<div class="dl-horizontal">
														<label class="ui-radio"><input type="radio"
															value="range" ng-model="addVarMath.binningType"
															class="radioButtonChanges"><span>Range</span></label> <label
															class="ui-radio"><input type="radio"
															value="value" ng-model="addVarMath.binningType"
															class="radioButtonChanges"><span>Value</span></label>
													</div>
													<div class="col-sm-12">&nbsp;</div>
													<div class="form-group">
														<div class="col-sm-4">
															<input type="text" class="form-control"
																ng-model="addVarMath.binningVariableName"
																placeholder="Variable Name" required />
														</div>
														<div class="col-sm-4">
															<select ng-model="addVarMath.selectBinningDataType"
																class="form-control" required>
																<option value="">Data type</option>
																<option value="Date">Date</option>
																<option value="TIMESTAMP">Timestamp</option>
																<option value="STRING">String</option>
																<!-- <option value="NUMERIC">Numeric</option> -->
																<option value="INTEGER">Integer</option>
																<option value="LONG">Long</option>
																<option value="DOUBLE">Double</option>
																<option value="BOOLEAN">Boolean</option>
															</select>
														</div>
														<div class="col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<label class="dl-horizontal">Binning field</label>
														</div>
														<div ng-switch on="addVarMath.binningType">
															<div class="col-sm-6" ng-switch-default>
																<select
																	ng-options="item.filedName for item in binningFields track by item.filedName"
																	class="form-control" ng-model="bin.binningFieldValue"
																	ng-change="onchangeBinningField(bin.binningFieldValue);"
																	required>
																	<option value="">Field</option>
																</select>
															</div>
															<div class="col-sm-6" ng-switch-when="range">
																<select
																	ng-options="item.filedName for item in binningFieldsRange track by item.filedName"
																	class="form-control" ng-model="bin.binningFieldValue"
																	ng-change="onchangeBinningField(bin.binningFieldValue);"
																	required>
																	<option value="">Field</option>
																</select>
															</div>
															<div class="col-sm-6" ng-switch-when="value">
																<select
																	ng-options="item.filedName for item in binningFields track by item.filedName"
																	class="form-control" ng-model="bin.binningFieldValue"
																	ng-change="onchangeBinningField(bin.binningFieldValue);"
																	required>
																	<option value="">Field</option>
																</select>
															</div>
														</div>
														<div class="col-sm-12">&nbsp;</div>
														<div class="col-sm-12"
															ng-if="addVarMath.binningType == 'range' || addVarMath.binningType == 'value'">
															<label class="dl-horizontal"></label>
															<div ng-repeat="ranges in binningRanges">
																<div class="form-group">
																	<div ng-switch on="binningRangesVariableTypes">
																		<div class="animate-switch" ng-switch-when="DATE">
																			<div class="col-sm-3">
																				<input type="text" value="" class="form-control"
																					ng-model="ranges.from" placeholder="From" required
																					calender />
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<input type="text" calender value="ranges.to"
																					class="form-control" ng-model="ranges.to"
																					placeholder="to" required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="TIMESTAMP">
																			<div class="col-sm-3">
																				<div class='input-group date'>
																					<input type='text' class="form-control"
																						datetimepicker placeholder="From"
																						ng-model="ranges.from" />
																				</div>
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<div class='input-group date'>
																					<input type='text' class="form-control"
																						datetimepicker placeholder="To"
																						ng-model="ranges.to" />
																				</div>
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="INTEGER">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.from" placeholder="From"
																					step="0.0001" required />
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<input type="number" value="ranges.to"
																					class="form-control" ng-model="ranges.to"
																					placeholder="to" step="0.0001" required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="LONG">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.from" placeholder="From"
																					step="0.0001" required />
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<input type="number" value="ranges.to"
																					class="form-control" ng-model="ranges.to"
																					placeholder="to" step="0.0001" required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="DOUBLE">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.from" placeholder="From"
																					step="0.0001" required />
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<input type="number" value="ranges.to"
																					class="form-control" ng-model="ranges.to"
																					placeholder="to" step="0.0001" required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="BOOLEAN">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.from" placeholder="From"
																					step="0.0001" required />
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<input type="number" value="ranges.to"
																					class="form-control" ng-model="ranges.to"
																					placeholder="to" step="0.0001" required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-default>
																			<div class="col-sm-3">
																				<input type="text" value="" class="form-control"
																					ng-model="ranges.from" placeholder="From" required />
																			</div>
																			<div class="col-sm-3" ng-if="addVarMath.binningType != 'value'">
																				<input type="text" value="ranges.to"
																					class="form-control" ng-model="ranges.to"
																					placeholder="to" required />
																			</div>
																		</div>
																	</div>
																	<div ng-switch on="addVarMath.selectBinningDataType">
																		<div class="animate-switch" ng-switch-when="Date">
																			<div class="col-sm-3">
																				<input type="text" value="" class="form-control"
																					ng-model="ranges.label" placeholder="value"
																					required calender />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="TIMESTAMP">
																			<div class="col-sm-3">
																				<div class='input-group date'>
																					<input type='text' class="form-control"
																						datetimepicker placeholder="Value"
																						ng-model="ranges.label" />
																				</div>
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="INTEGER">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.label" placeholder="value"
																					required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="LONG">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.label" placeholder="value"
																					required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="DOUBLE">
																			<div class="col-sm-3">
																				<input type="number" value="" class="form-control"
																					ng-model="ranges.label" placeholder="value"
																					required />
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-when="BOOLEAN">
																			<div class="col-sm-3">
																				<!-- <input type="text" value="" class="form-control"
																			ng-model="ranges.label" placeholder="value" required /> -->
																				<select ng-model="ranges.label" class="form-control"
																					required>
																					<option value="">Select value</option>
																					<option value="TRUE">True</option>
																					<option value="FALSE">False</option>
																				</select>
																			</div>
																		</div>
																		<div class="animate-switch" ng-switch-default>
																			<div class="col-sm-3">
																				<input type="text" value="" class="form-control"
																					ng-model="ranges.label" placeholder="value"
																					required />
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-3 marginTop7">
																		<div class="space"></div>
																		<span class="glyphicon glyphicon-trash movOpField"
																			ng-click="deleteRange($index)"
																			ng-show="binningRanges.length != $index + 1"></span>
																		<label class="glyphicon glyphicon-plus movOpField"
																			ng-click="addRange($index,$parent.$index,showMe)"
																			ng-show="binningRanges.length == $index + 1">
																		</label>
																	</div>
																</div>
															</div>
															<div class="col-md-10 paddingNone">
																<input type="text" ng-model="binningOnElse.rangeElse"
																	class="form-control" placeholder="Else" required />
															</div>
														</div>
														<div class="col-md-12">&nbsp;</div>
														<div class="col-md-12">
															<div class="col-sm-6">&nbsp;</div>
															<div class="col-sm-4 text-right line_css">
																<button type="submit" class="btn btn-primary">Add
																	variable</button>
															</div>
															<div class="col-sm-2 text-right">
																<button type="button" class="btn btn-default"
																	ng-click="clearScopeVariables('add_var_binning');">Clear</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 sample-show-hide"
									ng-show="addVariableDropDown == 'Fixed Value'">
									<div class="panel panel-default" class="form-group">
										<div class="panel-heading lan-heading">
											<h3 class="panel-title">Assign fixed value</h3>
										</div>
										<div class="panel-body">
											<div class="col-md-12 noteCss comments" role="alert">
												<span ng-bind-html="explanation['fixedHeader'] | unsafe"></span>
											</div>
											<div class="form-container">
												<form name="addFixedVariableForm" class="form-horizontal"
													data-ng-submit="onAddFixedVariableValue(addVarMath.selectDataType,addVarMath.outPutVariableName,periodModel.dataValue,'add_var_segment');">
													<div class="col-sm-4">
														<input type="text" value="" class="form-control"
															ng-model="addVarMath.outPutVariableName" placeholder="Variable Name"
															name="addVariable" required />
													</div>
													<div class="col-sm-4">
														<select ng-model="addVarMath.selectDataType" class="form-control"
															name="selectDataType" required
															ng-change="onChangeDataTypeValue(addVarMath.selectDataType);">
															<option value="">Data type</option>
															<option value="Date">Date</option>
															<option value="TIMESTAMP">Timestamp</option>
															<option value="STRING">String</option>
															<!-- <option value="NUMERIC">Numeric</option> -->
															<option value="INTEGER">Integer</option>
															<option value="LONG">Long</option>
															<option value="DOUBLE">Double</option>
															<option value="BOOLEAN">Boolean</option>
														</select>
													</div>
													<div class="col-sm-4">
														<div ng-switch on="addVarMath.selectDataType">
															<div class="animate-switch" ng-switch-when="Date">
																<input type="text" calender value=""
																	class="form-control"
																	data-ng-model="periodModel.dataValue"
																	placeholder="Fixed Value" required name="segmentName" />
															</div>
															<div class="animate-switch" ng-switch-when="TIMESTAMP">
																<div class='input-group date'>
																	<input type='text' class="form-control" datetimepicker  
																	placeholder="Fixed Value"
																	ng-model="periodModel.dataValue"/>
																</div>
															</div>
															<div class="animate-switch" ng-switch-when="INTEGER">
																<input type="number" value="" class="form-control"
																	ng-model="periodModel.dataValue"
																	placeholder="Fixed Value" required />
															</div>
															<div class="animate-switch" ng-switch-when="LONG">
																<input type="number" value="" class="form-control"
																	ng-model="periodModel.dataValue"
																	placeholder="Fixed Value" required />
															</div>
															<div class="animate-switch" ng-switch-when="DOUBLE">
																<input type="number" step="any" value=""
																	class="form-control" ng-model="periodModel.dataValue"
																	placeholder="Fixed Value" required />
															</div>
															<div class="animate-switch" ng-switch-when="BOOLEAN">
																<!-- <input type="text" step="any" value=""
															class="form-control" ng-model="periodModel.dataValue"
															placeholder="Fixed Value" required /> -->
																<select ng-model="periodModel.dataValue"
																	class="form-control" required>
																	<option value="">Select value</option>
																	<option value="TRUE">True</option>
																	<option value="FALSE">False</option>
																</select>
															</div>
															<div class="animate-switch" ng-switch-when="STRING">
																<input type="text" value="" class="form-control"
																	ng-model="periodModel.dataValue"
																	placeholder="Fixed Value" required />
															</div>
															<div class="animate-switch" ng-switch-default></div>
														</div>
													</div>
													<div class="col-sm-12">&nbsp;</div>
													<div class="col-sm-2 text-right" style="float: right;">
														<button type="button"
															ng-click="clearScopeVariables('add_var_segment');"
															class="btn btn-default">Clear</button>
													</div>
													<div class="col-sm-3 text-right line_css"
														style="float: right;">
														<button type="submit" class="btn btn-default">Add
															variable</button>
													</div>
												</form>
											</div>
											<div class="col-sm-12">&nbsp;</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-sm-5" style="margin-top: 20px">
							<select ng-model="addVariableDropDown" class="form-control"
								ng-change="onChangeAddVariable(addVariableDropDown);">
								<option value="">Select variable type</option>
								<option value="Fixed Value">Fixed</option>
								<option value="Math">Mathematical expression</option>
								<option value="binning">Binning</option>
							</select>
						</div> -->
					</div>
				</div>
			</section>
		</div>
		<div class="col-sm-3 mgNone paddingNone">
			<section class="panel panel-default bdBotttmNone">
				<div class="panel-heading lan-heading">
					<h3 class="panel-title">Added fields</h3>
				</div>
				<div ng-switch>
					<div class="panel-body pdTpBd inputOutPutFieldList">
						<div ng-repeat="individualFields in outPutFields">
							<div ng-repeat="inputContain in individualFields.fields"
								class="form-group alginFieldValue bdBotttm"
								ng-show="inputContain.pos >= 0  && selectedDataSourceValue == '' || selectedDataSourceValue == inputContain.sourceRefField.sourceLabel || inputContain.fieldSourceEnum == 'calculated'"
								style="word-wrap: break-word;">
								<div class="form-control BdNone">
									<div ng-if="inputContain.fieldSourceEnum == 'calculated'">
										<span
											class="alignInputOutPutField col-sm-5 paddingLeftRightNone fieldTypeCalculated"
											ng-click="onselectOutputFields($index)">
											{{inputContain.sourceRefField.sourceLabel}}.{{inputContain.fieldNameAlias}}</span>
									</div>
									<span ng-if="inputContain.fieldType == 'STRING'"
										class="rightAlign"> <i class="glyphicon fa-textImg"></i>
									</span> <span
										ng-if="inputContain.fieldType == 'DOUBLE' || inputContain.fieldType == 'Double'"
										class="rightAlign"> <i class="glyphicon fa-doubleImg"></i>
									</span><span
										ng-if="inputContain.fieldType == 'INTEGER' || inputContain.fieldType == 'Integer'"
										class="rightAlign"> <i class="glyphicon fa-intImg"></i>
									</span><span
										ng-if="'LONG' ==  inputContain.fieldType || 'Long' ==  inputContain.fieldType"
										class="rightAlign"> <i class="glyphicon fa-longImg"></i>
									</span> <span
										ng-if="inputContain.fieldType == 'Date' || 'DATE' ==  inputContain.fieldType"
										class="rightAlign"> <i class="fa fa-calendar"></i>
									</span> <span
										ng-if="inputContain.fieldType == 'boolean' || 'BOOLEAN' == inputContain.fieldType"
										class="rightAlign"> <i class="glyphicon fa-booleanImg"></i>
									</span> <span
										ng-if="inputContain.fieldType == 'TIMESTAMP' || 'timestamp' == inputContain.fieldType"
										class="rightAlign"> <i class="fa-timeStampIcon"></i>
									</span> 
									
									<span class="col-sm-3 rightAlign" ng-show="show != '3'">
										<i class="fa fa-arrow-circle-o-up movOpField"
										ng-click="swapFieldOrder($index,$parent.$index,'up');"></i> <i
										class="fa fa-arrow-circle-o-down movOpField"
										ng-click="swapFieldOrder($index,$parent.$index,'down');"></i>
									</span> <span ng-show="inputContain.fieldSourceEnum == 'calculated'"
										class="rightAlign"> <i class="fa fa-trash movOpField"
										ng-click="onDeleteFiled( $index , $parent.$index,inputContain.filedName);"></i>
										<i ng-if="show != '4' && show != '5'"
										class="fa fa-pencil-square-o movOpField"
										ng-click="onUpdateFieldValue($index , $parent.$index,'chan');setMode(true)"
										style="padding-left: 1px"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
			</section>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="createNewFields()">Okay</button>
		<button class="btn btn-warning" ng-click="cancelFields()">Cancel</button>
	</div>
</div>