<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4>
		<span class="fa fa-question-circle" style="color: #FFB61C;"></span>&nbsp;&nbsp;&nbsp;<b>Forgot password warning box</b>
	</h4>
</div>
<div class="modal-body">
	<form>
		<!-- Password rest warning box -->
		<div class="row">
			<div class="col-sm-12" style="margin-top: 5px;">
				<b>Please contact with admin</b>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>