<div class="modal-header">
	<h3>Configure Heckyl details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company Details</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="hackyl.companyDetails"
						ng-model="hackyl.companyDetails" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="1">LATEST NEWS</option>
							<option value="2">TRENDING NEWS</option>

					</select>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Entity Asset</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="hackyl.asset"
						ng-model="hackyl.asset" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="1">STOCK</option>
							<option value="2">FOREX</option>
							<option value="3">COMMODITY</option>

					</select>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Entity Type</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="hackyl.entityType"
						ng-model="hackyl.entityType" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="ISIN">ISIN</option>
							<option value="BSE">BSE</option>
							<option value="NSE">NSE</option>
							<option value="NYSE">NYSE</option>
							<option value="NASDAQ">NASDAQ</option>
							<option value="SECTOR">SECTOR</option>
					</select>
					</span>
				</div>
			</div>
		</div>
		
		
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Entity Code</label>
				</div>
				<div class="col-sm-8"
					style="padding-left: 12px; padding-right: 0px;">
					<textarea id="entityCode" style="height: {{myCssApply"
						class="form-control ng-pristine ng-valid"
						name="hackyl.entityCode" rows='{{rowSize}}'
						ng-model="hackyl.entityCode"
						placeholder="Enter Entity Code With New Line" required></textarea>
				</div>
			</div>
		</div>
	
	    
	    <div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Delimeter</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="externalData.delimeter" required placeholder="Delimeter">
				</div>
			</div>
		</div>
	</form>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveHackylData()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>