<div class="modal-header">
	<h4>
		<span></span>&nbsp;&nbsp;&nbsp;<b>Warning</b>
	</h4>
</div>
<div class="panel-body">
	<!-- For displaying values -->
	<div class="col-md-12">
		<div class="form-group" ng-if="componentType=='DATASOURCE'">This data source is used in following flows. A field mapping change will have an impact on them. Are you sure you want to continue?</div>
		<div class="form-group" ng-if="componentType=='NODE'">This node is used in following flows. A field mapping change will have an impact on them. Are you sure you want to continue? </div>
		<div class="scroll-100-px">
			<table class="table table-striped table-bordered margin">
				<tbody>
					<tr>
							<th>Sr No.</th>
							<th>Apps Name</th>

					</tr>
					<tr
						ng-repeat="appName in impactedAppsList track by $index">

						<td>{{$index+1}}</td>
						<td>{{appName}}</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal-footer loadConfirmFooterButton">
	
	<button class="btn btn-primary" ng-click="selectAction('true')">Yes</button>
	<button class="btn btn-warning" ng-click="selectAction('false')">No</button>
</div>