<div class="modal-header" ng-if="indicator == 'dataSource'">
	<h3>{{ds.dataSourceName}}</h3>
</div>
<div class="modal-header" ng-if="indicator == 'dataRepo'">
	<h3>{{dr[0].dataRepoName}}</h3>
</div>
<div class="form-horizontal">
	<!-- <div class="overflowProcess-hori"> -->
		<div class="modal-body">
			<table
				class="table table-bordered table-striped table-responsive table-repo">
				<tbody ng-if="indicator == 'dataSource'" class="maxLengthProp">
					<tr>
						<td><div class="th">Id</div></td>
						<td><div>{{ds.id}}</div></td>
					</tr>
					<tr>
						<td>
							<div class="th">Data source name</div>
						</td>
						<td><a href="javascript:;"><div
									ng-click="dataSourcePopup(ds.dataSourceName);">
									{{ds.dataSourceName}}</div></a></td>
					</tr>
					<tr>
						<td><div class="th">Data source group</div></td>
						<td><div>{{ds.dataRepoName}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Type</div></td>
						<td><div>{{ds.dataSourceType | contentType}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Created by</div></td>
						<td><div>{{(ds.createdBy == 'null' ? "" :
								ds.createdBy)}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Created on</div></td>
						<td><div>{{(ds.createdDate == 'null' ? "" :
								ds.createdDate)| date : 'medium'}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Last refreshed on</div></td>
						<td><div>{{(ds.updatedDate == 'null' ? "" :
								ds.updatedDate) | date : 'medium'}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Refreshed by</div></td>
						<td><div>{{(ds.lastRunBy == 'null' ? "" :
								ds.lastRunBy)}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Ingestion method</div></td>
						<td><div>{{ds.ingection == "quick" ? "BASIC" :
								ds.ingection == "typical" ? "ADVANCE" : ""}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Size</div></td>
						<td><div>{{ds.size | sizeConvert}}</div></td>
					</tr>
					<tr>
						<td><div class="th">Total records</div></td>
						<td><div>{{(ds.totalRecords == 'null' ? "" :
								ds.totalRecords)}}</div></td>
					</tr>
				</tbody>
				<tbody ng-if="indicator == 'dataRepo'">
					<tr ng-repeat="ds in dr">
						<td><a href="javascript:;"><div
									ng-click="dataSourcePopup(ds.dataSourceName);">
									{{ds.dataSourceName}}</div></a></td>
						<td><div>{{ds.dataRepoName}}</div></td>
						<td><div>{{ds.dataSourceType | contentType}}</div></td>
						<td><div>{{(ds.createdBy == 'null' ? "" :
								ds.createdBy)}}</div></td>
						<td><div>{{(ds.createdDate == 'null' ? "" :
								ds.createdDate)| date : 'medium'}}</div></td>
						<td><div>{{(ds.updatedDate == 'null' ? "" :
								ds.updatedDate) | date : 'medium'}}</div></td>
						<td><div>{{(ds.lastRunBy == 'null' ? "" :
								ds.lastRunBy)}}</div></td>
						<td><div>{{ds.ingection == "quick" ? "BASIC" :
								ds.ingection == "typical" ? "ADVANCE" : ""}}</div></td>
						<td><div>{{(ds.totalRecords == 'null' ? "" :
								ds.totalRecords)}}</div></td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-12 modal-body-padding"><font size="3px" color="#333">Dependent flows</font></div>
			<table class="table table-bordered table-striped table-responsive table-repo">
				<tbody ng-if="indicator == 'dataSource'" class="maxLengthProp">
					<tr>
						<td><div ng-repeat="item in dsUsedInAppName ">{{ item }}</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- </div> -->
</div>
<div class="modal-footer panelFooter">
	<button class="btn btn-primary" ng-click="dismissModel();">Okay</button>
</div>