<style>
#element_to_pop_up {
	background-color: #fff;
	display: none;
	min-width: 600px;
	position: fixed;
	z-index: 1070;
	opacity: 1.9;
	top: 31px;
	left: 27%;
}

#loadHtml {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 1070;
}
</style>
<div id="element_to_pop_up">
	<div class="modal-header" close="cancel()">
		<!-- <a class="close" id="close" data-ember-action="701">x</a> -->
		<h3 style="font-family: inherit;">Notification details</h3>
	</div>
	<br />
	<div class="panel-body" style="padding: 4px;">
		<div class="form-group">
			<div class="col-md-12 notification-text" id="modalData"></div>
			<!-- <pre ></pre> -->
		</div>
	</div>
	<br />
	<div class="modal-footer">
		<button class="btn btn-primary" id="closeBtn">Okay</button>
	</div>
</div>