<div class="modal-header">
	<h4>
		<b>Password about to expire</b>
	</h4>
</div>
<div class="modal-body">
	<form>
		<!-- Password rest warning box -->
		<div class="row">
			<div class="col-sm-12" style="margin-top: 5px;">
				<b>Your password is about to expire in {{days}} days. Consider changing it.</b>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="resetUserPassword()">Reset</button>
	<button class="btn btn-primary" ng-click="cancel()">Continue</button>
</div>