<div class="modal-header">
	<h3>Configure Probe42 details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company Details</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="companyDetails"
						ng-model="probe42.companyDetails" tooltip-placement="right"
						tooltip='' required
						ng-change="companyDetails(probe42.companyDetails)" >
							<option value="">Select Data Type</option>
							<option value="Company_Base_data">BASE DATA</option>
							<option value="Company_Financials">FINANCIALS</option>
							<option value="compliance">COMPLIANCE</option>
							<option value="Holding%2FSubsidiary_Companies">HOLDING/SUBSIDIARY</option>
							<option value="Company_Industry_Segments">INDUSTRY SEGMENTS</option>

					</select>
					</span>
				</div>
			</div>
		</div>
		
		<div class="form-group"
		ng-show='detailsType == "Company_Base_data"'>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company Base data</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="probe42.companyBaseData"
						ng-model="probe42.companyBaseData" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="companyDetails">COMPANY DETAILS</option>
							<option value="authorized-signatories">AUTHORIZED SIGNATORIES</option>
							<option value="charges">CHARGES</option>

					</select>
					</span>
				</div>
			</div>
		</div> 
		
		
		<div class="form-group"
		ng-show='detailsType == "Company_Financials"'>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company Financials</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="probe42.companyFinancials"
						ng-model="probe42.companyFinancials" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="financial-datastatus">FINANCIAL DATA STATUS</option>
							<option value="financials">COMPANY FINANCIALS</option>
							<option value="auditors">AUDITORS</option>

					</select>
					</span>
				</div>
			</div>
		</div>
		
	    <div class="form-group"
		ng-show='detailsType == "compliance"'>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company Compliance</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="probe42.companyCompliance"
						ng-model="probe42.companyCompliance" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="bifr-history">BIFR HISTORY</option>
							<option value="cdr-history">CDR HISTORY</option>
							<option value="defaulter-list">DEFAULTER LIST</option>
							<option value="legal-history">LEGAL HISTORY</option>
							<option value="credit-ratings">CREDIT RATINGS</option>

					</select>
					</span>
				</div>
			</div>
		</div>
		
		<div class="form-group"
		ng-show='detailsType == "Holding%2FSubsidiary_Companies"'>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Holding/Subsidiary Companies</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="probe42.companyHoldingSubsidiary"
						ng-model="probe42.companyHoldingSubsidiary" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="holding-companies">HOLDING COMPANIES</option>
							<option value="subsidiary-companies">SUBSIDIARY COMPANIES</option>
							
					</select>
					</span>
				</div>
			</div>
		</div>
		
		<div class="form-group"
		ng-show='detailsType == "Company_Industry_Segments"'>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company Industry Segments</label>
				</div>
				<div class="col-sm-8">
					<span class="ui-select" style="margin-left: -1px; width: 103.6%;">
						<select name="probe42.companyIndustrySegment"
						ng-model="probe42.companyIndustrySegment" tooltip-placement="right"
						tooltip='' required>
							<option value="">Select Data Type</option>
							<option value="industry-segments">INDUSTRY SEGMENTS</option>
							
					</select>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Company CIN No.</label>
				</div>
				<div class="col-sm-6"
					style="padding-left: 12px; padding-right: 0px;">
					<textarea id="CINCode" style="height: {{myCssApply"
						class="form-control ng-pristine ng-valid"
						name="probe42.companyCINNumber" rows='{{rowSize}}'
						ng-model="probe42.companyCINNumber"
						placeholder="Enter CIN Number With New Line" required></textarea>
				</div>
			</div>
		</div>
	    <div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Delimeter</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="externalData.delimeter" required placeholder="Delimeter">
				</div>
			</div>
		</div>
	</form>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveProbe42Data()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>