<style>
.node {
	/*stroke: #fff; */
	stroke: #555;
	stroke-width: 0.01px;
	cursor: pointer;
}

.node-active {
	stroke: #555;
	stroke-width: 1.5px;
	cursor: pointer;
	/*stroke-width: 1.5px;*/
}

.link {
	stroke: #555;
	/*stroke-opacity: .3;*/
	stroke-opacity: 0.3;
	cursor: pointer;
}

.link-active {
	stroke-opacity: 1;
	cursor: pointer;
}

.overlay {
	fill: none;
	pointer-events: all;
}

div.dag-tooltip {
	visibility: hidden;
	background: lightblue;
	border: solid #1C7EBB;
	position: absolute;
}

#map {
	border: 1px #555 dashed;
	width: 100%;
    height: 575px;
    padding-left: 8px;
    padding-right: 8px;
}
</style>

<div id="dagContainer" class="dagContainer" class="panel-body col-md-12">
	<div ds-dag data="dsDagData" id="map"></div>
</div>
<div id="dag-tooltip" class="dag-tooltip">Tipsy!</div>