<section class="table-dynamic">
	<div class="modal-header">
		<h3>{{node.name}}</h3>
	</div>
	<br>
	<div class="panel-heading lan-heading">
		<strong> <span class="glyphicon glyphicon-th"></span> Data
			fields
		</strong>
	</div>

	<!-- <div class="table-filters">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<form>
					<input type="text" placeholder="Search..." class="form-control"
						data-ng-model="searchKeywords" data-ng-keyup="search()">
				</form>
			</div>
			<div class="col-sm-3 col-xs-6 filter-result-info entries">
				<span> Showing {{currentPageStores.length}}/{{stores.length}}
					entries </span>
			</div>
		</div>
	</div> -->
	<div class="modal-body" style="overflow: auto; max-width: 1182px;">
		<table class="table table-bordered table-striped table-responsive">
			                                <thead>
                                    <tr ng-hide="datasource.fieldMappings.length == 0">
                                        <th><div class="th">
                                                #
                                        </div></th>
                                        <th ng-repeat="fm in datasource.fieldMappings"><div class="th">
                                                {{fm.fieldName}}
                                        </div></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[0]}}</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[1]}}</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[2]}}</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[3]}}</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[4]}}</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[5]}}</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[6]}}</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[7]}}</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[8]}}</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td ng-repeat="fm in datasource.fieldMappings">{{fm.sampleRecords[9]}}</td>
                                    </tr>
                                </tbody>
			
		</table>
		<!-- <footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info marginCss">
					<span> Show <select data-ng-model="numPerPage"
						data-ng-options="num for num in numPerPageOpt"
						data-ng-change="onNumPerPageChange()">
					</select> entries per page
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm" ng-model="currentPage"
						total-items="filteredStores.length" max-size="4"
						ng-change="select(currentPage)" items-per-page="numPerPage"
						rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;"
						boundary-links="true"></pagination>
				</div>
			</div>
		</footer> -->
	</div>
</section>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>