<div class="modal-header">
	<h3>{{Name}}</h3>
</div>
<div class="form-horizontal" ng-if = "checkSource = 'dataSource'">
	<div class="overflowProcess-hori">
		<div class="modal-body">
			<div class="form-group">
				<div class="col-md-12">
					<div class="col-md-4" style="padding-left: 0px;">
						<label for="label-focus">Old name</label>
					</div>
					<div class="col-md-6 padding-textBox">
						<input input type="text" class="form-control filePath-textBox"
							name="existingName"	ng-model="exName" ng-disabled ="true"
							id="label-focus">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<div class="col-md-4" style="padding-left: 0px;">
						<label for="label-focus">New name</label>
					</div>
					<div class="col-md-6 padding-textBox">
						<input input type="text" class="form-control filePath-textBox"
							name="newName"	ng-model="dataSource.dataSourceName" ng-pattern="/^[a-zA-Z]{1,}[a-zA-Z0-9_]{0,}$/"
							placeholder="New data source group name" id="label-focus">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if = "checkSource = 'dataSource'">
	<button class="btn btn-primary" ng-click="saveDataSource()" >Okay</button>
	<button class="btn btn-warning" ng-click="dismissModel();">Cancel</button>
</div>