<html>
<head>
<link rel="stylesheet" href="../../styles/main.css">
<link rel="stylesheet" href="../../styles/customCss/custom-icons.css">
<style type="text/css">
.red {
	color: red
}
.green {
	color: green
}
</style>
</head>
<body>
	<div class="page-signin" data-ng-controller="resetPasswordController">
		<div class="signin-header">
			<div class="container text-center">
				<section class="logo">
					<a href="#/"> <img class="logoCss"
						src="../styles/images/logo.png" style="padding: 0px 12px 15px 0px;">MOSAIC
					</a>
				</section>
			</div>
		</div>
		<div class="signin-body">
			<div class="container">
				<div class="form-container">
					<form name="myform">
						<fieldset>
							<div class="form-group">
								<div class="input-group input-group-lg">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-lock"></span>
									</span> <input type="password" class="form-control"
										placeholder="Current password" ng-model="obj.oldPassword">
								</div>
							</div>
							<div class="form-group"
								ng-class="{'has-error': myform.newPassword.$invalid}">
								<div class="input-group input-group-lg">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-lock"></span>
									</span> <input type="password" class="form-control"
										placeholder="New password" name="newPassword"
										ng-pattern="respattern" ng-model="obj.newPassword">
								</div>
							</div>
							<span ng-show="myform.newPassword.$error.pattern"
								style="color: red">Not a valid password.</span>

							<div class="form-group"
								ng-class="{'has-error': myform.confirmPassword.$invalid}">
								<div class="input-group input-group-lg">
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-lock"></span>
									</span> <input type="password" class="form-control"
										ng-keyup="comparePass(obj.confirmPassword)"
										placeholder="Confirm new password" name="confirmPassword"
										ng-pattern="respattern" ng-model="obj.confirmPassword">
								</div>
							</div>
							<span ng-show="(isconfirm || myform.confirmPassword.$dirty) && !myform.newPassword.$error.pattern"
								ng-class="{true:'green',false:'red'}[isconfirm]">
								{{isconfirm ==true? '':'Passwords do not  match'}}</span>
							<div class="form-group">
								<button type="button" ng-click="resetPassword(obj);"
									class="btn btn-w-md btn-gap-v btn-line-primary btn-lg btn-block">Submit</button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="form-container">
					<div class="form-group">
						<div class="alert  alert-warning alert-dismissible">
							<ol>
								<li>Password should be 8 to 16 characters long</li>
								<li>Must have atleast one capital letter</li>
								<li>Must have atleast one digit</li>
								<li>Must have atleast one special character</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="footerCss" class="bottom" ng-if='id == "id"'>
			<div class="container">
				<div class="row">
					<div class="col-md-3" style="text-align: left;">
						<ul class="footerMenu">
							<li><a class="colorMenu" href="#/home">Home</a></li>
							<li><a class="colorMenu" href="#/productoverview">Product
									Overview</a></li>
							<li><a class="colorMenu" href="#/contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<p
							class="footerCss footer-copyright col-md-12 text-muted text-center">&copy;
							2012 - 2016 augmentIQ Data Sciences Pvt. Ltd. All rights
							reserved.</p>
					</div>
					<div class="col-md-3" style="text-align: right;">
						<ul class="socialNetwork" style="margin-bottom: 0px;">
							<li><a href="https://www.facebook.com/AugumentIQ"
								target="_blank" class="tips" title="Facebook"
								data-original-title="follow me on Facebook"><i
									class="icon-facebook-1 iconRounded"></i></a></li>
							<li><a href="https://twitter.com/AugmentIQData/followers"
								target="_blank" class="tips" title="Twitter"
								data-original-title="follow me on Twitter"><i
									class="icon-twitter-bird iconRounded"></i></a></li>
							<li><a
								href="https://www.linkedin.com/company/augmentiq-data-sciences"
								class="tips" title="" target="_blank"
								data-original-title="follow me on Linkedin"><i
									class="icon-linkedin-1 iconRounded"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>