<div class="modal-header">
	<h3>Run data source group</h3>
</div>

<div class="col-md-12">&nbsp;</div>
<div id="dateTimePickerRemoveScrollRunDS"class="col-md-12 overflowProcess-hori">
	
	<div class="modal-body no-PaddingTop">
		<span class="custPad" ng-if="sameInputParamDs.length>0">
			Potential duplicate loads identified and highlighted below. You may:
			<ol>
				<li>Modify parameters</li>
				<li>Remove data sources from below or</li>
				<li>Ignore this warning and re-load</li>
			</ol>
		</span>
		
		<div ng-repeat="dataSource in dataSources track by $index">	
		<span class="space" 
				ng-if="dataSource.fileDataIngesterDetails.serverFilePath.indexOf('pushToDs')>=0" style="display: block; margin-bottom: 5px;color: #b5bf13;font-weight: normal !important; font-size: 12px;">
				<strong>WARNING ! &nbsp; Source is empty. &nbsp;Please update configuration before loading it. </strong>
		</span><span class="space"></span>
		
		<div ng-class="{'loadError margin': isContainsString(dataSource.dataSourceName)}">
		<section class="panel panel-default table-dynamic margin"
			>
			<div class="panel-heading">
				<strong> <span class="glyphicon glyphicon-th"></span>
					{{dataSource.dataSourceName}}
				</strong> <strong style="float: right;">
					{{dataSource.dataSourceType}} 
					
					<span class="navbar-form no-margin rightAlign" ng-if="isContainsString(dataSource.dataSourceName) && dataSources.length>1"> <i class="fa fa-trash-o addCursor"
						ng-click="removeLoadDs($index, dataSource.id)"></i>
				</span>	
				</strong>
				
			</div>
			<div class="panel-body">

				<div
					ng-if="dataSource.dataSourceLoadStrategy.loadStategyType == 'REPLACEALL' || dataSource.dataSourceLoadStrategy == null">
					<div class="col-md-2">
						<span class="sqlHeaderFont">Replace with</span>
					</div>
					<div class="col-md-5"
						ng-if="dataSource.dataSourceType != 'RDBMS_DATA_SOURCE'">
						<input type="text" class="form-control" placeholder="value"
							style="margin-left: 9px;width: 115%;"
							ng-model="dataSource.fileDataIngesterDetails.serverFilePath"
							required>
					</div>

					<div class="col-md-5"
						ng-if="dataSource.dataSourceType == 'RDBMS_DATA_SOURCE'">
						<input type="text" class="form-control" placeholder="value"
							style="margin-left: 9px;"
							ng-model="dataSource.config.queryToExecute" required>
					</div>

					<div class="col-md-12">&nbsp;</div>
				</div>
				<div
					ng-if="dataSource.dataSourceLoadStrategy.loadStategyType != 'REPLACEALL' 
							&& dataSource.dataSourceLoadStrategy != null">
					<div>
						<div class="col-md-2">
							<span class="sqlHeaderFont"> Append Path </span>
						</div>
						<div class="col-md-5"
						ng-if="dataSource.dataSourceType != 'RDBMS_DATA_SOURCE'">
						<input type="text" class="form-control" placeholder="value"
							style="margin-left: 9px;width: 115%;"
							ng-model="dataSource.fileDataIngesterDetails.serverFilePath"
							required>
					</div>

					<div class="col-md-5"
						ng-if="dataSource.dataSourceType == 'RDBMS_DATA_SOURCE'">
						<input type="text" class="form-control" placeholder="value"
							style="margin-left: 9px;"
							ng-model="dataSource.config.queryToExecute" required>
					</div>
					
					<div class="col-md-5"
								ng-if="dataSource.dataSourceType == 'NOSQL'">
								<input type="text" class="form-control" placeholder="value"
									style="margin-left: 9px;"  ng-disabled="true"
									ng-model="dataSource.config.noSqlSchema" required>
					</div>

						<div class="col-md-12">&nbsp;</div>
					</div>
					
				</div>
				
				<div class="panel-body work-pad" ng-if="dataSource.dsLevelParams != null && dataSource.dsLevelParams.length > 0">
					<br><div class="padLeft15 sqlHeaderFont col-md-12">Input Parameters</div>
				
					<div class="col-sm-12 work-pad marginLeft-13">
						<div data-ng-include="'views/template/captureInputParam.html'"></div>
					</div>
				</div>
				
			</div>
				<div class="panel-body">
					<div>
						<div class="col-md-2">
							<span class="sqlHeaderFont" style="white-space: nowrap;"> Optimize boost Level </span>
						</div>
						<div class="ui-select boostdsright">
							<select ng-model='dataSource.selectedBoostId' ng-options="eachBoost.id as ('Level ' + eachBoost.orderLevel) for eachBoost in dataSource.reducedBoostList"/>
						</div>
							<div class="col-md-12">&nbsp;</div>
						</div>					
				</div>
		</section>
		</div>
	</div>
	</div>
</div>
<!-- </section> -->
<div class="modal-footer">
	<div class="col-md-12">
		<button class="btn btn-primary" ng-click="runPipe()"
			ng-if="dataRepoToRun.repoId != undefined">Run</button>
		<button class="btn btn-primary" ng-click="addInputPipe()"
			ng-if="dataRepoToRun.repoId == undefined">Okay</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
