<div class="modal-header">
	<h3>Configure salesforce details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="salesforceForm">

		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>User Name</label>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="salesforce.userName" value ={{salesforce.userName}} required
						placeholder="User Name">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Password + Security token</label>
				</div>
				<div class="col-sm-6">
					<input type="password" class="form-control"
						ng-model="salesforce.passwordSecurityToken" required
						placeholder="Password + Security token">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Consumer key</label>
				</div>
				<div class="col-sm-6">
					<input type="password" class="form-control"
						ng-model="salesforce.clientId" required
						placeholder="Consumer key">
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<label>Secrete key</label>
				</div>
				<div class="col-sm-6">
					<input type="password" class="form-control"
						ng-model="salesforce.secretId" required placeholder="Secrete key">
				</div>
			</div>
		</div>

	
	<div class="form-group">
			<div class="col-sm-6" ng-repeat="collection in salesforce.salesforceCollection">
				<section class="panel panel-default" >
					 <div class="panel-heading panelHeader">
						<strong ng-click="hideAndShow($index);" class="cursor">
							<i ng-if='!userToggle[$index]' class="fa fa-plus-circle size-h4" aria-hidden="true"> 
								&nbsp;&nbsp;{{collection.name}}</i>
							<i ng-if='userToggle[$index]' class="fa fa-minus-circle size-h4" aria-hidden="true">
								&nbsp;&nbsp;{{collection.name}} </i>
						</strong>
					</div> 
					 <div class="panel-body" ng-hide='!userToggle[$index]'>
						<div class="col-md-12">
							<section class="panel panel-default">
								<div class="panel-heading">
								   <label class="ui-checkbox padCheck"> <input
										ng-disabled='isOverallDisable' type="checkbox"
										ng-model="selectedAll" ng-click="checkAll(selectedAll)"><span></span>
									</label>
									<strong> Fields </strong>
								</div>
								<div class="panel-body">
									<div class="col-md-12" ng-repeat="field in collection.field">
										<div class="col-md-1" style="padding-left: 0px;">
											<input type="checkbox" ng-model="collection.fieldChk[$index]"
												ng-change="selectIsDone($parent.$index, $index);"
												class="toggle-task">
										</div>
										<div class="col-md-9" style="text-overflow: ellipsis;word-wrap: break-word;">
											{{field}}
										</div>
									</div>
								</div>
							</section>
						</div>
						
					</div> 
				</section>
			</div>
		</div> 

	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="testSFConnection()">Test Connection</button> 
	<button class="btn btn-primary" ng-click="saveSalesforceData()">Save</button> 
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>