<div class="modal-header">
	<h3>Configure SAPERP details</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>Function Module</label>
			   </div>
			   <div class="col-sm-6">
					<input type="text" class="form-control" ng-model="sapErp.functionModule" required placeholder="Function Module">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>Table Name</label>
			   </div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="sapErp.tableName" required placeholder="Table Name" ng-blur="getCoustomColumn()">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>Row Count</label>
			   </div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="sapErp.rowCount" required placeholder="Row Count">
				</div>
			</div>
		</div>
		
	    <div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>Select Custom Column</label>
			   </div>
		       <div class="col-sm-6">
			 	 <span class="ui-select external-css"> <select multiple="true" class="select-formatter"
					name="columnName"
					ng-options="column for column in columnList track by column"
					ng-model="sapErp.columnName" tooltip-placement="right"
					tooltip='' required>
						<option value="">Select column</option>
				   </select>
				 </span>
			   </div> 
		   </div>	 
		 </div>
		
		<div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>Data Filter</label>
			   </div>
				<div class="col-sm-6">
					<textarea id="dataFilter" style="height: {{myCssApply"
						class="form-control ng-pristine ng-valid"
						name="sapErp.dataFilter" rows='{{rowSize}}'
						ng-model="sapErp.dataFilter"
						placeholder="Enter Filter with pipe delimeter" required></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>No of Spilts</label>
			   </div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="sapErp.noOfSplit" required placeholder="no Of Split" data-ng-if="sapErp.rowCount !=0">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
			   <div class="col-sm-3">
					<label>Spilt Row Count</label>
			   </div>
				<div class="col-sm-6">
					<input type="text" class="form-control"
						ng-model="sapErp.splitRowCount" required placeholder="split Row Count" data-ng-if="sapErp.rowCount == 0">
				</div>
			</div>
		</div>
		
	</form>


</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveSapErpData()">Save</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>