<div class="modal-header">
	<h4 ng-show='!indicator'>
		<span class="glyphicon glyphicon-warning-sign" style="color: #e94b3b;"></span>&nbsp;&nbsp;&nbsp;<b>Warning</b>
	</h4>
	<h4 ng-show='indicator'>
		<span class="fa fa-question-circle" style="color: #e94b3b;"></span>&nbsp;&nbsp;&nbsp;<b>{{headerTitle}}</b>
	</h4>
</div>
<div class="panel-body">
	<!-- For displaying values -->
	<div class="col-md-12 warning-popup">
		<div class="form-group">
			<b> {{massage}} </b>
			<ol ng-if='list.length > 0'>
				<li ng-repeat="values in list track by $index">{{values}}</li>
			</ol>
			<br ng-if='list.length == 0' /> <br
				ng-if='massage != "Do you want to exit from proceess?"' /> <b ng-show='!indicator'
				ng-if='massage != "Do you want to exit from proceess?"'> Do you
				still want to continue ? </b>
		</div>
	</div>
</div>
<!-- <div class="row">
	<div class="col-md-12">&nbsp;</div>
</div> -->
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="selectMethod('yes')">{{yesBtnLable}}</button>
	<button class="btn btn-primary" ng-click="selectMethod('no')">{{noBtnLable}}</button>
</div>