<style>
.tableAlign {
	border-bottom: 0 none !important;
	border-left: 0 none !important;
	border-right: 1px solid #ddd !important;
	display: table-cell;
	min-width: 148px;
}
</style>
<div class="page page-profile">
<section class="panel panel-default">
	<div class="panel-heading lan-heading">
		<strong><span class="glyphicon glyphicon-th"></span> Sql
			column details </strong>
	</div>

	<div class="panel-body">
		<div class="table-responsive"
			style="overflow-x: scroll; padding-bottom: 15px;">
			<table class="table table-striped table-bordered margin fixed-header">
				<tbody>
					<tr>
						<td ng-repeat="fieldDetail in fieldDetails | filter:fieldName"
							class="tableAlign sqlHeaderFont">{{fieldDetail.fieldName}}</td>
					</tr>
					<tr>
						<td ng-repeat="fieldDetail in fieldDetails | filter:fieldDataType"
							class="tableAlign sqlHeaderFont">
							{{fieldDetail.fieldDataType}} 
							<span ng-if="fieldDetail.fieldDataType == 'DECIMAL'">({{fieldDetail.precision}},{{fieldDetail.scale}})</span>
							</td>
					</tr>
					<tr>
						<td ng-repeat="fieldDetail in fieldDetails | filter:sampleRecord1"
							class="tableAlign">{{fieldDetail.sampleRecord1}}</td>
					</tr>
					<tr>
						<td ng-repeat="fieldDetail in fieldDetails | filter:sampleRecord2"
							class="tableAlign">{{fieldDetail.sampleRecord2}}</td>
					</tr>
					<tr>
						<td ng-repeat="fieldDetail in fieldDetails | filter:sampleRecord3"
							class="tableAlign">{{fieldDetail.sampleRecord3}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row header-padding">
			<div class="col-md-12">
				<div class="fR mgT15">
					<button type="button" class="btn btn-w-md btn-gap-v btn-primary"
						ng-click="closePopUp()">Okay</button>
				</div>
			</div>
		</div>
	</div>
</section>
</div>