<div class="modal-header"">
	<h4>
		<span class="fa fa-question-circle" style="color: #f06c81;"></span>&nbsp;&nbsp;&nbsp;<b>Delete
			confirmation</b>
	</h4>
</div>
<div class="modal-body">
	<form>
		<div class="row">
			<div class="col-sm-12">
			<div>
				 Type "delete" for delete this tag?<br>
					<div class="col-sm-12">&nbsp;</div>
					<span class="glyphicon glyphicon-warning-sign" ng-if="list.length>0"
                         style="color: #e94b3b;"><a href="javacript:;"  
                              ng-click="showDs()" style="color: blue;">&nbsp;Tag is used in following datasource</a></span>
				</div>
			</div>
			<div class="col-sm-12">&nbsp;</div>
			<div class="col-sm-12" ng-show="showTable=='show'" style="margin-left: -0px">
                    <table
                         class="table table-bordered table-striped table-responsive table-repo marginSearch">
                         <thead>
                              <tr>
                                   <th>
                                        <div class="th ">#</div>
                                   </th>
                                   <th>
                                        <div class="th ">Datasource Name</div>
                                   </th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr class="maxLengthProp" data-ng-repeat="item in list">
                                   <td><b>{{$index+1}}</b></td>
                                   <td>{{item}}</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
			<div class="col-sm-12" style="margin-bottom: 5px;">
				<input type="text" focus-me="true" ng-model="deleteds.deleteNode"
					class="ng-pristine ng-valid" style="width: 70%;">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-enter="deleteSelectedAppDs()"
		ng-click="deleteSelectedAppDs()" ng-if="indicatorDelete">Okay</button>
	<button class="btn btn-primary" ng-click="abortApplication()"
		ng-if="indicatorYarn">Okay</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>