<div class="modal-header">
	<div class="row">
	 <div class="col-md-11">
		<h3>Test API</h3>
    </div>
	<div class="col-md-1">
			<div class="closePopUp">
				<i class="fa fa-times-circle icon-margin" ng-click="cancel();"></i>
			</div>
		</div>
	</div>
</div>
<div class="modal-body">
	<form class="form-horizontal overflowProcess-hori "
		name="createCompnentForm">
		<div class="form-group">
			<label for="" class="col-sm-1">URL</label>
			<div class="col-sm-8">
				<input type="text" ng-model="url" class="form-control" placeholder="Url" ng-disabled="true">
			</div>
			<button class="btn btn-primary col-sm-2"  ng-click="sendRequest()">Send</button>
			<div class="col-sm-1">&nbsp;</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Request Input</label>
			<div class="col-sm-6">
				<textarea ng-model="inputRequest"
					class="form-control" placeholder="Request Input"></textarea>
			</div>
		</div>
		
		<div class="form-group">
            <label class="col-sm-2">Request Response</label>
            <div class="col-sm-6">
                <textarea ng-model="responseRequest"
                    class="form-control" rows="5" placeholder="Request Response"></textarea>
            </div>
        </div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">OK</button>
</div>
