<div id="catalog_object" ng-controller="configNewConnectionCtlr" >
	
	<!--  select datasource step -->
	<div class="col-md-12 marginTop5">
		<div class="fL">
			<span><i class="disabledLink1 glyphicon glyphicon-stop"></i>&nbsp;&nbsp;Datasource already exists</span>
		</div>
	</div>
    <div class="col-md-12 padding0" >
    	<div class="col-md-5">
    		<div class="panel panel-catalog" style="height:{{viewHeight - 50}}px;" >
                <div class="panel-heading">
                    Select Obejcts
                </div>
                <div class="panel-body" ng-if="!isDsFetch" >
                	<div class="margin-15-minus"><i class="glyphicon glyphicon-search search-glyphicon-publish"></i><input type="text" style="padding: 2px;" class="tree-search-box" ng-model="dsSearch" placeholder="Search sources"/></div>
               		<div ivh-treeview="connectionSources.dataNode" ivh-treeview-filter="dsSearch" ivh-treeview-expand-to-depth="1">
               		<script type="text/ng-template">
        				<div title="{{trvw.label(node)}}">
          					<span ivh-treeview-toggle>
            					<span ivh-treeview-twistie></span>
         					</span>
          					<span ng-if="!node.isPublished" ivh-treeview-checkbox>
          					</span>
         					<span class="ivh-treeview-node-label" ng-class="{'disabledLink1': node.isPublished}" ivh-treeview-toggle>
           						{{trvw.label(node)}}
         					</span>
         					<div ivh-treeview-children></div>
       					</div>
      				</script>
      				</div>
                </div>
                <div class="panel-body tree-loader" ng-if="isDsFetch">
              	</div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-catalog"  style="height:{{viewHeight - 50}}px;" >
                <div class="panel-heading">
                  Selected Objects 
                </div>
                
              <!-- rdbms connector selected obejct view-->  
              <div class="panel-body" ng-if="!isDsFetch && nonDBTypeConnectorArray.indexOf(connectorSTName) == -1">
              		<div ivh-treeview="connectionSources.dataNode" ivh-treeview-filter="connectionSources.customFilterSelected" ivh-treeview-expand-to-depth="1"></div>
              </div>
              <!-- rdbms connector selected obejct view end-->  
              
              <!-- ftp connector selected obejct view-->  
              <div class="panel-body" ng-if="!isDsFetch && nonDBTypeConnectorArray.indexOf(connectorSTName) > -1">
               		<div ivh-treeview="connectionSources.dataNode" ivh-treeview-filter="connectionSources.customFilterDelimiterSelected"  ivh-treeview-expand-to-depth="1">
	       				<script type="text/ng-template" id="node-template.html">
    							<div title="{{trvw.label(node)}}">
      								<span ivh-treeview-toggle>
        								<span ivh-treeview-twistie></span>
      								</span>
      								<span ng-if="!node.isPublished" ivh-treeview-checkbox>
          							</span>
									<span class="ivh-treeview-node-label" ng-if="node.isDsNode && node.children.length === 0" ivh-treeview-toggle>
										{{trvw.label(node)}}		
										<input type="text" validate-on-blur ng-model="node.delimiter" placeholder="delimiter" class="delimiter-textbox"/>
										<span>
											<input type="checkbox" validate-on-blur ng-model="node.optionallyEnclosedInDoubleQuotes" class="delimiter-checkbox"/>
											&nbsp;(enclosed double quotes)
										</span>
      								</span>
									<span class="ivh-treeview-node-label"  ng-if="!node.isDsNode" ivh-treeview-toggle>
           								{{trvw.label(node)}}
         							</span>	
      								<div ivh-treeview-children></div>
    							</div>
  						</script>
      				 </div>
                </div>
                <!-- ftp connector selected obejct end-->  
              
              	<div class="panel-body tree-loader" ng-if="isDsFetch">
              	</div>
            </div>
        </div>
        
        <div class="col-md-2 timeline-div-body" style="height:{{viewHeight - 50}}px;margin-top: 10px !important;border-left: 1px solid #ccc;">
    		<div class="controls col-md-12 padding0" ng-if="profilingSamplingHide.indexOf(connectorSTName) == -1">
	    		<div class="controls col-md-6 padding0" >
			      <div class="checkbox">
			        <label>
			          <input type="checkbox" ng-model="connectionSources.doFrofiling"> Profiling
			        </label>
			      </div>				      
			    </div>
			    <div class="controls col-md-6 padding0">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox" ng-model="connectionSources.doSampling"> Sampling
			        </label>
			      </div>				      
			    </div>
			 </div>   
		    <div class="controls col-md-12 padding0" ng-class="{'margin-top15': profilingSamplingHide.indexOf(connectorSTName) == -1}">
   				 <label class="col-md-12 padding0">Expert</label>
   				 <div class="col-md-12 padding0">
                     <ui-select data-ng-model="connectionSources.expert" on-select="setSelectedExpert($item)"
						style="width: 100%;" theme="bootstrap" class="select-formatter"
						required> 
						<ui-select-match placeholder="Select expert">{{$select.selected.firstName + ' ' + $select.selected.lastName}}</ui-select-match> 
						<ui-select-choices repeat="item.unqUserId as item in experts | propertyFilter: {firstName:$select.search, lastName:$select.search}">
							        <div ng-bind-html="(item.firstName) + ' ' + (item.lastName) | highlight: $select.search"></div>
						</ui-select-choices> 
					</ui-select>
				</div>	
			 </div>
			 
			 <div class="controls col-md-12 padding0 margin-top15">
    				 <label class="col-md-12 padding0">Tags</label>
    				 <div class="col-md-12 padding0">
	                      <ui-select data-ng-model="connectionSources.tags" multiple
								style="width: 100%;" theme="bootstrap" class="select-formatter"
								required> 
								<ui-select-match placeholder="Select tags">{{$item}}</ui-select-match> 
								<ui-select-choices repeat="item in tags | filter: $select.search track by $index">{{item}}</ui-select-choices> 
							</ui-select>
					</div>	
			 </div>	
			 <div class="controls col-md-12 padding0 margin-top15">
			 	<div class="col-md-12 padding0">
			 		<div class="tree-loader-timer fL" ng-if="loadTime"></div>
   				 	<button class="btn btn-primary fR" ng-click="registerConnection(connectionSources)" ng-disabled="isPublishMethodCalled" >Publish</button>	
			 	</div>
			 </div>	
    	</div>	
    </div>
</div>
