<section class="animate-fade-up ng-scope monitor-page-css">
	<div data-ng-controller="connectionControllers">
		<div class="col-md-12 noteCss" role="alert">
			<span ng-bind-html='explanation.connectionHeader | unsafe'></span>
		</div>
		<!-- <div class="col-sm-12"></div> -->
		<section class="table-dynamic">
			<div class="table-filters padTable">
				<div class="row">
					<div class="col-sm-3 col-xs-6 padding-right-none">
						<form>
							<input type="text" placeholder="Filter..." class="form-control"
								data-ng-model="searchKeywords" data-ng-keyup="search()">
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info entries">
						<span> Showing {{filteredStores.length == 0 ? 0 : ((pageNum -1) * numPerPage) + 1}} - {{(numPerPage * (pageNum - 1)) + connections.length}} of {{filteredStores.length}}
						entries </span>
					</div>
					<div class="col-sm-6 col-xs-6 btntop">
						<button type="button"
							class="btn btn-danger btn-block-dataRepo repo-btn pull-right btnSize"
							data-ng-if="user.ACTIONS_CODES | isRoleAssigned: USER_ROLE_CONST.CONFIGURE_NEW_CONNECTION"
							data-ng-click="createConnection(null)">Configure new
							connection</button>
					</div>
				</div>
			</div>
		
			<div class="modal-body footerMarginCss">
				<table
					class="table table-bordered table-striped table-responsive table-repo marginSearch">
					<thead>
						<tr>
							<th>
								<div class="th ">#</div>
							</th>
							<th>
								<div class="th ">
									Connection name <span class="fa fa-angle-up"
										data-ng-click=" order('conncetionName') "
										data-ng-class="{active: row == 'conncetionName'}"></span> <span
										class="fa fa-angle-down"
										data-ng-click=" order('-conncetionName') "
										data-ng-class="{active: row == '-conncetionName'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Type <span class="fa fa-angle-up"
										data-ng-click=" order('connectorType') "
										data-ng-class="{active: row == 'connectorType'}"></span> <span
										class="fa fa-angle-down"
										data-ng-click=" order('-connectorType') "
										data-ng-class="{active: row == '-connectorType'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Sub type <span class="fa fa-angle-up"
										data-ng-click=" order('connectorType') "
										data-ng-class="{active: row == 'connectorType'}"></span> <span
										class="fa fa-angle-down"
										data-ng-click=" order('-connectorType') "
										data-ng-class="{active: row == '-connectorType'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Created by <span class="fa fa-angle-up"
										data-ng-click=" order('createdBy') "
										data-ng-class="{active: row == 'createdBy'}"></span> <span
										class="fa fa-angle-down" data-ng-click=" order('-createdBy') "
										data-ng-class="{active: row == '-createdBy'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Created on <span class="fa fa-angle-up"
										data-ng-click=" order('createdDate') "
										data-ng-class="{active: row == 'createdDate'}"></span> <span
										class="fa fa-angle-down"
										data-ng-click=" order('-createdDate') "
										data-ng-class="{active: row == '-createdDate'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Updated by <span class="fa fa-angle-up"
										data-ng-click=" order('updatedBy') "
										data-ng-class="{active: row == 'updatedBy'}"></span> <span
										class="fa fa-angle-down" data-ng-click=" order('-updatedBy') "
										data-ng-class="{active: row == '-updatedBy'}"></span>
								</div>
							</th>
							<th>
								<div class="th">
									Updated on <span class="fa fa-angle-up"
										data-ng-click=" order('updatedDate') "
										data-ng-class="{active: row == 'updatedDate'}"></span> <span
										class="fa fa-angle-down"
										data-ng-click=" order('-updatedDate') "
										data-ng-class="{active: row == '-updatedDate'}"></span>
								</div>
							</th>
							<th>
								<div class="th">Action</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="maxLengthProp" data-ng-repeat="store in connections">
							<td><b>{{$index + ((currentPage * numPerPage) -
									numPerPage)+ 1}}</b></td>
							<td data-ng-if="user.ACTIONS_CODES | isRoleAssigned: USER_ROLE_CONST.EDIT_CONNECTION"><a href="javascript:;" class="anchorColor"
								ng-click="createConnection(store)">{{store.conncetionName}}</a></td>
							<td data-ng-if="! user.ACTIONS_CODES | isRoleAssigned: USER_ROLE_CONST.EDIT_CONNECTION">{{store.conncetionName}}</td>
							<td>{{store.configConnectionType | titleCase}}</td>
							<td>{{store.connectorType | titleCase}}</td>
							<td>{{store.createdBy}}</td>
							<td>{{store.createdDate == 'null' || store.createdDate == null ? "" : store.createdDate | date : 'medium'}}</td>
							<td>{{store.updatedBy}}</td>
							<td>{{store.updatedDate == 'null' || store.updatedDate == null ? "" : store.updatedDate | date : 'medium'}}</td>
							<td>
								<ul class="nav-right ulMargin list-unstyled">
									<li
										data-ng-if="user.ACTIONS_CODES | isRoleAssigned: USER_ROLE_CONST.DLT_CNNCTN">
										<a href="javascript:;" class="actionMenu"
										data-ng-click="deleteConnection(store)"><i
											class="fa fa-trash" tooltip-placement="top"
											tooltip="Delete connection"></i></a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info marginCss">
							<span> Show <select data-ng-model="numPerPage"
								data-ng-options="num for num in numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
							</select> entries per page
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container zindex">
							<pagination class="pagination-sm" ng-model="currentPage"
								total-items="filteredStores.length" max-size="4"
								ng-change="select(currentPage)" items-per-page="numPerPage"
								rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;"
								boundary-links="true"></pagination>
						</div>
					</div>
				</footer>
			</div>
		</section>
	</div>
</section>