<!-- Feedback code start -->
			<div class="col-md-12 padding-one"
				ng-hide="!myTbHide1 && !(activeTab == 'Discussion')" _ng-controller="discussionCtrl">

					
					<div class="panel-body">
						<div class="col-md-12 headerCon">
							<div class="col-md-1 fa fa-user-circle fa-2x"></div>
							<div class="col-md-7">
								<div class="col-md-5">
									<input type="text" class="form-control" placeholder="Question title" _ng-model="obj.question">
								</div>
								
								<div class="col-md-5">
									<textarea class="form-control" rows="2" cols="10" ng-model="obj.answer" placeholder="Details"></textarea>
								</div>
								<div class="col-md-2" style="top: 20px;">
									<button class="btn btn-primary" style="width: 67px;" type="button" ng-click="submitPost(obj);">Submit</button>
								</div>
							</div> 
							
							
							<div class="col-md-12">&nbsp;</div>
							<div class="col-md-12 feedback-css" ng-repeat="item in feedbackObj track by $index">
								<div class="col-md-1">
									<div class="col-md-12">
									<div class="col-md-1" style="color:#606060; text-align: center;">
										<button class="btn btn-default votingButton" data-ng-click="updateVote(+1, $index, item)">
											<i class="fa fa-caret-up fa-2x pull-left"
												data-ng-class="item.selfVote==1 ? 'voted':'voting'"></i> 
												<span class="vote-positive">{{item.votingPositiveCount}}</span>
										</button>
										<button class="btn btn-default votingButton">{{item.votingCount}}</button>
										<button class="btn btn-default votingButton" data-ng-click="updateVote(-1, $index, item)">
											<i class="fa fa-caret-down fa-2x"
												data-ng-class="item.selfVote==-1 ? 'voted':'voting'"></i>
												<span class="vote-negative">{{item.votingNegativeCount}}</span>
										</button>
										
									</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="col-md-12">
										<span style="color: #17b9e7;font-size: 16px;">{{item.question}}</span><br/> 
										<span>{{item.answer}}</span>
									</div>
									<div class="col-md-12">
										<span class="pull-right">&nbsp; {{item.insertTS | date}} &nbsp;&nbsp; <span style="color: #17b9e7;">{{item.unqUserId}}</span></span>
									</div>
								</div>
								<div class="col-md-4"></div>
							</div>
						</div>
					</div>

			</div>