@CHARSET "UTF-8";
.hover-content {
    overflow: hidden;
    position: relative
}

.visible-part,
.hidden-part {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff
}

.visible-part {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg)
}

.hidden-part {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: text;
    opacity: 0;
    -webkit-transform: perspective(500px) rotateY(180deg);
    transform: perspective(500px) rotateY(180deg)
}

.hover-content:hover .visible-part {
    opacity: 0;
    -webkit-transform: perspective(500px) rotateY(-180deg);
    transform: perspective(500px) rotateY(-180deg)
}

.hover-content:hover .hidden-part {
    opacity: 1;
    -webkit-transform: perspective(500px) rotateY(0deg);
    transform: perspective(500px) rotateY(0deg)
}

.sub-height-font {
    height: 220px
}

.type {
    font-size: 15px;
    color: #757575;
    margin: 15px 0 30px
}

.price {
    font-size: 6em;
    line-height: 100px;
    margin: 20px 0 0
}

.month {
    font-size: 2em;
    color: #757575;
    font-weight: 300
}

.details {
    font-size: 1.5em;
    margin: 25px 0 10px
}

.hover-content:.visible-part h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    color: #00bcd4!important
}

.text-black {
    color: #000
}

.text-muted {
    color: #757575!important
}

.text-white {
    color: #fff!important
}

.text-light {
    color: #e0e0e0
}

a.text-light {
    color: #bababa
}

.text-primary {
    color: #00bcd4!important
}

a.text-primary:hover {
    color: #007888
}

.text-success {
    color: #00bcd4
}

a.text-success:hover {
    color: #007888
}

.text-info {
    color: #00bcd4
}

a.text-info:hover {
    color: #007888
}

.text-warning {
    color: #00bcd4
}

a.text-warning:hover {
    color: #007888
}

.text-danger {
    color: #00bcd4
}

a.text-danger:hover {
    color: #007888
}

.bg-primary {
    color: #fff!important;
    background-color: #00bcd4!important
}

a.bg-primary:hover {
    color: #fff;
    background-color: #007888
}

.bg-success {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-success:hover {
    background-color: #007888
}

.bg-info {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-info:hover {
    background-color: #007888
}

.bg-warning {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-warning:hover {
    background-color: #007888
}

.bg-danger {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-danger:hover {
    background-color: #007888
}

.left-padding {
    padding-right: 5px
}

.both-padding {
    padding-left: 5px;
    padding-right: 5px
}

.right-padding {
    padding-left: 5px
}

.cust-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #9e9e9e
}

.text-icon-content {
    padding-left: 70px;
    font-size: .9em
}

.text-icon-content p {
    margin-top: 5px
}

.icon-ar {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: #0099da;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 2.2
}

.icon-ar.icon-ar-square {
    border-radius: 0
}

.icon-ar.icon-ar-round {
    border-radius: 5px
}

.icon-ar.icon-ar-circle {
    border-radius: 100px
}

.icon-ar.icon-ar-inverse {
    background-color: transparent;
    color: #0099da;
    border: solid 1px #0099da
}

.icon-ar.icon-ar-inverse.icon-ar-no-border {
    width: auto;
    height: auto;
    line-height: 1;
    border: 0;
    font-size: 60px
}

.icon-ar.icon-ar-sm {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 2
}

.icon-ar.icon-ar-lg {
    width: 50px;
    height: 50px;
    font-size: 22px;
    line-height: 2.2
}

.icon-ar.icon-ar-xl-lg {
    width: 80px;
    height: 80px;
    font-size: 36px;
    line-height: 2.2
}

.icon-ar.icon-ar-xxl-lg {
    width: 120px;
    height: 120px;
    font-size: 48px;
    line-height: 2.6
}

.icon-ar.icon-ar-white {
    background-color: #fff;
    color: #0099da
}

.icon-ar.icon-ar-white.icon-ar-inverse {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff
}

.icon-ar.icon-ar-danger {
    background-color: #d9534f
}

.icon-ar.icon-ar-warning {
    background-color: #f0ad4e
}

.icon-ar.icon-ar-success {
    background-color: #02c66c
}

.icon-ar.icon-ar-info {
    background-color: #54c8eb
}

.icon-ar.icon-ar-help {
    background-color: #ac60d0
}

.icon-ar.icon-ar-black {
    background-color: #333
}

.icon-ar.icon-ar-inverse.icon-ar-white {
    background-color: transparent;
    color: #fff;
    border-color: #fff
}

.icon-ar.icon-ar-inverse.icon-ar-danger {
    background-color: transparent;
    color: #d9534f;
    border-color: #d9534f
}

.icon-ar.icon-ar-inverse.icon-ar-warning {
    background-color: transparent;
    color: #f0ad4e;
    border-color: #f0ad4e
}

.icon-ar.icon-ar-inverse.icon-ar-success {
    background-color: transparent;
    color: #02c66c;
    border-color: #02c66c
}

.icon-ar.icon-ar-inverse.icon-ar-info {
    background-color: transparent;
    color: #54c8eb;
    border-color: #54c8eb
}

.icon-ar.icon-ar-inverse.icon-ar-help {
    background-color: transparent;
    color: #ac60d0;
    border-color: #ac60d0
}

.icon-ar.icon-ar-inverse.icon-ar-black {
    background-color: transparent;
    color: #333;
    border-color: #333
}

a>.icon-ar.icon-ar-inverse:hover {
    background-color: #0099da;
    color: #fff
}

.text-icon {
    margin-bottom: 30px;
    overflow: hidden
}

.text-icon .icon-ar {
    float: left;
    margin-top: 5px
}

.icon-ar .text-icon-content h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-size: 20px;
    color: #333
}

.text-icon-content {
    padding-left: 70px;
    font-size: .9em
}

.text-icon-content p {
    margin-top: 5px;
    font-size: 14px
}

.default-color {
    color: #00bcd4!important
}

.md-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    min-width: 100%;
    height: 100%;
    z-index: 1000000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.md-modal .md-body {
    padding: 80px 0;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}

@media(min-width:992px) {
    .md-effect-1 .md-content {
        -webkit-transform: perspective(1500px) rotateY(-90deg) scale(0.5);
        transform: perspective(1500px) rotateY(-90deg) scale(0.5);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        overflow: hidden;
        opacity: 0
    }
    .md-effect-1.md-show .md-content {
        -webkit-transform: perspective(1500px) rotateY(0deg) scale(1);
        transform: perspective(1500px) rotateY(0deg) scale(1);
        opacity: 1;
        overflow: auto
    }
}

@media(max-width:992px) {
    .md-effect-1 .md-content {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        opacity: 0
    }
    .md-effect-1.md-show .md-content {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.md-effect-2 .md-content {
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 0
}

.md-effect-2.md-show .md-content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.ul-decor li {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 10px;
    overflow: hidden;
    float: left
}

.cust-sub-head {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 10px;
    overflow: hidden
}

.margin-grid-box {
    margin-left: 24px;
    margin-top: -24px
}

.text-decor {
    text-decoration: none!important;
    font-family: 'Lato', sans-serif!important;
    font-weight: 400!important;
    color: #003049!important;
    margin-right: 62px;
    margin-left: 62px;
    font-size: 20px;
    cursor: pointer
}

.anchor-text {
    text-decoration: none!important;
    font-family: "Lato", sans-serif!important;
    font-weight: 400!important;
    color: #003049!important;
    margin-right: 62px;
    margin-left: 62px;
    font-size: 20px
}

.border-left {
    border-right: 1px solid #bfcbd1
}

.text-border-bottom {
    border-bottom: 2px solid #1c7ebb
}

.color-head {
    color: #333!important
}

.mayuri li {
    display: inline!important
}

.padding-slider {
    margin-top: 50px!important
}

.pad-slider {
    padding: 0 0 110px 0!important
}

.mau {
    top: -15px
}

.para-content {
    margin: -16px 0 27px 0!important
}

.mau {
    top: -15px
}

.bg-color-eceaea {
	background-color: #eceaea;
}

.right-line {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #000;
    margin: 30px 0;
    font-size: 26px;
    text-align: center;
    height: auto;
}

.right-line:after {
    position: absolute;
    top: 55%;
    overflow: hidden;
    width: 100%;
    height: 1px;
    content: '\a0'
}

.modal-size {
    width: 1200px!important;
    border-radius: 0!important
}

.border-none {
    border-bottom: none!important;
    border-top: none!important
}

.md-content {
    text-align: left;
    background: #fff;
    margin: 0 auto;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1999;
    color: #757575
}

.md-content .title {
    font-size: 45px
}

.md-content .text {
    font-size: 17.5px;
    line-height: 30px;
    font-weight: 300
}

.icon-close {
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    right: 35px
}

.icon-close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon-close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.icon-close:before,
.icon-close:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #757575
}

.body-top {
    top: 60px!important;
    margin-bottom: 100px!important
}

.margin-left-article {
    margin: 0 25px 0 25px!important
}

.body-css {
    font-family: 'Lato', sans-serif!important;
    font-size: 14px!important;
    line-height: 1.42857143!important
}

.cust-div-top {
    top: 46px!important
}

.para-text {
    font-size: 16px
}

.icon-bg {
    font-size: 250px!important;
    color: #37474f;
    text-align: center;
    display: block!important
}

@media(max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media(min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media(min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}

.bg-dark {
    background: #263238!important
}

.bg-dark .lg-title {
    color: #eceff1
}

.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%
}

.carousel-inner>.item {
    display: none;
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000
    }
    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0
    }
    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0
    }
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right,
    .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.carousel-control:hover,
.carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    line-height: 1;
    font-family: 'Lato', sans-serif
}

.carousel-control .icon-prev:before {
    content: '\2039'
}

.carousel-control .icon-next:before {
    content: '\203a'
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0)
}

.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

.carousel-caption .btn {
    text-shadow: none
}

@media screen and (min-width:768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px
    }
    .carousel-indicators {
        bottom: 20px
    }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
    clear: both
}

#teamSlider .item,
#blogSlider .item {
    padding-left: 10px;
    padding-right: 10px
}

#teamSlider .owl-pagination {
    margin-top: 20px
}

#twitterSlider blockquote {
    border-left-color: rgba(0, 188, 212, 0.8)!important;
    color: #cfd8dc!important;
    font-weight: 300!important
}

#twitterSlider blockquote footer {
    font-weight: 400!important;
    color: #cfd8dc!important;
    padding: 0 0 0 0!important;
    background-color: #263238!important;
    border-top: none!important
}

#twitterSlider blockquote::before {
    content: ' '!important
}

#twitterSlider blockquote::after {
    content: ' '!important
}

#twitterSlider blockquote footer a {
    margin-left: 5px
}

#testimonialsSlider .item {
    padding-right: 10px
}

#skillsSlider .item {
    position: relative
}

#skillsSlider .item .skill {
    max-width: 150px;
    margin: auto;
    max-height: 150px
}

#skillsSlider .item .skill>i {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 65px;
    line-height: 150px;
    color: #777
}

#skillsSlider .item h3 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin: 17px auto
}

.owl-pagination {
    position: relative;
    padding: 0;
    list-style: none;
    cursor: default;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center
}

.owl-pagination .owl-page {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 2px 5px;
    box-shadow: 0 0 0 1px #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.owl-pagination .owl-page:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 1px #e0e0e0;
    border-radius: 50%;
    background-color: #e0e0e0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.owl-pagination .owl-page.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.bg-dark .owl-pagination .owl-page {
    box-shadow: 0 0 0 1px #37474f
}

.bg-dark .owl-pagination .owl-page:after {
    background-color: #37474f;
    box-shadow: 0 0 0 1px #37474f
}

.cbp-popup-singlePage .cbp-popup-navigation-wrap {
    background: #263238;
    color: #fff
}

.cbp-popup-singlePage-counter {
    color: #eceff1
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

@keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

.spinner {
    width: 4em;
    height: 4em;
    background: #00bcd4;
    -webkit-animation: rotateplane 1s infinite ease-out;
    animation: rotateplane 1s infinite ease-out
}

.welcome {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem
}

@media(min-width:600px) {
    .welcome {
        min-width: 500px
    }
}

@media(max-width:599px) {
    .welcome {
        min-width: 0
    }
}

.preloader-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #9e9e9e;
    z-index: 999999;
    text-align: center;
    overflow: hidden
}

#page-wrap {
    position: relative;
    opacity: 0;
    visibility: hidden;
    background: #fff
}

@-webkit-keyframes bgTransition {
    0% {
        background-color: #e84e40
    }
    5% {
        background-color: #ec407a
    }
    10% {
        background-color: #7e57c2
    }
    15% {
        background-color: #5c6bc0
    }
    20% {
        background-color: #42a5f5
    }
    25% {
        background-color: #03a9f4
    }
    30% {
        background-color: #00bcd4
    }
    35% {
        background-color: #009688
    }
    40% {
        background-color: #4caf50
    }
    45% {
        background-color: #8bc34a
    }
    50% {
        background-color: #c0ca33
    }
    55% {
        background-color: #fbc02d
    }
    60% {
        background-color: #ffc107
    }
    65% {
        background-color: #ff9800
    }
    70% {
        background-color: #ff5722
    }
    75% {
        background-color: #795548
    }
    80% {
        background-color: #9e9e9e
    }
    85% {
        background-color: #607d8b
    }
    90% {
        background-color: #546e7a
    }
    95% {
        background-color: #455a64
    }
    100% {
        background-color: #263238
    }
}

@keyframes bgTransition {
    0% {
        background-color: #e84e40
    }
    5% {
        background-color: #ec407a
    }
    10% {
        background-color: #7e57c2
    }
    15% {
        background-color: #5c6bc0
    }
    20% {
        background-color: #42a5f5
    }
    25% {
        background-color: #03a9f4
    }
    30% {
        background-color: #00bcd4
    }
    35% {
        background-color: #009688
    }
    40% {
        background-color: #4caf50
    }
    45% {
        background-color: #8bc34a
    }
    50% {
        background-color: #c0ca33
    }
    55% {
        background-color: #fbc02d
    }
    60% {
        background-color: #ffc107
    }
    65% {
        background-color: #ff9800
    }
    70% {
        background-color: #ff5722
    }
    75% {
        background-color: #795548
    }
    80% {
        background-color: #9e9e9e
    }
    85% {
        background-color: #607d8b
    }
    90% {
        background-color: #546e7a
    }
    95% {
        background-color: #455a64
    }
    100% {
        background-color: #263238
    }
}

.bgTransition1 {
    -webkit-animation: bgTransition 20s infinite linear alternate;
    animation: bgTransition 20s infinite linear alternate
}

.sce {
    padding: 50px 0!important
}

#twitterSlider blockquote {
    padding: 10px 20px;
    margin: 40px 0 20px;
    font-size: 16.5px;
    border-left: 5px solid #eee
}

.bg-dark .lg-title {
    color: #eceff1
}

.lg-title {
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #757575;
    font-size: 45px;
    margin-top: 0;
    line-height: 50px
}

.lg-subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #9e9e9e;
    top: -20px;
    position: relative;
    display: block
}

.bg-filter .lg-title,
.bg-filter .big-title {
    color: #fff
}

.icon .btn {
    min-height: 50px
}

.icon .form-control {
    height: 52px;
    padding: 17px 15px 17px 50px;
    font-size: 16px
}

.icon .control {
    position: relative;
    border-bottom: 1px solid #ddd!important
}

.icon .control i {
    position: absolute;
    font-size: 150%;
    color: #bdbdbd;
    top: 0;
    z-index: 2;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    left: 0
}

.icon textarea.form-control {
    line-height: normal!important;
    height: auto!important
}

.icon label[class^="error"] {
    color: #00bcd4;
    float: right;
    font-weight: 400;
    opacity: .65;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-bottom: 0
}

#error,
#success {
    display: none;
    color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 2px
}

#error {
    background: #00bcd4
}

#success {
    background: #00bcd4
}

#easy #vimage {
    width: 84px;
    height: 52px
}

.footer {
    text-align: center;
    background: #263238;
    color: #b0bec5;
    padding: 20px 0
}

.dark-icons {
    margin: 0
}

.dark-icons i {
    color: #eceff1;
    height: 35px;
    width: 35px;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    background: #37474f;
    border-radius: 50%;
    margin: 0 3px
}

.dark-icons i:hover {
    color: #00bcd4
}

h1 i:before,
h2 i:before,
h3 i:before,
h4 i:before,
h5 i:before,
button>i:before,
.btn>i:before {
    margin-right: 5px
}

.fa-long-arrow-right:before {
    margin-left: 5px
}

i.only-i:before,
.only-i i:before {
    margin-right: 0
}

.btn i:before,
button i:before {
    margin-right: 5px
}

.btn .fa-angle-double-right:before,
button .fa-angle-double-right:before {
    margin-left: 5px
}

.only-icon i:before {
    margin-right: 0!important;
    margin-left: 0!important
}

.icons-list {
    padding-left: 0;
    list-style: none
}

.icons-list li {
    display: inline!important;
    margin-bottom: 5px;
    padding-right: 2.5px;
    margin-top: 5px;
    padding-left: 2.5px
}

@media(min-width:992px) and (max-width:1200px) {
    .hover-content .icons-list li {
        padding-left: 0;
        padding-right: 0
    }
}

.info-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0
}

.info-list>li {
    margin-bottom: 15px
}

.info-list>li>i:before {
    margin-right: 8px
}

.info-list.text-special>li {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: .05em;
    color: #757575
}

.info-list.md-list li {
    margin-bottom: 10px;
    margin-top: 16px
}

.info-list.sm-list li {
    margin-bottom: 5px
}

.info-list.style {
    padding-left: 40px
}

.info-list.md-list li:last-child,
.info-list.sm-list li:last-child,
.info-list>li:last-child {
    margin-bottom: 0
}

.bg-primary .info-list li {
    color: #fff
}

.info-list-border>li {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px
}

.inline-btn>.btn {
    margin-right: 15px
}

.info-bar h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
    color: #757575;
    font-weight: 600
}

.info-bar>li {
    margin-bottom: 15px;
    color: #757575
}

.info-bar>li>p {
    margin-bottom: 0
}

.info-bar>li i {
    width: 1.5em;
    height: 1em;
    text-align: center;
    font-size: 70%;
    vertical-align: middle;
    line-height: .85em;
    color: #9e9e9e
}

.input-group-addon {
    border-radius: 0;
    background-color: #17b9e7;
    border-color: #17b9e7;
    color: #fff
}

.has-success .royal-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #019450
}

.has-success .form-control {
    border-color: #02c66c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-success .form-control:focus {
    border-color: #019450;
    box-shadow: none
}

.has-success .input-group-addon {
    color: #02c66c;
    background-color: #dff0d8;
    border-color: #02c66c
}

.has-success .form-control-feedback {
    color: #02c66c
}

.has-warning .royal-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #ec971f
}

.has-warning .form-control {
    border-color: #f0ad4e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-warning .form-control:focus {
    border-color: #c77c11;
    box-shadow: none
}

.has-warning .input-group-addon {
    color: #f0ad4e;
    background-color: #dff0d8;
    border-color: #f0ad4e
}

.has-warning .form-control-feedback {
    color: #f0ad4e
}

.has-error .royal-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #c9302c
}

.has-error .form-control {
    border-color: #d9534f;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-error .form-control:focus {
    border-color: #a02622;
    box-shadow: none
}

.has-error .input-group-addon {
    color: #d9534f;
    background-color: #dff0d8;
    border-color: #d9534f
}

.has-error .form-control-feedback {
    color: #d9534f
}

.form-group .glyphicon {
    margin-top: 5px
}

.modal-bg {
    background: #ddd!important
}

.box-css {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15)!important
}

.first-sub-head {
    z-index: 5;
    white-space: nowrap;
    transition: all 0s ease 0s;
    min-height: 0;
    min-width: 0;
    line-height: 24px;
    border-width: 0;
    margin: 0;
    padding: 5px 10px;
    letter-spacing: 0;
    font-size: 24px;
    left: 758px;
    top: 405px;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, -50, 0, 1);
    transform-origin: 50% 0 0
}

.head-css {
    position: relative;
    display: inline-block;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50% 50% 0
}

.s-title {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase
}

.s-title.s-dark {
    color: #222
}

.s-subtitle {
    color: #fff;
    font-size: 24px
}

.s-subtitle.s-dark {
    color: #222;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px
}

.s-title-v2 {
    font-size: 54px;
    color: #fff;
    text-transform: uppercase
}

.s-subtitle-v2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px
}

@media(min-width:992px) {
    .s-subtitle-v2,
    .s-title-v2,
    .s-title,
    .s-subtitle {
        font-weight: 300
    }
}

@media(max-width:991px) {
    .s-subtitle-v2,
    .s-title-v2,
    .s-title,
    .s-subtitle {
        font-weight: 400
    }
}

.lg-title {
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #757575;
    font-size: 45px;
    margin-top: 0;
    line-height: 50px
}

.lg-subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #9e9e9e;
    top: -20px;
    position: relative;
    display: block
}

@media(min-width:768px) {
    .big-title {
        font-size: 40px;
        color: #757575
    }
    .big-subtitle {
        font-size: 18px;
        color: #9e9e9e;
        margin: 20px auto 0;
        font-weight: 300;
        line-height: 28px;
        max-width: 85%;
        letter-spacing: .25px
    }
}

@media(max-width:768px) {
    .big-title {
        font-size: 30px;
        color: #757575
    }
    .big-subtitle {
        font-size: 15px;
        color: #757575;
        margin: 15px auto 0;
        line-height: 20px
    }
}

.bg-filter .lg-title,
.bg-filter .big-title {
    color: #fff
}

.xlg-title {
    font-size: 5em
}

.title-sm {
    font-size: 1.5em;
    text-transform: uppercase
}

.title-sm-v2 {
    font-weight: 400;
    color: #777;
    text-transform: uppercase
}

@media(min-width:1300px) {
    .wrap-width .forcefullwidth_wrapper_tp_banner,
    .wrap-width .tp-banner-container,
    .wrap-width .navbar,
    .wrap-width .container,
    .wrap-width #page-wrap {
        width: 1170px!important
    }
}

@media(min-width:992px) and (max-width:1299px) {
    .wrap-width .forcefullwidth_wrapper_tp_banner,
    .wrap-width .tp-banner-container,
    .wrap-width .navbar,
    .wrap-width .container,
    .wrap-width #page-wrap {
        width: 970px!important
    }
}

@media(max-width:991px) {
    .wrap-width .forcefullwidth_wrapper_tp_banner,
    .wrap-width .tp-banner-container,
    .wrap-width .navbar,
    .wrap-width .container,
    .wrap-width #page-wrap {
        width: 100%!important
    }
}

.wrap-width #page-wrap {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

.wrap-width .navbar {
    margin: 0 auto
}

.wrap-width .tp-banner-container {
    left: 50%!important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.wrap-width .tp-leftarrow.tparrows.default.preview4 {
    left: 0!important
}

.wrap-width .tp-rightarrow.tparrows.default.preview4 {
    right: 0!important
}

#red {
    background-color: #e84e40
}

#pink {
    background-color: #ec407a
}

#deepPurple {
    background-color: #7e57c2
}

#indigo {
    background-color: #5c6bc0
}

#blue {
    background-color: #42a5f5
}

#lightBlue {
    background-color: #03a9f4
}

#cyan {
    background-color: #00bcd4
}

#teal {
    background-color: #009688
}

#green {
    background-color: #4caf50
}

#lightGreen {
    background-color: #8bc34a
}

#lime {
    background-color: #c0ca33
}

#yellow {
    background-color: #fbc02d
}

#amber {
    background-color: #ffc107
}

#orange {
    background-color: #ff9800
}

#deepOrange {
    background-color: #ff5722
}

@-webkit-keyframes colorAnimation {
    0% {
        color: #e84e40
    }
    5% {
        color: #ec407a
    }
    10% {
        color: #7e57c2
    }
    15% {
        color: #5c6bc0
    }
    20% {
        color: #42a5f5
    }
    25% {
        color: #03a9f4
    }
    30% {
        color: #00bcd4
    }
    35% {
        color: #009688
    }
    40% {
        color: #4caf50
    }
    45% {
        color: #8bc34a
    }
    50% {
        color: #c0ca33
    }
    55% {
        color: #fbc02d
    }
    60% {
        color: #ffc107
    }
    65% {
        color: #ff9800
    }
    70% {
        color: #ff5722
    }
    75% {
        color: #795548
    }
    80% {
        color: #9e9e9e
    }
    85% {
        color: #607d8b
    }
    90% {
        color: #546e7a
    }
    95% {
        color: #455a64
    }
    100% {
        color: #263238
    }
}

@keyframes colorAnimation {
    0% {
        color: #e84e40
    }
    5% {
        color: #ec407a
    }
    10% {
        color: #7e57c2
    }
    15% {
        color: #5c6bc0
    }
    20% {
        color: #42a5f5
    }
    25% {
        color: #03a9f4
    }
    30% {
        color: #00bcd4
    }
    35% {
        color: #009688
    }
    40% {
        color: #4caf50
    }
    45% {
        color: #8bc34a
    }
    50% {
        color: #c0ca33
    }
    55% {
        color: #fbc02d
    }
    60% {
        color: #ffc107
    }
    65% {
        color: #ff9800
    }
    70% {
        color: #ff5722
    }
    75% {
        color: #795548
    }
    80% {
        color: #9e9e9e
    }
    85% {
        color: #607d8b
    }
    90% {
        color: #546e7a
    }
    95% {
        color: #455a64
    }
    100% {
        color: #263238
    }
}

@media(min-width:768px) {
    .colorAnimation {
        -webkit-animation: colorAnimation 20s infinite linear alternate;
        animation: colorAnimation 20s infinite linear alternate
    }
}

.knobs {
    text-align: center
}

.knobs div h3,
.knobs div h2 {
    margin-top: -35px;
    color: #757575
}

.tp-banner-container {
    position: relative!important;
    overflow: hidden!important;
    max-height: 700px!important;
    max-width: 100%!important
}

.font-head-sol {
    font-size: 30px!important
}

.text-icon-content p {
    margin-top: 5px
}

.slogan {
    font-family: "Roboto";
    font-size: 2em;
    line-height: 150%;
    margin-bottom: 50px;
    font-weight: 300;
    color: #fff
}

.plus-css {
    padding: 34px 0 34px 0!important
}

.font-css {
    font-size: 13px!important
}

.errorDiv{
	color: #ff0000;
    font-size: 10px;
    margin-bottom: 0px !important;
    margin-top: 2px;
}