.hover-content {
    overflow: hidden;
    position: relative
}

.hideOveflow {
    overflow: hidden!important
}

.space,
.space-sm,
.space-md,
.space-lg,
.space-xlg {
    display: block;
    float: none;
    clear: both
}

.space-sm {
    padding-top: 15px
}

.space-md {
    padding-top: 20px
}

.space {
    padding-top: 30px
}

.space-lg {
    padding-top: 50px
}

.space-xlg {
    padding-top: 80px
}

.hr {
    margin-top: 40px;
    margin-bottom: 40px
}

@media(min-width:768px) {
    .section-sm {
        padding: 20px 0
    }
    .section-md {
        padding: 30px 0
    }
    .section {
        padding: 50px 0
    }
    .section-lg {
        padding: 80px 0
    }
    .section-xlg {
        padding: 100px 0
    }
}

@media(max-width:768px) {
    .section-sm {
        padding: 15px 0
    }
    .section-md {
        padding: 20px 0
    }
    .section {
        padding: 30px 0
    }
    .section-lg {
        padding: 50px 0
    }
    .section-xlg {
        padding: 70px 0
    }
}

.container-fluid.section,
.container-fluid.section-md,
.container-fluid.section-sm,
.container-fluid.section-lg,
.container-fluid.section-xlg,
.container.section,
.container.section-sm,
.container.section-md,
.container.section-lg,
.container.section-xlg {
    padding-left: 15px;
    padding-right: 15px
}

.section-sm,
.section-md,
.section-lg,
.section {
    position: relative
}

.hv-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.centerY {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.m-no-all {
    margin: 0!important
}

.m-no-bottom {
    margin-bottom: 0!important
}

.m-no-top {
    margin-top: 0!important
}

.m-no-left {
    margin-left: 0!important
}

.m-no-right {
    margin-right: 0!important
}

.m-10-top {
    margin-top: 10px!important
}

.p-no-all {
    padding: 0!important
}

.p-no-bottom {
    padding-bottom: 0!important
}

.p-no-top {
    padding-top: 0!important
}

.p-no-left {
    padding-left: 0!important
}

.p-no-right {
    padding-right: 0!important
}

.input-group.center-block {
    display: inline-table
}

.no-overflow {
    position: relative;
    overflow: hidden
}

.p-relative {
    position: relative
}

.container-sm {
    max-width: 57.14285714em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px
}

.bg-grey {
    background: rgba(236, 239, 241, 0.5)!important
}

.bg-dark {
    background: #263238!important
}

.bg-dark .lg-title {
    color: #eceff1
}

.bg-filter {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: #fff
}

.bg-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1
}

@media(min-width:992px) {
    .bg-img {
        height: 350px
    }
}

@media(max-width:991px) {
    .bg-img {
        height: 250px
    }
}

@media(max-width:767px) {
    .bg-img {
        height: 180px
    }
}

.bg-img .bg-filter {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25)
}

.bg-img img {
    position: relative;
    left: 0!important;
    right: 0!important;
    -webkit-transform: translate(0, -20%);
    -ms-transform: translate(0, -20%);
    transform: translate(0, -20%);
    z-index: -1;
    height: auto;
    display: block;
    max-width: 100%
}

.facebook {
    background: #3b5998
}

.text-facebook {
    color: #3b5998
}

.google {
    background: #d34836
}

.text-google {
    color: #d34836
}

.twitter {
    background: #4099ff
}

.text-twitter {
    color: #4099ff
}

.youtube {
    background: #b00
}

.text-youtube {
    color: #b00
}

.linkedin {
    background: #007bb6
}

.text-linkedin {
    color: #007bb6
}

.instagram {
    background: #517fa4
}

.text-instagram {
    color: #517fa4
}

.pinterest {
    background: #cb2027
}

.text-pinterest {
    color: #cb2027
}

.vine {
    background: #00bf8f
}

.text-vine {
    color: #00bf8f
}

.snapchat {
    background: #fffc00
}

.text-snapchat {
    color: #fffc00
}

.flickr {
    background: #fffc00
}

.text-flickr {
    color: #fffc00
}

.tumblr {
    background: #32506d
}

.text-tumblr {
    color: #32506d
}

.vimeo {
    background: #aad450
}

.text-vimeo {
    color: #aad450
}

.foursquare {
    background: #0072b1
}

.text-foursquare {
    color: #0072b1
}

@-webkit-keyframes easeUp {
    0% {
        opacity: 0;
        -webkit-transform: translate(0%, 35px);
        transform: translate(0%, 35px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0px);
        transform: translate(0%, 0px)
    }
}

@keyframes easeUp {
    0% {
        opacity: 0;
        -webkit-transform: translate(0%, 35px);
        transform: translate(0%, 35px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%, 0px);
        transform: translate(0%, 0px)
    }
}

.easeUp {
    -webkit-animation-name: easeUp;
    animation-name: easeUp
}

@-webkit-keyframes easeFade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes easeFade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.easeFade {
    -webkit-animation-name: easeFade;
    animation-name: easeFade;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms
}

.animation {
    visibility: hidden
}

.slideUp.animation,
.slideDown.animation,
.slideLeft.animation,
.slideRight.animation,
.slideExpand.animation,
.expandUp.animation,
.fadeIn.animation,
.expandOpen.animation,
.bigEntrance.animation,
.hatch.animation,
.bounce.animation,
.pulse.animation,
.floating.animation,
.tossing.animation,
.pullUp.animation,
.pullDown.animation,
.strechLeft.animation,
.strechRight.animation {
    visibility: visible
}

html {
    -webkit-font-smoothing: antialiased;
    position: relative
}

body {
    position: relative
}

::-moz-selection,
::-moz-selection {
    background: #424242;
    color: #fff;
    text-shadow: none
}

::-moz-selection,
::selection {
    background: #424242;
    color: #fff;
    text-shadow: none
}

.s-title {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase
}

.s-title.s-dark {
    color: #222
}

.s-subtitle {
    color: #fff;
    font-size: 24px
}

.s-subtitle.s-dark {
    color: #222;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px
}

.s-title-v2 {
    font-size: 54px;
    color: #fff;
    text-transform: uppercase
}

.s-subtitle-v2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px
}

@media(min-width:992px) {
    .s-subtitle-v2,
    .s-title-v2,
    .s-title,
    .s-subtitle {
        font-weight: 300
    }
}

@media(max-width:991px) {
    .s-subtitle-v2,
    .s-title-v2,
    .s-title,
    .s-subtitle {
        font-weight: 400
    }
}

.lg-title {
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #757575;
    font-size: 45px;
    margin-top: 0;
    line-height: 50px
}

.lg-subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #9e9e9e;
    top: -20px;
    position: relative;
    display: block
}

@media(min-width:768px) {
    .big-title {
        font-size: 40px;
        color: #757575
    }
    .big-subtitle {
        font-size: 18px;
        color: #9e9e9e;
        margin: 20px auto 0;
        font-weight: 300;
        line-height: 28px;
        max-width: 85%;
        letter-spacing: .25px
    }
}

@media(max-width:768px) {
    .big-title {
        font-size: 30px;
        color: #757575
    }
    .big-subtitle {
        font-size: 15px;
        color: #757575;
        margin: 15px auto 0;
        line-height: 20px
    }
}

.bg-filter .lg-title,
.bg-filter .big-title {
    color: #fff
}

.xlg-title {
    font-size: 5em
}

.title-sm {
    font-size: 1.5em;
    text-transform: uppercase
}

.title-sm-v2 {
    font-weight: 400;
    color: #777;
    text-transform: uppercase
}

.text-block {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #9e9e9e
}

.text-block-v1 {
    line-height: 28px;
    letter-spacing: .25px;
    color: #757575
}

.text-block-v2 {
    line-height: 22px;
    color: #757575
}

.text-black {
    color: #000
}

.text-muted {
    color: #757575!important
}

.text-white {
    color: #fff!important
}

.text-light {
    color: #e0e0e0
}

a.text-light {
    color: #bababa
}

.text-primary {
    color: #00bcd4
}

a.text-primary:hover {
    color: #007888
}

.text-success {
    color: #00bcd4
}

a.text-success:hover {
    color: #007888
}

.text-info {
    color: #00bcd4
}

a.text-info:hover {
    color: #007888
}

.text-warning {
    color: #00bcd4
}

a.text-warning:hover {
    color: #007888
}

.text-danger {
    color: #00bcd4
}

a.text-danger:hover {
    color: #007888
}

.bg-primary {
    color: #fff!important;
    background-color: #00bcd4!important
}

a.bg-primary:hover {
    color: #fff;
    background-color: #007888
}

.bg-success {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-success:hover {
    background-color: #007888
}

.bg-info {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-info:hover {
    background-color: #007888
}

.bg-warning {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-warning:hover {
    background-color: #007888
}

.bg-danger {
    color: #fff;
    background-color: #00bcd4!important
}

a.bg-danger:hover {
    background-color: #007888
}

.primary span {
    color: #00bcd4
}

.success span {
    color: #00bcd4
}

.info span {
    color: #00bcd4
}

.warning span {
    color: #00bcd4
}

.danger span {
    color: #00bcd4
}

ul.default span,
ul.danger span,
ul.warning span,
ul.info span,
ul.success span,
ul.primary span {
    margin-right: 5px
}

.icons-list {
    padding-left: 0;
    list-style: none
}

.icons-list li {
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 2.5px;
    margin-top: 5px;
    padding-left: 2.5px
}

@media(min-width:992px) and (max-width:1200px) {
    .hover-content .icons-list li {
        padding-left: 0;
        padding-right: 0
    }
}

.info-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0
}

.info-list>li {
    margin-bottom: 15px
}

.info-list>li>i:before {
    margin-right: 8px
}

.info-list.text-special>li {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: .05em;
    color: #757575
}

.info-list.md-list li {
    margin-bottom: 10px
}

.info-list.sm-list li {
    margin-bottom: 5px
}

.info-list.style {
    padding-left: 40px
}

.info-list.md-list li:last-child,
.info-list.sm-list li:last-child,
.info-list>li:last-child {
    margin-bottom: 0
}

.bg-primary .info-list li {
    color: #fff
}

.info-list-border>li {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px
}

.inline-btn>.btn {
    margin-right: 15px
}

.info-bar h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
    color: #757575;
    font-weight: 600
}

.info-bar>li {
    margin-bottom: 15px;
    color: #757575
}

.info-bar>li>p {
    margin-bottom: 0
}

.info-bar>li i {
    width: 1.5em;
    height: 1em;
    text-align: center;
    font-size: 70%;
    vertical-align: middle;
    line-height: .85em;
    color: #9e9e9e
}

.list-btn {
    list-style: none;
    padding: 0;
    margin: 0
}

@media(min-width:768px) {
    .list-btn li {
        display: inline-block
    }
    .list-btn li:first-child {
        margin-right: 15px
    }
}

@media(max-width:768px) {
    .list-btn li {
        display: block
    }
    .list-btn li:first-child {
        margin-bottom: 15px
    }
    .list-btn li a,
    .list-btn li button {
        width: 100%
    }
}

a:hover,
a:focus {
    color: #007888;
    text-decoration: none
}

a:focus {
    outline: 0
}

h3>.label,
h2>.label,
h1>.label {
    font-weight: 300
}

.dl-horizontal {
    margin-bottom: 0
}

@media(max-width:767px) {
    .dl-horizontal dd:not(: last-child) {
        margin-bottom: 15px
    }
}

.dl-horizontal dt {
    font-weight: 400;
    text-transform: uppercase;
    padding: 2.5px 0
}

.dl-horizontal dd {
    padding: 2.5px 0
}

.i-width,
.i-width-sm {
    margin: auto;
    text-align: center
}

.i-width {
    width: 25px
}

.i-width-sm {
    width: 13px
}

.i-primary i {
    color: #00bcd4
}

.i-success i {
    color: #00bcd4
}

.i-danger i {
    color: #00bcd4
}

.i-info i {
    color: #00bcd4
}

.i-warning i {
    color: #00bcd4
}

.circle-icons i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: #00bcd4;
    font-size: 13px!important;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.circle-icons li:hover i {
    background: #00bcd4;
    color: #fff
}

.dark-icons {
    margin: 0
}

.dark-icons i {
    color: #eceff1;
    height: 35px;
    width: 35px;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    background: #37474f;
    border-radius: 50%;
    margin: 0 3px
}

.dark-icons i:hover {
    color: #00bcd4
}

h1 i:before,
h2 i:before,
h3 i:before,
h4 i:before,
h5 i:before,
button>i:before,
.btn>i:before {
    margin-right: 5px
}

.fa-long-arrow-right:before {
    margin-left: 5px
}

i.only-i:before,
.only-i i:before {
    margin-right: 0
}

.btn i:before,
button i:before {
    margin-right: 5px
}

.btn .fa-angle-double-right:before,
button .fa-angle-double-right:before {
    margin-left: 5px
}

.only-icon i:before {
    margin-right: 0!important;
    margin-left: 0!important
}

.icon-u {
    color: #00bcd4;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px!important;
    background: #fff;
    font-size: 50px!important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.15);
    display: inline-block
}

.icon-bg {
    font-size: 250px!important;
    color: #37474f;
    text-align: center;
    display: block!important
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 2px
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-default {
    color: #9e9e9e;
    background-color: transparent;
    border-color: #eee!important
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default .open>.dropdown-toggle.btn-default {
    color: #757575;
    background-color: #eee;
    border-color: #c8c8c8
}

@media(min-width:768px) {
    .btn-xlg {
        padding: 15px 20px!important;
        letter-spacing: 1px;
        text-transform: uppercase
    }
}

@media(max-width:768px) {
    .btn-xlg {
        padding: 10px 15px!important;
        text-transform: uppercase
    }
}

.btn-default-trn {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff!important
}

.btn-default-trn:focus,
.btn-default-trn:hover {
    color: #757575;
    background-color: #fff
}

.btn-default-trn-v2 {
    color: #9e9e9e;
    background-color: transparent;
    border: 1px solid #e0e0e0!important
}

.btn-default-trn-v2:focus,
.btn-default-trn-v2:hover {
    color: #424242;
    background-color: transparent
}

.btn-primary-trn {
    color: #00bcd4;
    background-color: transparent;
    border: 1px solid #00bcd4!important
}

.btn-primary-trn:focus,
.btn-primary-trn:hover {
    color: #fff;
    background-color: #00bcd4
}

.btn-success-trn-v2 {
    color: #00bcd4;
    background-color: transparent;
    border: 1px solid #00bcd4!important
}

.btn-success-trn-v2:focus,
.btn-success-trn-v2:hover {
    color: #fff;
    background-color: #00bcd4
}

.btn-info-trn {
    color: #00bcd4;
    background-color: transparent;
    border: 1px solid #00bcd4!important
}

.btn-info-trn:focus,
.btn-info-trn:hover {
    color: #fff;
    background-color: #00bcd4
}

.btn-warning-trn {
    color: #00bcd4;
    background-color: transparent;
    border: 1px solid #00bcd4!important
}

.btn-warning-trn:focus,
.btn-warning-trn:hover {
    color: #fff;
    background-color: #00bcd4
}

.btn-danger-trn {
    color: #00bcd4;
    background-color: transparent;
    border: 1px solid #00bcd4!important
}

.btn-danger-trn:focus,
.btn-danger-trn:hover {
    color: #fff;
    background-color: #00bcd4
}

.btn-link-trn {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent!important
}

.btn-link-trn:focus,
.btn-link-trn:hover {
    color: #e0e0e0
}

.btn-link {
    -webkit-transition: border .35s ease-out;
    transition: border .35s ease-out;
    background: 0;
    text-transform: uppercase;
    padding: 0;
    font-size: 14px
}

.btn-link:focus,
.btn-link:hover {
    color: #008fa1;
    text-decoration: none
}

.btn.action {
    background: 0;
    text-transform: uppercase;
    padding: 0;
    color: #00bcd4
}

@media(max-width:767px) {
    .form-horizontal {
        margin-left: 15px;
        margin-right: 30px
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857143;
    color: #757575;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.form-control:focus {
    outline: 0;
    border-bottom-color: #00bcd4;
    box-shadow: none
}

.form-control::-webkit-input-placeholder {
    color: #bdbdbd
}

.form-control:-moz-placeholder {
    color: #bdbdbd;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #bdbdbd;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #bdbdbd
}

.icon .btn {
    min-height: 50px
}

.icon .form-control {
    height: 52px;
    padding: 17px 15px 17px 50px;
    font-size: 16px
}

.icon .control {
    position: relative
}

.icon .control i {
    position: absolute;
    font-size: 150%;
    color: #bdbdbd;
    top: 0;
    z-index: 2;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    left: 0
}

.icon textarea.form-control {
    line-height: normal!important;
    height: auto!important
}

.icon label[class^="error"] {
    color: #00bcd4;
    float: right;
    font-weight: 400;
    opacity: .65;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-bottom: 0
}

@media(max-width:767px) {
    .icon label[class^="error"] {
        right: 20px
    }
}

.icon #Message-error {
    top: 30px
}

#error,
#success {
    display: none;
    color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 2px
}

#error {
    background: #00bcd4
}

#success {
    background: #00bcd4
}

#easy #vimage {
    width: 84px;
    height: 52px
}

.thumbnail {
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14)
}

.content-box {
    padding-bottom: 50px;
    overflow: hidden
}

.content-box>.body {
    overflow: hidden
}

.content-box p {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 300;
    color: #b0bec5
}

.content-box h4 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 15px;
    color: #00bcd4
}

.content-box h4>em {
    color: #b0bec5;
    margin-left: 5px;
    font-size: 13px
}

.content-box>.profile,
.content-box>img {
    height: 80px;
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 20px
}

.grid-portfolio {
    text-align: center
}

.grid-portfolio .hover-content {
    max-width: 360px;
    max-height: 270px;
    margin: auto
}

.hover-content:hover .top-part,
.hover-content:hover .bottom-part {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1
}

.bottom-part,
.top-part {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    bottom: 0;
    cursor: pointer
}

.top-part {
    top: 0;
    height: 79%;
    background: rgba(0, 188, 212, 0.6);
    color: #fff;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%)
}

.top-part i {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.bottom-part {
    height: 21%;
    background: #f5f5f5;
    -webkit-transform: translate(0%, 100%);
    -ms-transform: translate(0%, 100%);
    transform: translate(0%, 100%)
}

.bottom-part h3 {
    margin: 0;
    color: #757575;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.bg-grey-1 .bottom-part,
.bg-grey .bottom-part {
    background: #fff
}

.bg-grey-1 .bottom-part h3,
.bg-grey .bottom-part h3 {
    color: #9e9e9e
}

.profile {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto
}

.content-open {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 15px;
    max-width: 450px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: rotateX(0deg) rotateY(-180deg);
    transform: rotateX(0deg) rotateY(-180deg);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.content-open small,
.content-open p,
.content-open h3 {
    text-align: center;
    color: #212121
}

.content-open p {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px
}

.content-open h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px
}

.hover-content:hover .content-open {
    opacity: 1;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg)
}

@media(min-width:992px) {
    .team-grid .row:not(: last-child) .profile-circle {
        margin-bottom: 75px
    }
}

@media(max-width:992px) {
    .team-grid .profile-circle {
        margin-bottom: 75px
    }
}

.profile-circle {
    max-width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.profile-circle>hr {
    max-width: 80px;
    border-color: #e0e0e0;
    margin-top: 18px;
    margin-bottom: 15px
}

.profile-circle>p,
.profile-circle>h3 {
    margin-bottom: 0
}

.profile-circle>p {
    color: #9e9e9e;
    max-height: 80px;
    overflow: hidden
}

.profile-circle>button {
    background: 0;
    margin: 5px auto auto auto;
    border: 0;
    text-transform: uppercase;
    font-weight: 300;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 14px;
    color: #757575
}

.profile-circle:hover button {
    color: #00bcd4
}

.profile-circle .hover-content {
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin: auto
}

.content-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 15px 8px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    max-width: 450px;
    border-radius: 50%
}

.profile-circle:hover .content-circle {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.content-center .circle-icons {
    top: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%
}

.profile-1 {
    background-image: url("../../../img/faces/1.jpg")
}

.profile-2 {
    background-image: url("../../../img/faces/2.jpg")
}

.profile-3 {
    background-image: url("../../../img/faces/3.jpg")
}

.profile-4 {
    background-image: url("../../../img/faces/4.jpg")
}

.lg-size.profile {
    height: 200px;
    width: 200px
}

.xs-size.profile {
    height: 100px;
    width: 100px
}

.profile {
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin: auto;
    text-align: center
}

.lg-tabs {
    margin: auto;
    text-align: center;
    padding: 0;
    list-style: none
}

.lg-tabs li {
    background: #fff;
    position: relative;
    min-height: 1px;
    float: left
}

.lg-tabs li a:hover,
.lg-tabs li.active a {
    color: #00bcd4
}

.lg-tabs li .label {
    position: relative;
    top: -2.5px;
    margin-left: 2px
}

.lg-tabs a {
    color: #757575;
    background: #fff;
    display: block
}

@media(min-width:768px) {
    .lg-tabs li {
        min-width: 25%;
        padding: 25px 15px;
        border-right: 1px dashed #eee;
        border-left: 1px dashed #eee;
        margin-right: -2px
    }
    .lg-tabs a {
        -webkit-transition: color .35s ease;
        transition: color .35s ease
    }
    .lg-tabs i {
        font-size: 40px
    }
    .lg-tabs h3 {
        margin: 20px 0 0;
        text-transform: uppercase;
        font-size: 18px
    }
}

@media(max-width:1199px) {
    .lg-tabs li {
        padding: 25px 10px
    }
}

@media(max-width:991px) {
    .lg-tabs li {
        width: 50%
    }
    .lg-tabs li:not(:last-child):not(:nth-child(3)) {
        border-bottom: 1px dashed #eee
    }
}

@media(max-width:767px) {
    .lg-tabs li {
        width: 100%;
        padding: 15px 5px
    }
    .lg-tabs li:not(:last-child) {
        border-bottom: 1px dashed #eee
    }
    .lg-tabs i {
        font-size: 24px;
        float: left;
        line-height: 30px;
        width: 50px
    }
    .lg-tabs h3 {
        text-align: left;
        margin: 0;
        line-height: 30px;
        font-size: 24px;
        overflow: hidden
    }
}

.filter-tabs {
    text-align: center;
    margin: 15px 0 30px 0;
    padding: 0
}

.filter-tabs>div {
    padding: 15px 20px;
    background: #37474f;
    color: #eceff1;
    border-radius: 2px;
    cursor: pointer;
    list-style: none;
    overflow: hidden;
    position: relative;
    letter-spacing: .5px;
    font-size: 13px
}

.filter-tabs>div.cbp-filter-item-active {
    background-color: #00bcd4;
    color: #eceff1
}

.filter-tabs>div.cbp-filter-item-active:hover {
    background-color: #00a5bb;
    color: #fff
}

@media(min-width:768px) {
    .filter-tabs>div {
        display: inline-block;
        margin: 0 7px 0 0;
        -webkit-transition: all .35s ease;
        transition: all .35s ease
    }
    .filter-tabs>div:hover {
        background: #41555e
    }
}

@media(max-width:767px) {
    .filter-tabs>div {
        display: block;
        margin: 0 5px 5px 0
    }
    .filter-tabs>div:hover {
        color: #00bcd4
    }
    .filter-tabs>div.cbp-filter-item-active:hover {
        color: #eceff1
    }
}

.dotstyle {
    text-align: center;
    margin-bottom: 15px!important;
    margin-top: -15px;
    position: relative;
    padding: 0;
    list-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dotstyle li {
    display: inline-block;
    margin: 0 3px;
    width: 14px;
    height: 14px;
    cursor: pointer
}

.dotstyle li a {
    display: block;
    position: absolute;
    box-shadow: 0 0 0 1px #e0e0e0;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    overflow: hidden;
    padding: 0
}

.dotstyle li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 1px #e0e0e0;
    border-radius: 50%;
    background-color: #e0e0e0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.dotstyle li.active a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.breakPoint {
    top: -59px;
    visibility: hidden;
    position: relative;
    display: block
}

.nav-trn-style {
    background: rgba(38, 50, 56, 0.9)!important
}

.navbar-hide {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

@media(min-width:768px) {
    .navbar-height.navbar .navbar-brand {
        padding-top: 35px;
        padding-bottom: 35px;
        height: 90px
    }
    .navbar-height.navbar .navbar-nav>li>a {
        padding-top: 38.5px;
        padding-bottom: 38.5px;
        height: 90px
    }
    .active#navbarSpaceBottom {
        height: 90px
    }
}

@media(max-width:767px) {
    .active#navbarSpaceBottom {
        height: 60px
    }
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
    z-index: 999;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.navbar .navbar-brand {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px
}

.navbar .navbar-nav>li>a {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    font-size: 13px;
    letter-spacing: .5px;
    line-height: 13px;
    text-transform: uppercase;
    font-weight: 300
}

@media(min-width:768px) {
    .navbar .navbar-nav>li>a {
        padding-top: 23.5px;
        padding-bottom: 23.5px;
        height: 60px
    }
}

@media(max-width:767px) {
    .navbar .navbar-nav>li>a {
        text-align: center;
        font-weight: 400!important
    }
}

@media(min-width:768px) and (max-width:991px) {
    .navbar .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px
    }
}

.navbar .navbar-toggle,
.navbar .icon-bar {
    -webkit-transition: -webkit-transform .15s ease;
    transition: transform .15s ease
}

.navbar .navbar-toggle {
    top: 13.5px;
    right: 18px;
    border: 0;
    margin: 0;
    padding: 0;
    height: 33px;
    width: 33px;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    position: relative;
    float: right
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: transparent!important
}

.navbar .navbar-toggle .icon-bar {
    width: 85%;
    height: 2px;
    margin: auto;
    border-radius: 0
}

.navbar .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px
}

.navbar .navbar-open.navbar-toggle .icon-bar {
    transition: transform .15s ease;
    -webkit-transition: -webkit-transform .15s ease;
    position: absolute;
    width: 100%
}

.navbar .navbar-open.navbar-toggle .icon-bar:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.navbar .navbar-open.navbar-toggle .icon-bar:nth-child(3) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s
}

.navbar .navbar-open.navbar-toggle .icon-bar:nth-child(4) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 0
}

@media(min-width:768px) {
    .navbar .navbar-nav>li>a:after {
        content: "";
        display: block;
        position: absolute;
        width: 20%;
        -webkit-transition: width .15s ease;
        transition: width .15s ease;
        border-bottom: 2px solid transparent;
        padding-top: 8px;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        left: 50%
    }
    .navbar .navbar-nav>li.active>a:after {
        width: 50%;
        border-bottom-color: #00bcd4
    }
}

@media(max-width:767px) {
    .navbar-trn .navbar-collapse {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4)
    }
}

.navbar-default {
    background-color: #fff;
    border-color: transparent
}

.navbar-default .navbar-text,
.navbar-default .navbar-brand {
    color: #757575
}

.navbar-default .navbar-nav>li>a {
    color: #757575
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #4f4f4f;
    background-color: rgba(117, 117, 117, 0.15)
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #757575;
    background-color: transparent
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: rgba(117, 117, 117, 0.75);
    background-color: transparent
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #00bcd4;
    color: #fff
}

.navbar-default .navbar-toggle {
    border-color: transparent
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #757575
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #cecece
}

.navbar-trn {
    background: rgba(38, 50, 56, 0.85);
    border-color: transparent
}

.navbar-trn .navbar-link,
.navbar-trn .navbar-brand {
    color: #fff
}

.navbar-trn .dropdown-menu {
    box-shadow: none
}

@media(min-width:768px) {
    .navbar-trn .navbar-text,
    .navbar-trn .navbar-nav>li>a {
        color: #fff
    }
    .navbar-trn .navbar-text:hover,
    .navbar-trn .navbar-nav>li>a:hover,
    .navbar-trn .navbar-text:focus,
    .navbar-trn .navbar-nav>li>a:focus {
        color: #fff;
        background: rgba(255, 255, 255, 0.05)
    }
    .navbar-trn .navbar-nav>.open>a,
    .navbar-trn .navbar-nav>.open>a:hover,
    .navbar-trn .navbar-nav>.open>a:focus,
    .navbar-trn .navbar-nav>.disabled>a,
    .navbar-trn .navbar-nav>.disabled>a:hover,
    .navbar-trn .navbar-nav>.disabled>a:focus,
    .navbar-trn .navbar-nav>.active>a,
    .navbar-trn .navbar-nav>.active>a:hover,
    .navbar-trn .navbar-nav>.active>a:focus {
        color: #fff;
        background: transparent
    }
}

@media(max-width:767px) {
    .navbar-trn {
        position: fixed;
        background: #263238;
        top: 0;
        left: 0;
        right: 0
    }
    .navbar-trn .navbar-text {
        color: #fff
    }
    .navbar-trn .navbar-nav>li>a {
        color: #a6a6a6
    }
    .navbar-trn .navbar-nav>li>a:hover,
    .navbar-trn .navbar-nav>li>a:focus {
        background: rgba(255, 255, 255, 0.8);
        color: #404040
    }
    .navbar-trn .navbar-nav>.open>a,
    .navbar-trn .navbar-nav>.open>a:hover,
    .navbar-trn .navbar-nav>.open>a:focus,
    .navbar-trn .navbar-nav>.active>a,
    .navbar-trn .navbar-nav>.active>a:hover,
    .navbar-trn .navbar-nav>.active>a:focus {
        color: #fff;
        background: #00bcd4
    }
    .navbar-trn .navbar-nav>.disabled>a,
    .navbar-trn .navbar-nav>.disabled>a:hover,
    .navbar-trn .navbar-nav>.disabled>a:focus {
        color: #a6a6a6;
        background: transparent
    }
    .navbar-trn .navbar-toggle .icon-bar {
        background-color: #fff
    }
    .navbar-trn .navbar-collapse,
    .navbar-trn .navbar-form {
        border-color: #fff
    }
    .navbar-trn .open .dropdown-menu>li>a {
        color: #404040
    }
    .navbar-trn .open .dropdown-menu>.active>a,
    .navbar-trn .open .dropdown-menu>.active>a:hover,
    .navbar-trn .open .dropdown-menu>.active>a:focus,
    .navbar-trn .open .dropdown-menu>li>a:hover,
    .navbar-trn .open .dropdown-menu>li>a:focus {
        color: #fff;
        background: #00bcd4
    }
    .navbar-trn .open .dropdown-menu>.disabled>a,
    .navbar-trn .open .dropdown-menu>.disabled>a:hover,
    .navbar-trn .open .dropdown-menu>.disabled>a:focus {
        color: #a6a6a6;
        background-color: transparent
    }
    .navbar-trn .navbar-collapse {
        background: #fff
    }
}

.navbar-inverse {
    background-color: #263238;
    border-color: #263238
}

.navbar-inverse .navbar-text,
.navbar-inverse .navbar-brand {
    color: #eceff1
}

.navbar-inverse .navbar-nav>li>a {
    color: #eceff1
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background: rgba(236, 239, 241, 0.05)
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #8598a5;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #8598a5;
    color: #fff
}

@media(max-width:767px) {
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.dropdown-header,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.dropdown-header,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.dropdown-header {
        border-color: #8598a5
    }
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu .divider,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu .divider,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu .divider {
        background-color: #8598a5
    }
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>li>a,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>li>a,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>li>a {
        color: #eceff1
    }
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.active>a:focus,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.active>a:focus,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #8598a5
    }
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav>.open>a .dropdown-menu>.disabled>a:focus,
    .navbar-inverse .navbar-nav>.open>a:hover .dropdown-menu>.disabled>a:focus,
    .navbar-inverse .navbar-nav>.open>a:focus .dropdown-menu>.disabled>a:focus {
        color: #a3b1bb;
        background-color: transparent
    }
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #eceff1
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #304047
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 0;
    text-align: left;
    border-radius: 0;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.25);
    background-clip: padding-box
}

.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #eee
}

.dropdown-menu .label {
    margin-left: 5px
}

.dropdown-menu .pull-right {
    right: 0;
    left: auto
}

.dropdown-menu>li>a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #757575;
    white-space: nowrap;
    border-bottom: 0;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #757575;
    background-color: #eee;
    padding: 9px 25px 9px 25px
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #00bcd4
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #757575
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed
}

@media(min-width:768px) {
    .navbar-right .dropdown-menu {
        left: 0;
        right: auto
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }
}

.dropdown-submenu {
    position: relative
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin: 0
}

.dropdown-submenu .pull-left {
    float: none!important
}

.dropdown-submenu .pull-left>.dropdown-menu {
    left: -100%
}

@media(min-width:768px) {
    .dropdown-submenu>.dropdown-menu {
        box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.3)
    }
    .dropdown-submenu .pull-left>.dropdown-menu {
        box-shadow: -4px 6px 9px rgba(0, 0, 0, 0.3)
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display: block
    }
}

@media(max-width:768px) {
    .dropdown-submenu>.dropdown-menu {
        display: block;
        background-color: #f5f5f5!important
    }
}

.first,
.last,
.middle {
    position: relative
}

.last,
.first {
    z-index: 1
}

.middle {
    z-index: 2
}

.panel.prices-v1,
.panel.prices {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 0
}

.panel.prices-v1,
.panel.prices {
    border-color: transparent
}

.bg-primary.panel.prices-v1,
.bg-primary.panel.prices {
    border-color: #00bcd4
}

.prices-v1 .panel-body,
.prices .panel-body {
    padding: 25px
}

.ribbon {
    background: #fff;
    color: #00bcd4;
    position: absolute;
    top: 25px;
    left: -28px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    line-height: 24px;
    height: 25px;
    z-index: 3;
    width: 130px
}

.val {
    color: #00bcd4;
    font-size: 50px;
    margin: 20px 0
}

.val small {
    font-size: 20px;
    font-weight: 300
}

.bg-primary .val small,
.bg-primary .val {
    color: #fff
}

.prices-v1 .name {
    margin: 5px 0;
    font-size: 40px
}

.val-v1 {
    color: #00bcd4;
    font-size: 45px;
    margin: 10px 0 25px
}

.val-v1 small {
    font-size: 20px;
    font-weight: 300
}

.type {
    font-size: 2em;
    color: #757575;
    margin: 15px 0 30px
}

.price {
    font-size: 6em;
    line-height: 100px;
    margin: 20px 0 0
}

.month {
    color: #757575;
    text-transform: uppercase;
    font-weight: 300
}

.details {
    font-size: 1.5em;
    margin: 25px 0 10px
}

@media(max-width:768px) {
    .prices,
    .last.prices,
    .middle.prices {
        margin-bottom: 30px
    }
    .first.prices {
        margin-bottom: 60px
    }
}

@media(min-width:1200px) {
    .first.prices-v1,
    .first.prices {
        left: 80px
    }
    .last.prices-v1,
    .last.prices {
        right: 80px
    }
}

@media(max-width:767px) {
    .prices-v3.panel {
        max-width: 360px
    }
}

.timeline {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    position: relative
}

.timeline:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    left: 50%;
    border-left: 2px solid #00bcd4;
    top: 0;
    bottom: 0;
    z-index: 1
}

.timeline .btn-link {
    z-index: 5;
    position: relative
}

#loadNews {
    cursor: pointer;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.label-month {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    text-align: center;
    background: #00bcd4;
    padding: 14px 20px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    width: 230px;
    z-index: 2
}

.label-month:first-child {
    position: relative;
    left: 50%;
    top: -50px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media(min-width:768px) {
    .label-month:first-child {
        margin-bottom: -45px;
        margin-top: 15px
    }
}

@media(max-width:767px) {
    .label-month:first-child {
        margin-bottom: -20px
    }
}

.label-month:not(:first-child) {
    position: relative;
    overflow: hidden;
    margin: auto auto 80px auto
}

@media(min-width:768px) {
    .label-month:not(: first-child) {
        top: 80px
    }
}

@media(max-width:767px) {
    .label-month:not(: first-child) {
        top: 40px
    }
}

.label-month:last-child {
    top: 0;
    margin-top: 80px
}

.label-month a {
    color: #fff
}

.label-month a:hover {
    color: #fff
}

.label-month .i-plus {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1;
    vertical-align: top
}

.box-post {
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    background: #fff;
    padding: 30px;
    max-width: 525px
}

@media(max-width:767px) {
    .box-post {
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        z-index: 2;
        margin-left: auto;
        margin-right: auto
    }
}

@media(min-width:768px) {
    .box-post {
        border-bottom: 2px solid #e0e0e0;
        border-radius: 2px
    }
    .box-post:after,
    .box-post:before {
        content: "";
        position: absolute;
        display: block
    }
    .box-post:after {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent
    }
    .box-post.left {
        margin: 30px 30px 0 0
    }
    .box-post.left:after {
        border-left: 15px solid #fff;
        right: 31px;
        top: 70px
    }
    .box-post.right {
        margin: 80px 0 0 30px
    }
    .box-post.right:after {
        border-right: 15px solid #fff;
        left: 31px;
        top: 120px
    }
    .box-post:before {
        border-radius: 50%;
        width: 16px;
        z-index: 3;
        height: 16px;
        background: #00bcd4;
        border: 2px solid #fff
    }
    .box-post.right:before {
        top: 127.5px;
        left: -7px
    }
    .box-post.left:before {
        top: 77.5px;
        right: -8.5px
    }
}

.box-post h3 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 15px
}

.box-post p {
    margin-bottom: 10px
}

.showUp.box-load {
    opacity: 1
}

.post-gallery {
    position: relative
}

@media(min-width:1200px) {
    .post-gallery {
        margin-bottom: -60px;
        min-height: 72px;
        margin-top: 20px
    }
}

@media(max-width:1199px) {
    .post-gallery {
        padding: 10px 0 25px 0
    }
}

.post-gallery ul {
    list-style: none;
    padding: 0;
    margin: 0
}

@media(min-width:1200px) {
    .post-gallery ul {
        position: absolute;
        right: 0;
        top: 0
    }
}

.post-gallery ul li {
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    box-shadow: .5px .5px 1px .5px rgba(0, 0, 0, 0.25)
}

@media(min-width:1200px) {
    .post-gallery ul li:nth-child(1) {
        z-index: 10;
        -webkit-transform: translate(195%, -13%);
        -ms-transform: translate(195%, -13%);
        transform: translate(195%, -13%)
    }
    .post-gallery ul li:nth-child(2) {
        z-index: 9;
        -webkit-transform: translate(98%, -8%);
        -ms-transform: translate(98%, -8%);
        transform: translate(98%, -8%)
    }
    .post-gallery ul li:nth-child(3) {
        z-index: 8;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@media(min-width:1200px) {
    .post-gallery:hover ul li:nth-child(1) {
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
    .post-gallery:hover ul li:nth-child(2) {
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%)
    }
    .post-gallery:hover ul li:nth-child(3) {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%)
    }
}

.panel-group .panel {
    margin-bottom: -6px
}

.panel-group .panel:not(:first-child),
.panel-group .panel:not(:last-child) {
    border-radius: 0
}

.panel-group .panel:first-child .panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.panel-group .panel:last-child .panel-heading {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.panel-group .panel-body {
    color: #757575
}

.panel-group .panel-heading {
    border-radius: 0;
    padding: 15px 25px;
    -webkit-transition: background .35s ease-out;
    transition: background .35s ease-out
}

.panel-group .panel-heading:hover {
    background-color: #f5f5f5
}

.panel-group a .panel-heading {
    border-bottom: 1px solid #eee;
    margin-bottom: -1px
}

.panel-group a .panel-title,
.panel-group a .panel-heading {
    color: #757575;
    font-size: 20px;
    line-height: 1.1
}

.panel-group .panel-title>i {
    color: #00bcd4;
    margin-right: 10px
}

.md-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    min-width: 100%;
    height: 100%;
    z-index: 1000000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.md-modal .md-body {
    padding: 80px 0;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}

@media(min-width:768px) {
    #Grid .md-body img {
        max-width: 500px;
        max-height: 295px
    }
}

.md-show {
    visibility: visible
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2000;
    opacity: 0;
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.md-content {
    text-align: left;
    background: #fff;
    margin: 0 auto;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1999;
    color: #757575
}

.md-content .title {
    font-size: 45px
}

.md-content .text {
    font-size: 17.5px;
    line-height: 30px;
    font-weight: 300
}

.icon-close {
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
    top: 35px;
    right: 35px
}

.icon-close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon-close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.icon-close:before,
.icon-close:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #757575
}

@media(min-width:992px) {
    .md-effect-1 .md-content {
        -webkit-transform: perspective(1500px) rotateY(-90deg) scale(0.5);
        transform: perspective(1500px) rotateY(-90deg) scale(0.5);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        overflow: hidden;
        opacity: 0
    }
    .md-effect-1.md-show .md-content {
        -webkit-transform: perspective(1500px) rotateY(0deg) scale(1);
        transform: perspective(1500px) rotateY(0deg) scale(1);
        opacity: 1;
        overflow: auto
    }
}

@media(max-width:992px) {
    .md-effect-1 .md-content {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        opacity: 0
    }
    .md-effect-1.md-show .md-content {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.md-effect-2 .md-content {
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 0
}

.md-effect-2.md-show .md-content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.switcher-icon {
    position: absolute;
    left: 259px;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 24px!important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #eee;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    line-height: 52px!important;
    z-index: 205;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(-100%)!important;
    -ms-transform: translateX(-100%)!important;
    transform: translateX(-100%)!important
}

.switcher-icon.show-it {
    -webkit-transform: translateX(0%)!important;
    -ms-transform: translateX(0%)!important;
    transform: translateX(0%)!important
}

.style-switcher {
    position: fixed;
    left: 0;
    right: auto;
    z-index: 201;
    -webkit-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out
}

@media(min-width:768px) {
    .style-switcher {
        top: 250px
    }
}

@media(max-width:767px) {
    .style-switcher {
        top: 120px
    }
}

.style-switcher .body {
    background: #fff;
    padding: 20px 15px 15px;
    position: relative;
    z-index: 202;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    width: 259px;
    visibility: hidden
}

.style-switcher .body h4 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #9e9e9e;
    margin-top: 0;
    text-transform: uppercase
}

.style-switcher .colors {
    margin: 0 auto;
    padding: 0
}

.style-switcher .colors li {
    list-style: none;
    height: 35px;
    width: 35px;
    margin: 0 4px 4px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer
}

.bg-icon-1,
.bg-icon-2,
.bg-icon-3,
.bg-icon-4,
.bg-icon-5,
.bg-icon-6 {
    background-size: cover
}

.bg-icon-1 {
    background: url("../../../img/patterns/xs/footer_lodyas.png")
}

.bg-icon-2 {
    background: url("../../../img/patterns/xs/sativa.png")
}

.bg-icon-3 {
    background: url("../../../img/patterns/xs/crossword.png")
}

.bg-icon-4 {
    background: url("../../../img/patterns/xs/geometry2.png")
}

.bg-icon-5 {
    background: url("../../../img/patterns/xs/greyzz.png")
}

.bg-icon-6 {
    background: url("../../../img/patterns/xs/subtle_white_feathers.png")
}

.bg-icon-7 {
    background: url("../../../img/patterns/xs/brickwall.png")
}

.bg-icon-8 {
    background: url("../../../img/patterns/xs/geometry.png")
}

.bg-icon-9 {
    background: url("../../../img/patterns/xs/pattern1.png")
}

.bg-icon-10 {
    background: url("../../../img/patterns/xs/pattern2.jpg")
}

body.wrap-width {
    background: url("../../../img/patterns/crossword/crossword.png");
    background-repeat: repeat;
    background-attachment: fixed!important
}

.i-close {
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer
}

.i-close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.i-close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.i-close:after,
.i-close:before {
    content: "";
    display: block;
    position: absolute;
    height: 35px;
    width: 2px;
    background: #546e7a;
    top: 8px;
    right: 24px
}

.active.style-switcher {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%)
}

.active.style-switcher .body {
    visibility: visible;
    height: 100%
}

.active .switcher-icon {
    background: #f5f5f5
}

@media(min-width:1300px) {
    .wrap-width .forcefullwidth_wrapper_tp_banner,
    .wrap-width .tp-banner-container,
    .wrap-width .navbar,
    .wrap-width .container,
    .wrap-width #page-wrap {
        width: 1170px!important
    }
}

@media(min-width:992px) and (max-width:1299px) {
    .wrap-width .forcefullwidth_wrapper_tp_banner,
    .wrap-width .tp-banner-container,
    .wrap-width .navbar,
    .wrap-width .container,
    .wrap-width #page-wrap {
        width: 970px!important
    }
}

@media(max-width:991px) {
    .wrap-width .forcefullwidth_wrapper_tp_banner,
    .wrap-width .tp-banner-container,
    .wrap-width .navbar,
    .wrap-width .container,
    .wrap-width #page-wrap {
        width: 100%!important
    }
}

.wrap-width #page-wrap {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

.wrap-width .navbar {
    margin: 0 auto
}

.wrap-width .tp-banner-container {
    left: 50%!important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.wrap-width .tp-leftarrow.tparrows.default.preview4 {
    left: 0!important
}

.wrap-width .tp-rightarrow.tparrows.default.preview4 {
    right: 0!important
}

#red {
    background-color: #e84e40
}

#pink {
    background-color: #ec407a
}

#deepPurple {
    background-color: #7e57c2
}

#indigo {
    background-color: #5c6bc0
}

#blue {
    background-color: #42a5f5
}

#lightBlue {
    background-color: #03a9f4
}

#cyan {
    background-color: #00bcd4
}

#teal {
    background-color: #009688
}

#green {
    background-color: #4caf50
}

#lightGreen {
    background-color: #8bc34a
}

#lime {
    background-color: #c0ca33
}

#yellow {
    background-color: #fbc02d
}

#amber {
    background-color: #ffc107
}

#orange {
    background-color: #ff9800
}

#deepOrange {
    background-color: #ff5722
}

@-webkit-keyframes colorAnimation {
    0% {
        color: #e84e40
    }
    5% {
        color: #ec407a
    }
    10% {
        color: #7e57c2
    }
    15% {
        color: #5c6bc0
    }
    20% {
        color: #42a5f5
    }
    25% {
        color: #03a9f4
    }
    30% {
        color: #00bcd4
    }
    35% {
        color: #009688
    }
    40% {
        color: #4caf50
    }
    45% {
        color: #8bc34a
    }
    50% {
        color: #c0ca33
    }
    55% {
        color: #fbc02d
    }
    60% {
        color: #ffc107
    }
    65% {
        color: #ff9800
    }
    70% {
        color: #ff5722
    }
    75% {
        color: #795548
    }
    80% {
        color: #9e9e9e
    }
    85% {
        color: #607d8b
    }
    90% {
        color: #546e7a
    }
    95% {
        color: #455a64
    }
    100% {
        color: #263238
    }
}

@keyframes colorAnimation {
    0% {
        color: #e84e40
    }
    5% {
        color: #ec407a
    }
    10% {
        color: #7e57c2
    }
    15% {
        color: #5c6bc0
    }
    20% {
        color: #42a5f5
    }
    25% {
        color: #03a9f4
    }
    30% {
        color: #00bcd4
    }
    35% {
        color: #009688
    }
    40% {
        color: #4caf50
    }
    45% {
        color: #8bc34a
    }
    50% {
        color: #c0ca33
    }
    55% {
        color: #fbc02d
    }
    60% {
        color: #ffc107
    }
    65% {
        color: #ff9800
    }
    70% {
        color: #ff5722
    }
    75% {
        color: #795548
    }
    80% {
        color: #9e9e9e
    }
    85% {
        color: #607d8b
    }
    90% {
        color: #546e7a
    }
    95% {
        color: #455a64
    }
    100% {
        color: #263238
    }
}

@media(min-width:768px) {
    .colorAnimation {
        -webkit-animation: colorAnimation 20s infinite linear alternate;
        animation: colorAnimation 20s infinite linear alternate
    }
}

#teamSlider .item,
#blogSlider .item {
    padding-left: 10px;
    padding-right: 10px
}

#teamSlider .owl-pagination {
    margin-top: 20px
}

#twitterSlider blockquote {
    border-left-color: rgba(0, 188, 212, 0.8);
    color: #cfd8dc;
    font-weight: 300
}

#twitterSlider blockquote footer {
    font-weight: 400;
    color: #cfd8dc
}

#twitterSlider blockquote footer a {
    margin-left: 5px
}

#testimonialsSlider .item {
    padding-right: 10px
}

#skillsSlider .item {
    position: relative
}

#skillsSlider .item .skill {
    max-width: 150px;
    margin: auto;
    max-height: 150px
}

#skillsSlider .item .skill>i {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 65px;
    line-height: 150px;
    color: #777
}

#skillsSlider .item h3 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin: 17px auto
}

.owl-pagination {
    position: relative;
    padding: 0;
    list-style: none;
    cursor: default;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center
}

.owl-pagination .owl-page {
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 2px 5px;
    box-shadow: 0 0 0 1px #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.owl-pagination .owl-page:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 1px #e0e0e0;
    border-radius: 50%;
    background-color: #e0e0e0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .35s ease;
    transition: all .35s ease
}

.owl-pagination .owl-page.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.bg-dark .owl-pagination .owl-page {
    box-shadow: 0 0 0 1px #37474f
}

.bg-dark .owl-pagination .owl-page:after {
    background-color: #37474f;
    box-shadow: 0 0 0 1px #37474f
}

.cbp-popup-singlePage .cbp-popup-navigation-wrap {
    background: #263238;
    color: #fff
}

.cbp-popup-singlePage-counter {
    color: #eceff1
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

@keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

.spinner {
    width: 4em;
    height: 4em;
    background: #00bcd4;
    -webkit-animation: rotateplane 1s infinite ease-out;
    animation: rotateplane 1s infinite ease-out
}

.welcome {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem
}

@media(min-width:600px) {
    .welcome {
        min-width: 500px
    }
}

@media(max-width:599px) {
    .welcome {
        min-width: 0
    }
}

.preloader-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #9e9e9e;
    z-index: 999999;
    text-align: center;
    overflow: hidden
}

#page-wrap {
    position: relative;
    opacity: 0;
    visibility: hidden;
    background: #fff
}

@-webkit-keyframes bgTransition {
    0% {
        background-color: #e84e40
    }
    5% {
        background-color: #ec407a
    }
    10% {
        background-color: #7e57c2
    }
    15% {
        background-color: #5c6bc0
    }
    20% {
        background-color: #42a5f5
    }
    25% {
        background-color: #03a9f4
    }
    30% {
        background-color: #00bcd4
    }
    35% {
        background-color: #009688
    }
    40% {
        background-color: #4caf50
    }
    45% {
        background-color: #8bc34a
    }
    50% {
        background-color: #c0ca33
    }
    55% {
        background-color: #fbc02d
    }
    60% {
        background-color: #ffc107
    }
    65% {
        background-color: #ff9800
    }
    70% {
        background-color: #ff5722
    }
    75% {
        background-color: #795548
    }
    80% {
        background-color: #9e9e9e
    }
    85% {
        background-color: #607d8b
    }
    90% {
        background-color: #546e7a
    }
    95% {
        background-color: #455a64
    }
    100% {
        background-color: #263238
    }
}

@keyframes bgTransition {
    0% {
        background-color: #e84e40
    }
    5% {
        background-color: #ec407a
    }
    10% {
        background-color: #7e57c2
    }
    15% {
        background-color: #5c6bc0
    }
    20% {
        background-color: #42a5f5
    }
    25% {
        background-color: #03a9f4
    }
    30% {
        background-color: #00bcd4
    }
    35% {
        background-color: #009688
    }
    40% {
        background-color: #4caf50
    }
    45% {
        background-color: #8bc34a
    }
    50% {
        background-color: #c0ca33
    }
    55% {
        background-color: #fbc02d
    }
    60% {
        background-color: #ffc107
    }
    65% {
        background-color: #ff9800
    }
    70% {
        background-color: #ff5722
    }
    75% {
        background-color: #795548
    }
    80% {
        background-color: #9e9e9e
    }
    85% {
        background-color: #607d8b
    }
    90% {
        background-color: #546e7a
    }
    95% {
        background-color: #455a64
    }
    100% {
        background-color: #263238
    }
}

.bgTransition1 {
    -webkit-animation: bgTransition 20s infinite linear alternate;
    animation: bgTransition 20s infinite linear alternate
}

.back-to-top {
    position: fixed;
    bottom: 3%;
    right: 2.5%;
    display: none;
    z-index: 998;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    color: #00bcd4;
    font-size: 30.0000015px;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.back-to-top:hover {
    color: #757575
}

.back-to-top:focus,
.back-to-top:active {
    color: #fff;
    background: #00bcd4
}

.knobs {
    text-align: center
}

.knobs div h3,
.knobs div h2 {
    margin-top: -35px;
    color: #757575
}

.tp-banner-container {
    position: relative!important;
    overflow: hidden!important;
    max-height: 700px!important;
    max-width: 100%!important
}

#map {
    height: 450px;
    width: 100%
}

.alert .text-success,
.alert .text-primary,
.alert .text-warning,
.alert .text-danger,
.alert .text-info {
    color: #fff
}

.alert .close {
    opacity: .9;
    color: #fff;
    text-shadow: none
}

.alert .close:hover {
    opacity: 1
}

.alert a {
    color: #fff;
    text-decoration: underline
}

.footer {
    text-align: center;
    background: #263238;
    color: #b0bec5;
    padding: 20px 0
}

.modal-body {
    padding: 25px
}

.panel-default {
    border-color: #eee
}

.thumbnail {
    padding: 0
}

.thumbnail .caption {
    padding: 20px
}

.thumbnail .caption h3 {
    font-weight: 300
}

@media(max-width:991px) {
    #features .centerY {
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@media(max-width:767px) {
    .contact-box li,
    .contact-box .btn {
        display: block;
        width: 100%
    }
    .contact-box li:not(last-child) {
        margin-bottom: 15px
    }
}

.panel-group#accordion .panel-body .title-sm-v2 {
    font-weight: 400
}

.panel-group#accordion .panel-body span {
    font-size: 14px
}

#features .section {
    overflow: hidden;
    position: relative;
    padding-bottom: 0
}

@media(min-width:1200px) {
    #features .section {
        height: 450px
    }
}

@media(max-width:1199px) {
    #features .section {
        height: 355px
    }
}

@media(max-width:991px) {
    #features .section {
        height: auto
    }
}

#features .section .big-title {
    color: #00bcd4
}

@media(min-width:1200px) {
    #features .section .col-md-5,
    #features .section .col-lg-4 {
        height: 450px;
        margin-top: -50px
    }
}

@media(max-width:1199px) {
    #features .section .col-md-5,
    #features .section .col-lg-4 {
        height: 355px
    }
    #features .section .col-md-5 .centerY,
    #features .section .col-lg-4 .centerY {
        top: auto;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0)
    }
}

@media(max-width:991px) {
    #features .section .col-md-5,
    #features .section .col-lg-4 {
        height: auto
    }
}

#features .section .col-lg-8 img,
#features .section .col-md-7 img {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto
}

.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1000
}

.dialog__overlay {
    position: absolute;
    z-index: 2000;
    background: rgba(24, 30, 34, 0.9);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-backface-visibility: hidden
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto
}

.dialog__content {
    min-width: 290px;
    background: #fff;
    position: relative;
    z-index: 5000;
    opacity: 0
}

@media(min-width:620px) {
    .dialog__content {
        width: 75%;
        max-width: 700px
    }
}

@media(max-width:619px) {
    .dialog__content {
        overflow-x: hidden!important;
        overflow-y: scroll!important
    }
}

.dialog--open .dialog__content {
    pointer-events: auto
}

.dialog h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 300
}

.dialog h3 small {
    font-weight: inherit;
    color: #757575
}

.dialog-body {
    padding-top: 20px;
    padding-bottom: 5px
}

.dialog-body h4 {
    margin-top: 25px
}

.dialog--open .dialog__overlay {
    -webkit-transition-duration: .8s;
    transition-duration: .8s
}

.dialog--close .dialog__overlay {
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.dialog__content {
    padding: 0;
    background: transparent
}

.dialog.dialog--open .dialog__content {
    opacity: 1
}

.morph-shape {
    position: absolute;
    width: -webkit-calc(100%+4px);
    width: calc(100%+4px);
    height: -webkit-calc(100%+4px);
    height: calc(100%+4px);
    top: -2px;
    left: -2px;
    z-index: -1
}

.morph-shape svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 1680
}

@media(min-width:768px) {
    .dialog--open .morph-shape svg rect {
        -webkit-animation: anim-dash .6s forwards;
        animation: anim-dash .6s forwards
    }
}

.dialog-inner {
    opacity: 0;
    background: #fff
}

.dialog--open .dialog-inner {
    opacity: 1;
    -webkit-transition: opacity .85s .35s;
    transition: opacity .85s .35s
}

@media(min-width:620px) {
    .dialog--open .dialog-inner {
        padding: 4em
    }
}

@media(max-width:619px) {
    .dialog--open .dialog-inner {
        padding: 2em
    }
}

@media(min-width:768px) {
    .dialog.dialog--open h3 {
        -webkit-animation: anim-elem-1 .35s .3s ease-out both;
        animation: anim-elem-1 .35s .3s ease-out both
    }
    .dialog.dialog--open .first.text-block {
        -webkit-animation: anim-elem-1a .35s .35s ease-out both;
        animation: anim-elem-1a .35s .35s ease-out both
    }
    .dialog.dialog--open h4 {
        -webkit-animation: anim-elem-1b .35s .4s ease-out both;
        animation: anim-elem-1b .35s .4s ease-out both
    }
    .dialog.dialog--open .second.text-block {
        -webkit-animation: anim-elem-1c .35s .45s ease-out both;
        animation: anim-elem-1c .35s .45s ease-out both
    }
    .dialog.dialog--open button {
        -webkit-animation: anim-elem-2 .35s .5s ease-out both;
        animation: anim-elem-2 .35s .5s ease-out both
    }
}

@keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes anim-elem-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-elem-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes anim-elem-1a {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-elem-1a {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes anim-elem-1b {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-elem-1b {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 50px, 0)
    }
}

@-webkit-keyframes anim-elem-1c {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-elem-1c {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes anim-elem-2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-elem-2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}