.tips {
    display: inline-block
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 0
}

.navbar-header {
    padding-bottom: 18px
}

.navbar-default {
    background: 0;
    border: none!important;
    border-radius: 0
}

.navbar>.container .navbar-brand {
    margin-left: 15px
}

.nav.nav-tabs {
    margin-bottom: 22px
}

.btn:active,
.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.container .jumbotron {
    border-radius: 0
}

.jumbotron h1 {
    text-align: left
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 12px;
    height: 44px;
    border-radius: 0
}

.error {
    padding: 5px;
    margin-bottom: 20px;
    display: block;
    font-size: 14px
}

.has-feedback label ~ .form-control-feedback {
    top: 48px;
    position: absolute;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center
}

.securityCheck .has-feedback .form-control-feedback {
    top: 5px
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    border-radius: 0
}

.panel-default>.panel-heading,
.nav>li>a {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.progress {
    border-radius: 0;
    box-shadow: none;
    background: 0;
    overflow: visible;
    margin-bottom: 20px;
    height: 2px
}

.progress-bar {
    height: 2px;
    text-align: right;
    position: relative
}

.progress span {
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 12px;
    line-height: 1;
    padding: 3px 4px
}

.navbar-default .navbar-toggle {
    margin-top: 27px;
    border: 0;
    margin-right: 0;
    border-radius: 0
}

.panel-group .panel+.panel {
    margin-top: 0
}

.panel-heading .accordion-toggle:after {
    font-family: 'custom-icons';
    content: "\e803";
    float: right
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
    outline: 0
}

.panel-heading .accordion-toggle.collapsed:after {
    content: '\e805'
}

.accordion-toggle i {
    margin-right: 10px
}

label {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 22px
}

.navbar-nav {
    margin-left: 0;
    margin-right: 0
}

.navbar-collapse {
    padding: 0
}

.navbar-nav.pull-right>li>.dropdown-menu,
.navbar-nav>li>.dropdown-menu.pull-right {
    right: auto
}

li.Nactive>ul,
li.Nactive .nekoMegaMenu,
li.Nactive .nekoMegaMenu ul {
    display: block!important
}

.navbar-nav .Nactive .subMenu {
    margin-left: 10px
}

.navbar-nav .Nactive .nekoMegaMenu.subMenu {
    margin-left: 0
}

.nekoMegaMenu .container {
    padding-left: 0
}

ul.dropdown-menu {
    position: static;
    clear: both;
    float: none;
    display: none;
    width: auto;
    background: 0;
    border: 0;
    box-shadow: none
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    margin-bottom: 22px
}

.img-circle {
    width: 140px;
    height: 140px
}

pre code {
    white-space: pre-line
}

@media(min-width:1025px) {
    .navbar>.container .navbar-brand {
        margin-left: 0
    }
    .navbar-header {
        padding-bottom: 0
    }
    .navbar-collapse {
        padding-right: 0
    }
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        margin-bottom: 0
    }
}

.iconList li:before {
    content: '\e801';
    font-family: 'custom-icons';
    font-size: 10px;
    text-align: left;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    line-height: 1em
}

.iconList li {
    padding: 5px
}

.borderList li {
    border-bottom: 1px solid rgba(125, 125, 125, 0.5)
}

.iconRounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 18px
}

[class^="icon-"].iconRounded:before,
[class*=" icon-"].iconRounded:before {
    margin: auto;
    text-align: center;
    line-height: 40px;
    margin-right: 0
}

.iconBig {
    font-size: 40px
}

.iconBig.iconRounded {
    width: 100px;
    height: 100px
}

.iconBig.iconRounded:before {
    line-height: 100px
}

.iconMedium {
    font-size: 36px
}

.iconMedium.iconRounded {
    width: 72px;
    height: 72px
}

.iconMedium.iconRounded:before {
    line-height: 72px
}

.iconSmall:before {
    font-size: 10px
}

.iconSmall.iconRounded {
    width: 26px;
    height: 26px
}

.iconSmall.iconRounded:before {
    line-height: 26px
}

.iconBlocHeading {
    position: relative;
    padding-left: 55px
}

.iconBlocHeading i {
    position: absolute;
    left: 0
}

.iconBlocHeading h2 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px
}

.iconBlocHeading h2:after {
    content: none
}

.iconBlocHeading h3 {
    display: block
}

.boxFeature {
    margin-bottom: 33px
}

.boxContent {
    padding: 22px
}

.color2.boxContent {
    border: 0
}

.boxFocus {
    padding: 22px
}

.boxIconServices {
    text-align: center
}

.boxIconServices i {
    margin: 0 auto 22px auto
}

.boxIconServices .boxContent {
    padding: 0;
    border: 0
}

.boxIcon a {
    text-align: center;
    display: block;
    margin-bottom: 11px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.boxIcon a i,
.boxIcon a .imgBorder {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden
}

.boxIcon a span {
    display: none
}

.boxIcon i {
    margin: 36px auto;
    display: block;
    border-radius: 50%
}

.boxIcon h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px
}

.boxIcon p {
    margin: 0
}

.boxIcon a:hover {
    text-decoration: none
}

.boxIcon a:hover i {
    border: 25px solid #f7f7f7;
    width: 150px;
    height: 150px;
    margin: 11px auto
}

.boxIcon a img {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden
}

.boxIcon a .imgBorder {
    border: 4px solid #f7f7f7;
    background: #dfe5e1;
    border-radius: 50%!important;
    width: 180px;
    height: 180px;
    margin: 18px auto 22px auto
}

.boxIcon a .imgBorder img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-backface-visibility: hidden;
    width: 172px;
    height: 172px
}

.boxIcon a:hover .imgBorder img {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8)
}

.boxFeatured {
    text-align: center;
    margin-bottom: 44px
}

.boxFeatured i:before {
    margin-bottom: 22px
}

.boxFeatured a {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.boxFeatured a:hover {
    text-decoration: none
}

.boxTestimonial blockquote {
    padding: 33px 33px 44px 33px;
    font-size: 18px;
    line-height: 33px
}

.boxTestimonial blockquote:after {
    display: none
}

.boxTestimonial .clientIcon img {
    margin: 33px;
    float: left
}

.boxTestimonial blockquote span {
    display: block;
    font-size: 12px
}

.clientIcon span {
    font-weight: 300
}

.clientIcon span,
.clientIcon span strong {
    vertical-align: bottom;
    font-size: 14px
}

.col-left-grey {
    background: url(../images/theme-pics/col-left-grey.png) center repeat-y;
    border-top: 1px solid #ededed
}

.mb15 {
    margin-bottom: .75em
}

.mb30 {
    margin-bottom: 1.5em
}

.mb40 {
    margin-bottom: 2em
}

.mt15 {
    margin-top: .75em
}

.mt30 {
    margin-top: 1.5em
}

.mt40 {
    margin-top: 2em
}

.pb15 {
    padding-bottom: .75em
}

.pb30 {
    padding-bottom: 1.5em
}

.pb40 {
    padding-bottom: 2em
}

.pt15 {
    padding-top: .75em
}

.pt30 {
    padding-top: 1.5em
}

.pt40 {
    padding-top: 2em
}

hr.lineDouble {
    border-top: 4px double #eee
}

hr.lineStar,
hr.lineX,
hr.linePlus,
hr.lineDot,
hr.lineLines {
    text-align: center
}

hr.lineStar:after,
hr.lineX:after,
hr.linePlus:after,
hr.lineDot:after,
hr.lineLines:after {
    background: none repeat scroll 0 0 #fff;
    color: #eee;
    content: '\e815';
    display: inline-block;
    font-family: 'custom-icons';
    font-size: 1em;
    padding: 0 .25em;
    position: relative;
    top: -0.8em;
    width: 33px
}

hr.lineX:after {
    content: '\e816'
}

hr.linePlus:after {
    content: '\e81c'
}

hr.lineDot:after {
    content: '\e930'
}

hr.lineLines:after {
    content: '\e866'
}

hr.lineSmall {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.noMargin {
    margin: 0!important
}

.noMarginBottom {
    margin-bottom: 0!important
}

.noMarginTop {
    margin-top: 0!important
}

.noPadding {
    padding: 0!important
}

.noPaddingBottom {
    padding-bottom: 0!important
}

.noPaddingTop {
    padding-top: 0
}

.noBorder {
    border: none!important
}

.utilities_demo {
    padding-left: 1.5em;
    padding-right: 1.5em
}

.posRelative {
    position: relative
}

@media(min-width:992px) {
    .posAbsoluteBottom-md {
        position: absolute;
        bottom: 0
    }
}

.forceFullWidth {
    width: 100%;
    max-width: none
}

.imgBorder {
    overflow: hidden
}

.backFaceVisibilityHidden {
    -webkit-backface-visibility: hidden
}

.vertical-align {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%)
}

.full-width {
    max-width: none;
    width: 100%
}

@media(min-width:768px) {
    #boxedLayout {
        padding-top: 22px
    }
    #boxedLayout #globalWrapper {
        width: 768px;
        margin: auto;
        background: #fefefe
    }
    .mb15 {
        margin-bottom: 1.5em
    }
    .mb30 {
        margin-bottom: 3em
    }
    .mb40 {
        margin-bottom: 4em
    }
    .mt15 {
        margin-top: 1.5em
    }
    .mt30 {
        margin-top: 3em
    }
    .mt40 {
        margin-top: 4em
    }
    .pt15 {
        padding: 1.5em
    }
    .pb15 {
        padding-bottom: 1.5em
    }
    .pb30 {
        padding-bottom: 3em
    }
    .pb40 {
        padding-bottom: 4em
    }
    .pt15 {
        padding-top: 1.5em
    }
    .pt30 {
        padding-top: 3em
    }
    .pt40 {
        padding-top: 4em
    }
    .boxIconServices h2 {
        font-size: 20px
    }
    .boxIconServices i {
        float: left
    }
    .boxIconServices.posLeft i {
        float: left
    }
    .boxIconServices .boxContent {
        padding: 0 0 0 152px;
        text-align: left
    }
    .boxIconServices.posLef .boxContent {
        padding: 0 0 0 152px
    }
}

@media(min-width:992px) {
    #boxedLayout #globalWrapper {
        width: 992px
    }
    .boxIconServices.posLeft i {
        float: right
    }
    .boxIconServices.posLeft .boxContent {
        padding: 0 152px 0 0;
        text-align: right
    }
    .boxIconServices i {
        float: left
    }
    .boxIconServices .boxContent {
        padding: 0 0 0 152px
    }
}

@media(min-width:1200px) {
    #boxedLayout #globalWrapper {
        width: 1200px
    }
}

.overflow-hidden {
    overflow: hidden
}

body {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    padding-top: 81px
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0 0 .75em 0
}

h1 {
    font-size: 36px;
    margin-bottom: .25em;
    font-weight: 100
}

h1 strong {
    font-weight: 400
}

.largeQuote h1 {
    margin-bottom: 0;
    padding-left: 11px;
    padding-right: 11px
}

.paralaxText h2 {
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5em;
    display: inline-block;
    padding: 33px;
    margin-bottom: 0
}

.paralaxText h2 small {
    font-size: 22px;
    font-weight: 100
}

.paralaxText .iconRounded {
    display: inline-block
}

.paralaxText .testimonialCarousel blockquote {
    text-transform: none;
    letter-spacing: normal;
    font-size: 22px;
    line-height: 33px
}

.paralaxText .iconBig {
    font-size: 22px
}

h2 {
    font-size: 18px;
    display: block;
    position: relative;
    overflow: hidden;
    letter-spacing: .1em;
    font-weight: 300;
    margin-bottom: 1.5em
}

h2.subTitle {
    font-weight: 300
}

h3,
legend {
    font-size: 20px
}

h4 {
    font-size: 16px;
    margin-bottom: 1em
}

h5 {
    font-size: 14px
}

h6 {
    margin-bottom: 2em;
    font-size: 14px;
    font-weight: 300
}

h1 small {
    font-size: 25px;
    font-weight: inherit
}

h2 small {
    font-size: 18px
}

h3 small {
    font-size: 14px
}

h4 small {
    font-size: 12px
}

p,
ul {
    margin-top: 0;
    margin-bottom: 12px
}

strong {
    font-weight: 400
}

li {
    line-height: inherit
}

a:link,
a:visited {
    text-decoration: none;
    outline: 0
}

a:hover,
a:active {
    text-decoration: underline
}

ul.iconsList li a:hover {
    text-decoration: none
}

a.readMore {
    font-style: italic
}

blockquote {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 22px;
    font-weight: 100;
    padding: 0;
    border: 0;
    text-align: left
}

blockquote h1 {
    display: inline
}

blockquote p {
    font-size: inherit;
    display: inline
}

blockquote small,
.ctaBox blockquote small {
    font-size: 50%;
    display: inline-block;
    line-height: 1em
}

blockquote:before {
    content: '\201c';
    font-family: 'Lato', sans-serif!important;
    margin-right: 0;
    font-size: 50px;
    height: -1px;
    display: inline-block;
    vertical-align: middle
}

blockquote:after {
    content: '\201d';
    font-family: 'Lato', sans-serif!important;
    margin-left: 0;
    font-size: 50px;
    height: -1px;
    display: inline-block;
    vertical-align: middle
}

blockquote.pull-right {
    border: 0
}

.quoteRow blockquote:before,
.quoteRow blockquote:after {
    content: none
}

hr {
    padding: 0;
    margin: 1.5em 0
}

.hero-unit blockquote {
    font-family: 'Lato', sans-serif;
    font-style: italic
}

@media(min-width:768px) {
    body {
        padding-top: 88px
    }
    h1 {
        font-size: 33px;
        font-weight: 200;
        line-height: 1.1
    }
    h1.bigHeading {
        font-size: 66px
    }
    .paralaxText blockquote {
        font-size: 33px;
        line-height: 33px
    }
    .paralaxText .iconBig {
        font-size: 44px
    }
    .paralaxText h2 {
        font-size: 44px
    }
}

.btn {
    padding: 5px 12px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .05em;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border: 0;
    border-radius: 0
}

.btn-lg {
    padding: 11px 19px;
    font-size: 14px;
    border-radius: 0
}

.btn-sm {
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 0
}

.btn-xs {
    padding: 0 6px;
    font-size: 10px;
    border-radius: 0
}

.btn-link {
    text-transform: none;
    text-shadow: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal
}

.btn i:before {
    text-align: left
}

.btn-border {
    padding: 3px 10px
}

.btn-border.btn-lg {
    padding: 9px 17px
}

.btn-border.btn-sm {
    padding: 0 6px
}

.ctaBox {
    padding: 33px
}

.ctaBoxFullwidth {
    padding: 0
}

.ctaBox a {
    margin-top: 22px
}

.ctaBox h1 {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 0;
    font-weight: 100;
    padding: 0;
    border: 0;
    text-align: left;
    letter-spacing: normal;
    text-transform: none
}

.ctaBox blockquote {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 0
}

a.btnRight {
    float: right
}

.ctaBox.ctaBoxCentered h1,
.ctaBox.ctaBoxCentered blockquote {
    text-align: center
}

.ctaBox.ctaBoxCentered a {
    float: none;
    margin-top: 1.5em
}

@media(max-width:767px) {
    .btn-lg {
        padding: 14px 18px;
        font-size: 18px
    }
}

@media(min-width:992px) {
    .ctaBox a {
        float: right;
        margin-top: 0
    }
    a.btnLeft {
        float: left
    }
}

#homeFullScreen {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center
}

.maskParent {
    position: relative;
    height: 100%;
    width: 100%
}

.paralaxText {
    padding-top: 66px;
    padding-bottom: 66px;
    text-align: center;
    position: relative
}

.bgMask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.15)
}

.image-0 {
    background-image: url('../images/theme-pics/big-header.jpg')
}

.image-1 {
    background-image: url('../../styles/homePageImg/parallax-1.jpg')
}

.image-2 {
    background-image: url('../../styles/homePageImg/parallax-2.jpg')
}

.image-3 {
    background-image: url('../../styles/homePageImg/parallax-3.jpg')
}

.image-4 {
    background-image: url('../images/theme-pics/parallax-4.jpg')
}

.image-5 {
    background-image: url('../images/theme-pics/parallax-5.jpg')
}

.image-6 {
    background-image: url('../images/theme-pics/parallax-6.jpg')
}

@media(min-width:1200px) {
    .parallaxSection {
        background-attachment: fixed;
        background-position: 50% 0;
        background-size: cover
    }
}

#home {
    padding-top: 44px
}

#mapWrapper {
    height: 350px
}

#homeFullScreen {
    background-image: url('../../webAssets/img/showImg/bridge4.jpg');
    overflow: hidden
}

#homeFullScreen .maskParent {
    display: table;
    width: 100%
}

#fullScreenSliderWrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto
}

.blockCenter {
    width: 320px;
    margin: auto
}

#logoBig {
    margin-bottom: 22px
}

#logoBig img {
    width: 200px;
    margin: auto;
    position: relative
}

#fullScreenSliderWrapper h1 {
    font-size: 22px
}

#onePage {
    padding-top: 0
}

body#onePage #mainHeader {
    width: 100%
}

body#onePage #mainHeader.navbar {
    border: 0
}

#onePage #mainHeader {
    z-index: 100
}

@media(min-width:768px) {
    .blockCenter {
        width: 768px
    }
    #logoBig img {
        width: 300px
    }
}

@media(min-width:992px) {
    .blockCenter {
        width: 992px
    }
}

@media(min-width:1200px) {
    .blockCenter {
        width: 1200px
    }
}

.navbar-brand {
    padding: 28px 0
}

#preHeader {
    display: none!important
}

#preHeader .socialNetwork,
.contactPhone {
    display: inline-block;
    float: right
}

#preHeader .socialNetwork li {
    display: block;
    list-style-type: none;
    float: left
}

.contactPhone {
    padding-right: 11px;
    margin-top: 10px
}

#preHeader .socialNetwork {
    margin: 0
}

#preHeader .socialNetwork a {
    text-align: center;
    line-height: 40px;
    display: block;
    width: 30px;
    height: 40px
}

#preHeader .socialNetwork a:hover {
    text-decoration: none
}

ul.quickMenu {
    margin: 10px 0 0 0;
    padding: 0
}

ul.quickMenu li {
    display: inline-block;
    padding-right: 11px
}

ul.quickMenu li a {
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 1em
}

ul.quickMenu li a:hover {
    text-decoration: none
}

ul.quickMenu li a.linkLeft {
    margin-left: 0
}

@media(min-width:768px) {
    #fullScreenSliderWrapper h1 {
        font-size: 54px
    }
    .header1 #preHeader,
    .header3 #preHeader,
    .header5 #preHeader {
        display: block!important;
        height: 40px
    }
}

@media(min-width:992px) {
    .fixedHeader .navbar-nav>li>ul,
    .fixedHeader .navbar-nav .nekoMegaMenu {
        top: 61px
    }
    .fixedHeader #mainMenu>ul>li>a {
        padding-bottom: 8px;
        padding-top: 8px
    }
    .fixedHeader .navbar-nav>li.sep:before {
        line-height: 15px
    }
    .fixedHeader .navbar-brand {
        padding: 15px 0
    }
    .fixedHeader .navbar-brand img {
        max-height: 30px
    }
}

.header1 .navbar-nav ul ul {
    top: 0
}

.header1 ul.quickMenu li,
.header1 .contactPhone {
    margin-right: 11px
}

.header1 .sep {
    display: none
}

.header1 .navbar-nav>li a {
    text-transform: uppercase;
    font-weight: 400
}

.header2 #preHeader {
    display: none!important
}

.header3 #preHeader .socialNetwork a {
    width: 40px
}

.header3 .navbar-default .navbar-nav>li>a {
    text-transform: none;
    font-weight: 300
}

.header3 .sep {
    display: none
}

.header4 #preHeader {
    display: none!important
}

.header4 .navbar-default .navbar-nav>li>a {
    text-transform: none;
    letter-spacing: .1em
}

@media(min-width:1024px) {
    body.header1 {
        padding-top: 128px
    }
    .header1 .navbar-nav>li.sep {
        display: none
    }
    .header1 .navbar-nav>li>ul,
    .header1 .navbar-nav .nekoMegaMenu {
        top: 88px
    }
    .header1 .fixedHeader .navbar-nav>li>ul,
    .header1 .fixedHeader .navbar-nav .nekoMegaMenu {
        top: 60px
    }
    .header1 .navbar-nav>li a {
        font-size: 13px
    }
    .header1 .navbar-nav>li#lastMenu>a {
        padding-right: 15px
    }
    .header2 .navbar-nav>li.sep {
        display: none
    }
    .header2 .navbar-nav>li>ul,
    .header2 .navbar-nav .nekoMegaMenu {
        top: 88px
    }
    .header2 .fixedHeader .navbar-nav>li>ul,
    .header2 .fixedHeader .navbar-nav .nekoMegaMenu {
        top: 60px
    }
    .header2 .navbar-nav>li#lastMenu>a {
        padding-right: 15px
    }
    body.header3 {
        padding-top: 128px
    }
    .header3 .navbar-nav>li>ul,
    .header3 .navbar-nav .nekoMegaMenu {
        top: 89px
    }
    .header3 .fixedHeader .navbar-nav>li>ul,
    .header3 .fixedHeader .navbar-nav .nekoMegaMenu {
        top: 61px
    }
    .header3 .navbar-nav>li.sep {
        display: none
    }
    .header3 .navbar-nav>li>a {
        padding: 22px 11px
    }
    .header4 .navbar-nav>li.sep {
        display: none
    }
    .header4 .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
        text-transform: uppercase
    }
    .header4 .navbar-nav>li#lastMenu>a {
        padding-right: 15px
    }
    .header4 .navbar-nav>li>ul {
        top: 92px
    }
    .header4 .navbar-nav .nekoMegaMenu {
        top: 145px
    }
    .header4 .navbar-brand {
        display: inline-block;
        float: none
    }
    .header4 .navbar-header {
        text-align: center;
        float: none
    }
    body.header5 {
        padding-top: 125px
    }
    .header5 .navbar-nav>li.sep {
        display: none
    }
    .header5 .navbar-default .navbar-nav>li>a {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif!important;
        font-weight: bold;
        border-radius: 4px;
        padding: 10px;
        margin: 27px 11px 27px 0;
        line-height: 1em
    }
    .header5 .navbar-nav>li#lastMenu>a {
        padding-right: 10px
    }
    .header5 .navbar-nav ul li a {
        padding: 10px;
        margin: 0 10px;
        text-align: left
    }
    .header5 .navbar-nav>li>ul,
    .header5 .navbar-nav .nekoMegaMenu {
        border-radius: 4px;
        padding-bottom: 10px;
        padding-top: 10px
    }
    .header5 .navbar-nav .nekoMegaMenu {
        padding: 22px;
        top: 112px
    }
    .header5 .navbar-nav>li>ul {
        top: 55px
    }
    .header5 .navbar-nav ul ul {
        padding: 10px 0
    }
    .header5 .fixedHeader #mainMenu>ul>li>a {
        padding: 10px;
        margin-top: 13px;
        margin-bottom: 13px
    }
    .header5 #mainMenu {
        text-align: center
    }
    .header5 .navbar-nav.pull-right {
        display: inline-block
    }
    .header5 #mainMenu {
        text-align: center
    }
    .header5 .navbar-header,
    .header5 #mainHeader .pull-right {
        float: none!important
    }
    .header5 .navbar-header {
        text-align: center
    }
    .header5 .navbar-brand {
        display: inline-block;
        float: none
    }
    #mainHeader>.container {
        width: 100%
    }
}

@media(min-width:1025px) {
    .header3 .navbar-nav>li>a {
        padding: 22px 22px
    }
    .header4 .navbar-header {
        text-align: left
    }
    .header4 .navbar-header {
        float: left!important
    }
    .header4 .navbar-nav .nekoMegaMenu {
        top: 92px
    }
    .header5 #mainMenu {
        text-align: left
    }
    .header5 .navbar-nav.pull-right {
        display: inline-block
    }
    .header5 #mainMenu {
        text-align: left
    }
    .header5 .navbar-header {
        float: left!important
    }
    .header5 #mainHeader .pull-right {
        float: right!important
    }
    .header5 .navbar-header {
        text-align: left
    }
    .header5 .navbar-brand {
        display: inline-block;
        float: none
    }
    .header5 .navbar-nav>li>ul,
    .header5 .navbar-nav .nekoMegaMenu {
        top: 57px
    }
}

.navbar-nav>li>a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.navbar-nav li a i {
    margin-right: 10px
}

.navbar-nav>li.sep {
    display: none
}

.navbar-nav>li#lastMenu>a {
    padding-right: 0
}

#mainHeader .pull-right {
    float: none!important
}

.navbar-nav ul li {
    position: relative
}

.navbar-nav ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.navbar-nav ul ul {
    top: 0
}

.navbar-nav ul li a {
    display: block;
    padding: 11px 0;
    font-size: 12px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.navbar-nav ul li a:hover {
    text-decoration: none
}

#mainMenu .navbar-nav li a.hasSubMenu:after {
    font-family: "custom-icons";
    display: block;
    content: '\e89e';
    float: right;
    margin-right: 15px
}

.navbar-nav .nekoMegaMenu {
    display: none;
    -webkit-backface-visibility: hidden
}

.navbar-nav .nekoMegaMenu>div>div {
    -webkit-backface-visibility: hidden
}

.navbar-nav ul li.megaMenuTitle {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 6px;
    margin-bottom: 6px
}

.navbar-nav .nekoMegaMenu ul {
    width: auto
}

@media(min-width:992px) {
    .nekoMegaMenu .container {
        width: 940px
    }
}

@media(min-width:1025px) {
    #mainHeader .pull-right {
        float: right!important
    }
    .navbar-nav>li>a {
        font-size: 12px;
        font-weight: 300;
        padding: 22px 11px;
        line-height: 44px;
        vertical-align: middle
    }
    .navbar-nav>li>a i {
        display: block
    }
    .navbar-nav ul {
        position: absolute;
        top: 89px;
        left: 0;
        z-index: 1024
    }
    .navbar-nav ul {
        width: 170px
    }
    .navbar-nav>li.sep {
        display: block
    }
    .navbar-nav>li.sep:before {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
        content: '\e8a0';
        font-family: 'custom-icons';
        display: block;
        font-size: 10px;
        text-align: center;
        padding: 0;
        margin-top: 22px;
        margin-bottom: 22px;
        line-height: 44px
    }
    #mainMenu .navbar-nav li a.hasSubMenu:after {
        display: none
    }
    #mainMenu .navbar-nav ul li a.hasSubMenu:after {
        content: '\e801';
        display: block;
        text-align: right;
        margin-right: 0
    }
    .navbar-nav ul li a {
        padding: 11px;
        display: block;
        font-size: 12px
    }
    .navbar-nav ul li {
        padding: 0
    }
    .nav>li.nekoMegaMenuTrigger {
        position: static!important
    }
    .navbar-nav .nekoMegaMenu ul {
        position: static;
        border: 0;
        background: 0;
        display: block;
        width: 100%
    }
    #mainMenu .navbar-nav ul li.megaMenuTitle {
        display: block;
        width: 100%
    }
    .navbar-nav .nekoMegaMenu {
        width: 100%;
        position: absolute;
        right: 0;
        top: 89px;
        z-index: 1024;
        padding: 22px
    }
    .navbar-nav .nekoMegaMenu ul {
        padding: 0
    }
    .navbar-nav .nekoMegaMenu ul li a {
        padding: 5px 10px 5px 10px
    }
    .nekoMegaMenu .container {
        width: auto;
        max-width: 1170px
    }
}

#mapWrapper {
    height: 350px
}

#mapWrapperSatellite {
    height: 650px
}

#noSliderWrapper {
    padding-top: 44px
}

.infoWindow {
    color: #555
}

@media(min-width:768px) {
    #home {
        padding-top: 54px
    }
}

.newsText {
    padding: 20px 20px 20px 20px
}

.newsText h3 {
    margin-bottom: 8px
}

.date {
    font-size: 12px;
    line-height: 12px;
    font-style: italic
}

.newsText p {
    font-size: 12px
}

footer {
    padding: 44px 0 0 0
}

#footerLogo {
    margin-bottom: 22px
}

#footerRights {
    padding: 22px 0;
    margin-top: 22px;
    text-align: center;
    font-size: 14px
}

.footerWidget {
    margin-bottom: 22px
}

footer h1.phone {
    font-size: 30px
}

.worksList li {
    display: inline-block;
    margin: 0 10px 10px 0
}

.worksList li a img {
    border-radius: 30px
}

.footer4 #footerRights {
    text-align: left;
    background: #333
}

.bigTitle.bigTitleFooter {
    font-size: 2em;
    margin-bottom: 0
}

@media(min-width:992px) {
    .footer5 #footerRights p {
        float: left
    }
    .footer5 #footerRights .socialNetwork {
        float: right
    }
}

#superSizedSlider {
    text-align: center;
    position: relative
}

#superSizedSlider h1#superSizedSlider h1 {
    font-size: 22px;
    display: block;
    line-height: 1.1em
}

#nextslide,
#prevslide {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-family: 'custom-icons';
    text-align: center;
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em
}

#prevslide:before {
    content: '\e804'
}

#nextslide:before {
    content: '\e805'
}

a#nextslide:hover,
a#prevslide:hover {
    text-decoration: none
}

#homeCarousel {
    text-align: center
}

#homeCarousel h1 {
    margin-bottom: 11px;
    font-weight: 100;
    font-size: 32px;
    line-height: 1em;
    text-transform: uppercase;
    padding: 0;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    display: inline-block
}

#homeCarousel h1:after {
    content: ''
}

#homeCarousel h2 {
    text-align: center;
    display: block;
    margin-bottom: 11px
}

#homeCarousel .btn {
    margin-top: 11px
}

#homeCarousel .owl-pagination {
    text-align: center
}

.owl-carousel.navLeft.owl-theme .owl-controls {
    text-align: left
}

.owl-theme .owl-controls .owl-buttons div {
    background: 0;
    font-family: 'custom-icons';
    font-size: 22px;
    text-align: center;
    color: #fff;
    opacity: 1;
    border-radius: 50%;
    padding: 0
}

.owl-controls .owl-page.active:hover {
    cursor: auto
}

.noOwlButtons .owl-buttons {
    display: none
}

.owl-next {
    right: -9px
}

.owl-prev {
    left: -9px
}

.owl-next i,
.owl-prev i {
    display: block;
    padding: 10px 5px
}

.owl-theme .owl-controls {
    margin-top: 22px
}

.owl-theme.centerOwlButtons .owl-controls .owl-buttons div {
    position: static
}

.owl-theme.centerOwlButtons .owl-pagination {
    display: none
}

.owl-carousel .item {
    position: relative
}

.owlCaption {
    padding: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.owlCaption p {
    display: none
}

.carouselWorksFullscreen img {
    width: 100%
}

.owl-animated .caption-wrapper {
    overflow: hidden;
    padding: 50px
}

.owl-animated.owl-theme .owl-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

@media(min-width:768px) {
    .owl-animated .caption-wrapper {
        position: absolute;
        top: 0;
        right: auto;
        width: 100%;
        height: 100%;
        padding: 0
    }
}

.owl-animated .caption {
    display: table;
    height: 100%;
    width: 100%
}

@media(min-width:768px) {
    .owl-animated .caption {
        height: 100%;
        width: 100%;
        position: absolute
    }
}

@media(min-width:1025px) {
    .owl-animated .caption.right {
        height: 100%;
        width: 50%;
        left: auto;
        right: 0
    }
    .owl-animated .caption.left {
        height: 100%;
        width: 50%;
        left: 0;
        right: auto
    }
}

.caption-body-wrapper {
    text-align: left;
    display: inline-block
}

.caption-content-position {
    display: table-cell;
    padding: 10px
}

@media(max-width:768px) {
    .caption-content-position.text-right,
    .caption-content-position.text-left,
    .caption-content-position.text-center {
        text-align: center
    }
}

@media(min-width:1200px) {
    .caption-content-position {
        padding: 50px
    }
}

.caption-content-position.v-top {
    vertical-align: top
}

.caption-content-position.v-middle {
    vertical-align: middle
}

.caption-content-position.v-bottom {
    vertical-align: bottom
}

.caption-content h1.bigHeading {
    font-size: 30px
}

@media(min-width:1025px) {
    .caption-content h1.bigHeading {
        font-size: 66px
    }
}

.owl-animated .caption h1:first-child,
.owl-animated .caption h2:first-child,
.owl-animated .caption h3:first-child,
.owl-animated .caption h4:first-child,
.owl-animated .caption h5:first-child,
.owl-animated .caption h6:first-child,
.owl-animated .caption p:first-child {
    margin-top: 0
}

.owl-animated .caption h1:last-child,
.owl-animated .caption h2:last-child,
.owl-animated .caption h3:last-child,
.owl-animated .caption h4:last-child,
.owl-animated .caption h5:last-child,
.owl-animated .caption h6:last-child,
.owl-animated .caption p:last-child {
    margin-bottom: 0
}

#cameraSliderWrapper {
    overflow: hidden;
    margin: 44px auto
}

.camera_neko_skin .camera_prevThumbs div {
    background-position: -160px -280px
}

.camera_neko_skin .camera_nextThumbs div {
    background-position: -190px -280px
}

.camera_neko_skin .camera_prev,
.camera_neko_skin .camera_next,
.camera_commands {
    background: 0;
    width: 50px;
    height: 50px;
    font-family: 'custom-icons';
    color: #fff;
    font-size: 2.5em
}

.camera_neko_skin .camera_prev {
    left: 22px;
    text-align: left
}

.camera_neko_skin .camera_next {
    right: 22px;
    text-align: right
}

.camera_neko_skin .camera_prev>span {
    background: 0
}

.camera_neko_skin .camera_prev:before {
    content: '\e804'
}

.camera_neko_skin .camera_next:before {
    content: '\e805'
}

.camera_neko_skin .camera_next>span {
    background: 0
}

.camera_neko_skin .camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff!important
}

.camera_neko_skin .camera_caption {
    width: 100%;
    text-align: center
}

.camera_neko_skin .camera_caption h1 {
    font-size: 18px;
    margin-bottom: 11px;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;
    padding: 0
}

.camera_neko_skin .camera_caption h2 {
    font-size: 12px;
    padding: 11px 22px;
    display: inline-block
}

.camera_neko_skin .camera_caption h2:after {
    content: none
}

.camera_neko_skin .camera_caption p {
    display: none
}

.camera_neko_skin .camera_caption>div {
    padding: 22px
}

.camera_neko_skin .camera_wrap .camera_pag .camera_pag_ul {
    text-align: center;
    background: #f7f7f7;
    border-bottom: 1px solid #eee
}

@media(max-width:767px) {
    .owlCaption h2 {
        margin: 0
    }
}

@media(min-width:768px) {
    .camera_neko_skin .camera_caption h1 {
        font-size: 66px
    }
    .camera_neko_skin .camera_caption h2 {
        font-size: 22px
    }
    .owlCaption {
        padding: 22px;
        bottom: 50px;
        left: 22px;
        width: 50%
    }
    .owlCaption.owlCaptionBottom {
        width: 100%;
        bottom: 0;
        left: 0
    }
    .owlCaption p {
        display: block
    }
}

@media(min-width:1200px) {
    #cameraSliderWrapper {
        height: 633px
    }
}

@media(max-width:400px) {
    #homeCarousel h2 {
        font-size: 12px
    }
}

@media(min-width:768px) {
    #homeCarousel h1 {
        font-size: 40px;
        text-align: left
    }
    #homeCarousel h2 {
        text-align: left
    }
    #homeCarousel {
        margin-top: 44px;
        text-align: left
    }
    #homeCarousel .owl-pagination {
        text-align: left
    }
    .camera_caption {
        width: 40%
    }
    .camera_caption h1 {
        font-size: 27px
    }
    .camera_caption h2 {
        font-size: 16px
    }
    .camera_caption p {
        display: block;
        line-height: 1.5em
    }
    #superSizedSlider h1 {
        font-size: 88px
    }
    #nextslide,
    #prevslide {
        font-size: 2em;
        height: 2em;
        line-height: 2em;
        width: 2em
    }
    .ls-fullwidth .ls-nav-prev,
    .ls-fullwidth .ls-nav-next,
    .ls-borderlesslight .ls-nav-prev,
    .ls-borderlesslight .ls-nav-next {
        display: block
    }
}

@media(min-width:992px) {
    #homeCarousel h1 {
        font-size: 50px
    }
    #homeCarousel {
        margin-top: 66px
    }
    .camera_caption h1 {
        font-size: 33px
    }
    .camera_caption h2 {
        font-size: 22px
    }
    .camera_caption p {
        font-size: 12px
    }
}

@media(min-width:1200px) {
    #homeCarousel h1 {
        font-size: 80px
    }
    #homeCarousel {
        margin-top: 55px
    }
    .flexFullScreen {
        min-height: 500px
    }
}

article.post {
    margin-bottom: 22px
}

.post h2 a:hover {
    text-decoration: none
}

ul.entry-meta li a {
    padding: 4px 10px 4px 5px;
    border-radius: 4px;
    text-decoration: none
}

.formatIcon {
    padding: 11px 0;
    border-top: 1px solid #fff
}

.formatIcon i {
    font-size: 22px
}

ul.entry-meta {
    margin: 0;
    padding: 0;
    font-size: 11px
}

ul.entry-meta li {
    display: inline-block;
    margin-bottom: 11px
}

.widget {
    margin-bottom: 22px;
    padding-bottom: 22px
}

.tagCloud a:link,
.tagCloud a:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 3px 14px 0;
    padding: 7px;
    border-radius: 2px;
    line-height: 1em
}

.page-header .col-sm-6 {
    margin-bottom: 0
}

.page-header {
    padding: 33px 0;
    margin: 0
}

.page-header.bigHeader,
.page-header.xBigHeader {
    padding: 0;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative
}

.page-header.bigHeader .container,
.page-header.xBigHeader .container {
    padding-top: 50px;
    padding-bottom: 50px
}

ul#navTrail {
    padding: 0;
    margin-bottom: 0;
    float: right;
    margin-top: 15px
}

ul#navTrail li {
    display: inline-block;
    font-size: 12px
}

ul#navTrail li a {
    text-decoration: none
}

ul#navTrail li a:after {
    content: " / "
}

nav#subnav {
    margin-bottom: 22px
}

nav#subnav ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

nav#subnav ul li a {
    margin: 0;
    padding: 11px 0;
    display: block;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

nav#subnav ul li a:hover {
    text-decoration: none
}

nav#subnav ul li a i {
    float: right;
    display: none;
    margin-top: 4px
}

nav#subnav ul li a:hover i,
nav#subnav ul li a.active i {
    display: block
}

nav#subnav {
    padding: 0
}

#big-video-wrap {
    position: absolute
}

#html5Video {
    height: 400px;
    overflow: hidden;
    position: relative
}

@media(min-width:768px) {
    #html5Video {
        height: 200px
    }
}

#html5Video,
#html5Video h1,
#html5Video h2 {
    color: white
}

#html5Video h1 {
    font-weight: 700
}

#html5Video h2:after {
    border: 0
}

.container.vAlignCenter {
    display: table;
    height: 100%;
    width: 100%
}

.vAlignCenter .row {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center
}

@media(min-width:768px) {
    .formatIcon i {
        font-size: 33px
    }
    #html5Video {
        height: 350px
    }
    body.headerTransparent {
        padding-top: 0
    }
    .page-header.bigHeader .container,
    .page-header.xBigHeader .container {
        padding-top: 70px;
        padding-bottom: 70px
    }
    .headerTransparent .page-header.bigHeader .container,
    .headerTransparent .page-header.xbigHeader .container {
        padding-top: 158px
    }
}

@media(min-width:992px) {
    #html5Video {
        height: 400px
    }
    .page-header.bigHeader .container {
        padding-top: 110px;
        padding-bottom: 110px
    }
    .headerTransparent .page-header.bigHeader .container {
        padding-top: 198px
    }
    .page-header.xbigHeader .container {
        padding-top: 160px;
        padding-bottom: 160px
    }
    .headerTransparent .page-header.xbigHeader .container {
        padding-top: 248px
    }
}

@media(min-width:1200px) {
    #html5Video {
        height: 650px
    }
    .page-header.bigHeader .container {
        padding-top: 160px;
        padding-bottom: 160px
    }
    .headerTransparent .page-header.bigHeader .container {
        padding-top: 248px
    }
    .page-header.xBigHeader .container {
        padding-top: 260px;
        padding-bottom: 260px
    }
    .headerTransparent .page-header.xBigHeader .container {
        padding-top: 348px
    }
}

nav#filter {
    margin-bottom: 22px
}

nav#filter a {
    outline: 0
}

nav#filter ul {
    padding: 0
}

nav#filter li {
    display: inline-block;
    list-style: none
}

.isotopeItem {
    margin-bottom: 22px
}

.page-header .projectTitle {
    text-align: right
}

header#project {
    padding: 22px 0
}

#project h1 {
    text-align: left
}

.centerBtn {
    display: inline-block!important
}

#fullWidthImageProject img {
    width: 100%
}

#portfolioFullWidth #shareme {
    float: right
}

.pinBox {
    padding: 15px;
    position: relative
}

.pinBox .boxContent {
    margin-top: 11px
}

.pinInfo {
    padding: 0;
    margin: 0
}

.pinInfo li {
    display: inline-block
}

.pinInfo li a {
    text-decoration: none;
    font-size: 12px
}

.pinInfo p {
    padding-bottom: 11px
}

#preloaderPortfolio {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
    height: 1000px
}

#preloaderPortfolio #status {
    top: 200px
}

.portfolioMosaic article {
    float: left;
    -webkit-backface-visibility: hidden
}

.portfolioMosaic.mosaic5 article,
.portfolioMosaic.mosaic4 article,
.portfolioMosaic.mosaic3 article,
.portfolioMosaic.mosaic2 article {
    width: 50%
}

.generatedMoreLink {
    position: absolute;
    display: block;
    background-color: #43b6b1;
    text-align: center
}

.generatedMoreLink a {
    display: inline-block;
    text-decoration: none
}

.generatedMoreLink a h2,
.generatedMoreLink a i {
    color: white
}

.valign:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: ''
}

.valign>.valigned {
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer
}

@media(min-width:768px) {
    .page-header .projectTitle {
        margin-top: 0
    }
    .portfolioMosaic.mosaic5 article {
        width: 33.33333333333333%
    }
    .portfolioMosaic.mosaic4 article {
        width: 33.33333333333333%
    }
    .portfolioMosaic.mosaic3 article {
        width: 33.33333333333333%
    }
    .portfolioMosaic.mosaic2 article {
        width: 33.33333333333333%
    }
}

@media(min-width:1024px) {
    .portfolioMosaic.mosaic5 article {
        width: 20%
    }
    .portfolioMosaic.mosaic4 article {
        width: 25%
    }
    .portfolioMosaic.mosaic3 article {
        width: 33.33333333333333%
    }
    .portfolioMosaic.mosaic2 article {
        width: 50%
    }
}

textarea#comments {
    height: 87px
}

#verify {
    width: auto;
    display: inline-block;
    margin-top: 11px
}

.securityCheck h3 {
    margin-bottom: 7px
}

.centeredForm {
    text-align: center
}

@media(min-width:768px) {
    #verify {
        margin-left: 15px;
        margin-top: 0
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000
}

#status {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    //margin: -150px 0 0 -100px;
    margin: -50px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: .5em
}

#status img {
    margin-bottom: 22px
}

#nekoToTop {
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 5px;
    display: none;
    border-radius: 4px 4px 0 0;
    width: 50px;
    text-align: center;
    z-index: 100
}

.highlight {
    margin-bottom: 44px
}

.bs-docs-section .btn {
    margin-bottom: 11px
}

#switcherContent {
    padding: 0 0 15px 0
}

.styleSwitcher {
    background: rgba(220, 220, 220, 0.5);
    position: fixed;
    top: 200px;
    width: 170px;
    left: -170px;
    z-index: 9999
}

.switcher.dark {
    background: #555
}

.styleSwitcher ul li {
    display: inline-block;
    line-height: 20px
}

.styleSwitcher ul {
    display: block;
    padding: 0;
    margin: 0
}

.styleSwitcher ul.switcher li a {
    display: block;
    text-indent: -3000px;
    overflow: hidden;
    border: 0;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0
}

.styleSwitcher h1 {
    padding: 0 0 6px 15px;
    line-height: 44px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #333;
    border: 0;
    margin: 0;
    text-align: left
}

.styleSwitcher h1:after {
    content: none
}

.styleSwitcher #showHideSwitcher {
    outline: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    background: rgba(220, 220, 220, 0.5);
    top: 0;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color: #333
}

.styleSwitcher #showHideSwitcher:hover i {
    color: #fff
}

.styleSwitcher select {
    font-size: 11px;
    margin: 0 0 15px 15px;
    background: #eee;
    border: 1px solid #ddd;
    width: 120px;
    padding: 4px;
    color: #333
}

.styleSwitcher .switcher {
    padding: 15px 15px 8px 15px
}

.styleSwitcher .switcher.dark {
    background: rgba(0, 0, 0, 0.5)
}

.layoutStyle {
    margin-bottom: 10px
}

a.btnSwitcher {
    display: block;
    width: 120px;
    border: 1px solid #eee;
    background: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 10px;
    color: #777;
    text-decoration: none;
    text-align: center;
    margin-left: 15px
}

.btnSwitcher.active,
.btnSwitcher:hover {
    border-color: #eee;
    background: #eee
}

ul.iconsTest {
    margin: 0 0 22px 0
}

.iconsTest li {
    display: block;
    float: left;
    margin-right: 22px
}

.ico1 {
    color: #0cf;
    font-size: 1em
}

.ico2 {
    color: #36f;
    font-size: 3em
}

.ico3 {
    color: #66c;
    font-size: 6em
}

.ico4 {
    color: #fff;
    font-size: 6em;
    text-shadow: 0 2px 2px #777
}

.imgHover article {
    display: inline-block;
    position: relative
}

.imgHover figure {
    margin: 0;
    position: relative
}

.imgHover figure img {
    max-width: 100%;
    display: block;
    position: relative
}

.imgHover figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px
}

.imgHover figcaption h3 {
    margin: 0;
    padding: 0
}

.imgHover figcaption span:before {
    content: 'by '
}

.neko-hover-1 figure {
    overflow: hidden
}

.neko-hover-1 figure img {
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s
}

.no-touch .neko-hover-1 figure:not(.noCss3):hover img,
.neko-hover-1 figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px)
}

.neko-hover-1 figcaption {
    width: 100%;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s
}

.no-touch .neko-hover-1 figure:not(.noCss3):hover figcaption,
.neko-hover-1 figure.cs-hover figcaption {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s
}

.neko-hover-1 figcaption .iconLinks a {
    display: inline-block;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.neko-hover-1 figcaption .iconLinks a {
    display: inline-block;
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 1px
}

.pinInfo p {
    font-size: 12px;
    margin-bottom: 0
}

ul.socialNetwork {
    padding: 0;
    display: block
}

ul.socialNetwork li {
    display: inline-block;
    list-style-type: none
}

.pricingBloc {
    text-align: center;
    margin-top: 22px;
    padding: 22px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    overflow: hidden
}

.pricingBloc:hover {
    margin-top: 18px
}

.pricingBloc .iconRounded {
    display: inline-block;
    margin-top: 22px
}

.pricingBloc ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5em 0 0 0;
    font-size: 12px
}

.pricingBloc ul li {
    padding: 11px 0
}

.pricingBloc h2 {
    font-size: 14px;
    margin-bottom: 0;
    padding: 11px;
    font-weight: 100
}

.pricingBloc h3 {
    font-size: 44px;
    font-weight: 100;
    display: block;
    padding: 22px;
    margin-bottom: 0
}

.pricingBloc h3 span {
    font-size: 14px;
    font-weight: 100;
    margin: 11px 0 0 0;
    display: block;
    letter-spacing: normal;
    line-height: 22px
}

.pricingBloc p {
    margin-bottom: 0;
    padding: 1.5em 0 0 0
}

.pricingBloc.focusPlan {
    margin-top: 0
}

.pricingBloc.focusPlan h3 {
    font-size: 66px;
    padding: 22px
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.2%;
    height: 0
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.videoWrapper.videoFormat2 {
    padding-bottom: 61%
}

p.credits {
    padding: 1.5em;
    margin-bottom: 1.5em
}

.sharrre .button {
    float: left;
    width: 60px
}

#shareme h4 {
    margin-top: 22px;
    font-size: 16px
}

#shareme a {
    display: block;
    text-align: center;
    width: 44px;
    height: 44px;
    padding-top: 10px;
    float: left;
    margin-right: 5px
}

#shareme i {
    color: #fff
}

#shareme .facebook {
    background: #3b5998
}

#shareme .twitter {
    background: #55acee
}

#shareme .googleplus {
    background: #d34836
}

#sharemeBtn a {
    margin: 0 11px 11px 11px
}

#sharemeBtn a,
#sharemeBtn i {
    color: #fff
}

#sharemeBtn .btnFacebook {
    background: #3b5998
}

#sharemeBtn .btnTwitter {
    background: #55acee
}

#sharemeBtn a.btnFacebook:hover {
    border-color: #3b5998
}

#sharemeBtn a.btnTwitter:hover {
    border-color: #55acee
}

@media(max-width:767px) {
    .img-responsive {
        width: 100%
    }
}